In [2]:
import pandas as pd

In [43]:
df = pd.read_csv('./네이버부동산_5101.csv')

In [44]:
df

,atclNo,cortarNo,atclNm,atclStatCd,rletTpCd,uprRletTpCd,rletTpNm,tradTpCd,tradTpNm,vrfcTpCd,...,maxMviFee,etRoomCnt,tradePriceHan,tradeRentPrice,tradeCheckedByOwner,cpLinkVO,dtlAddrYn,dtlAddr,point,atclFetrDesc
0,2234074643,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,750,NaN
1,2233406540,4282033000,단지내상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,690,NaN
2,2233176727,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,NaN
3,2233125765,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,"경동대입구 pc방 그대로인수시 시,물협의"
4,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.
5,2232732579,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,"봉포7번국도변 상가임대,약50m2 보1천,60약150m2 보2천,120"
6,2232974123,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,480,NaN
7,2231769791,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,450,면적외 쪽방2칸 있습니다.
8,2231620156,4282031000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,430,"고성군 대진항 중국집,식당 임대"
9,2231240993,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,410,7번국도대로변에 위치합니다
10,2232030896,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,360,NaN
11,2230992965,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,310,전 막국수 부대찌개 식당
12,2233655374,4282033000,일반상가,R0,D02,D02,상가,B2,월세,NONE,...,0,0,NaN,0,False,"{'cpId': 'KAR', 'mobileArticleLinkTypeCode': '...",N,NaN,-120,NaN
13,2234074643,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,750,NaN
14,2233406540,4282033000,단지내상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,690,NaN
15,2233176727,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,NaN
16,2233125765,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,"경동대입구 pc방 그대로인수시 시,물협의"
17,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.
18,2232732579,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,"봉포7번국도변 상가임대,약50m2 보1천,60약150m2 보2천,120"
19,2232974123,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,480,NaN
20,2231769791,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,450,면적외 쪽방2칸 있습니다.
21,2231620156,4282031000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,430,"고성군 대진항 중국집,식당 임대"
22,2231240993,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,410,7번국도대로변에 위치합니다
23,2232030896,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,360,NaN
24,2230992965,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,310,전 막국수 부대찌개 식당
25,2233655374,4282033000,일반상가,R0,D02,D02,상가,B2,월세,NONE,...,0,0,NaN,0,False,"{'cpId': 'KAR', 'mobileArticleLinkTypeCode': '...",N,NaN,-120,NaN
26,2234074643,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,750,NaN
27,2233406540,4282033000,단지내상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,690,NaN
28,2233176727,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,NaN
29,2233125765,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,630,"경동대입구 pc방 그대로인수시 시,물협의"
30,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.
31,2232732579,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,"봉포7번국도변 상가임대,약50m2 보1천,60약150m2 보2천,120"
32,2232974123,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,480,NaN
33,2231769791,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,450,면적외 쪽방2칸 있습니다.
34,2231620156,4282031000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,430,"고성군 대진항 중국집,식당 임대"
35,2231240993,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,410,7번국도대로변에 위치합니다
36,2232030896,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,360,NaN
37,2230992965,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,310,전 막국수 부대찌개 식당
38,2233655374,4282033000,일반상가,R0,D02,D02,상가,B2,월세,NONE,...,0,0,NaN,0,False,"{'cpId': 'KAR', 'mobileArticleLinkTypeCode': '...",N,NaN,-120,NaN

In [51]:
df[df['atclNo']==2232775429]

,atclNo,cortarNo,atclNm,atclStatCd,rletTpCd,uprRletTpCd,rletTpNm,tradTpCd,tradTpNm,vrfcTpCd,...,maxMviFee,etRoomCnt,tradePriceHan,tradeRentPrice,tradeCheckedByOwner,cpLinkVO,dtlAddrYn,dtlAddr,point,atclFetrDesc
4,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.
17,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.
30,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,0,0,NaN,0,False,"{'cpId': 'SERVE', 'mobileArticleUrl': 'http://...",N,NaN,590,평수 및 임대금액 다양하게 있습니다.

In [45]:
df1 = pd.read_csv('./네이버부동산_5701.csv')

In [46]:
df1

,atclNo,cortarNo,atclNm,atclStatCd,rletTpCd,uprRletTpCd,rletTpNm,tradTpCd,tradTpNm,vrfcTpCd,...,dtlAddrYn,dtlAddr,point,atclFetrDesc,sameAddrHash,sameAddrMaxPrc,sameAddrMaxPrc2,sameAddrMinPrc,sameAddrMinPrc2,sellrNm
0,2234074643,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2233406540,4282033000,단지내상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2233176727,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,630,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2233125765,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,630,"경동대입구 pc방 그대로인수시 시,물협의",NaN,NaN,NaN,NaN,NaN,NaN
4,2232775429,4282033000,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,590,평수 및 임대금액 다양하게 있습니다.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2234053732,4313011800,단지내상가,R0,D02,D02,상가,A1,매매,DOC,...,N,NaN,750,다용도빈점포 즉시입주,NaN,NaN,NaN,NaN,NaN,NaN
327,2234046192,4313011600,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,750,"칠금동사무소 인근위치,사무실추천",NaN,NaN,NaN,NaN,NaN,NaN
328,2234022659,4313010600,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,750,현 성업중,NaN,NaN,NaN,NaN,NaN,NaN
329,2233970315,4313010500,단지내상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,750,"음식업. 학원, 사무실, 미용실등 추천, 분할가능",NaN,NaN,NaN,NaN,NaN,NaN
330,2231821941,4313010100,일반상가,R0,D02,D02,상가,B2,월세,DOC,...,N,NaN,340,"현 호프집 인수 . 시 600 .관아골 주변 호프집 독점 자리,타업종가능",NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df1[df1['atclNo']==2232775429]['atclFetrDesc']

4     평수 및 임대금액 다양하게 있습니다.
17    평수 및 임대금액 다양하게 있습니다.
30    평수 및 임대금액 다양하게 있습니다.
Name: atclFetrDesc, dtype: object

### 자동화

In [ ]:
### 0. 임포트
import json
import time
import random
import requests
import datetime
import psycopg2
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent
ua = UserAgent()


### 1. 법정동 API
lawd_cd_df = pd.DataFrame()
lawd_cd_list = []
lawd_cd_unique = []

for i in range(1, 22):
    
    url = 'http://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList'
    serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
    params = {
        'serviceKey' : serviceKey,
        'pageNo' : str(i),
        'numOfRows' : '1000',
        'type' : 'json'
    }
    response = requests.get(url, params=params)
    content = response.text
    
    # Json List 변환
    lawd_cd_df = pd.DataFrame(pd.json_normalize(data = json.loads(content), record_path = 'StanReginCd')['row'][1])
    lawd_cd_list = list(lawd_cd_df['locatjumin_cd'].str[:10])
    
    # 시군구코드 unique하게 남기기
    for x in lawd_cd_list:
        if x not in lawd_cd_unique:
            lawd_cd_unique.append(x)


### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in range(0,20551):
    cortar_url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
    count = 0
    
    # 1~3 페이지 수집
    for num in range(1,4):
        try:
            count += 1
            start = time.time()
            
            # url 호출
            url = cortar_url + str(num)
            headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
            time.sleep(random.randrange(3,7))
            response = requests.get(url, headers = headers)
            
            # body 태그 선택
            items = response.json()['body']
            
            # 데이터프레임화
            df = pd.DataFrame(items)
            info_df = info_df.append(df)
        except:
            fails.append([i,num])
    
    # 수집한 한 법정동씩 DB INSERT
    if i % 100 == 0:
        
        ### 3. DB INSERT
        df = info_df
        table = 'm1.' # 테이블 지정

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            # drop & create
            cursor.execute(
            """
            drop table if exists m1.polygon_area;
            create table m1.polygon_area (
            polygon_area super
            , district_name varchar(200)
            , sido varchar(5)
            )
            compound sortkey(district_name, sido);
            commit;
            """
            )
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))

In [ ]:
### 4. DB 연동
import datetime # 순서 바꾸면 안됨
table = 'm1.polygon_area' # 테이블 지정

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    # drop & create
    cursor.execute(
    """
    drop table if exists m1.polygon_area;
    create table m1.polygon_area (
    polygon_area super
    , district_name varchar(200)
    , sido varchar(5)
    )
    compound sortkey(district_name, sido);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))