In [1]:
import numpy  as np
import pandas as pd

In [2]:
df = pd.read_excel("C:/oasis/git/data/[부동산통계정보_상업용 마이크로데이터]/2019_집합.xlsx")

In [4]:
df = pd.read_csv("./df.csv")

C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (1,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df

,Unnamed: 0,commercial_wide_area,cname,sido,plat_area,arch_area,tot_area,bc_rat,vl_rat,building_structure,...,selling_monthly_rent_sum_3rd,selling_monthly_rent_3rd,admin_cost_3rd,admin_actual_cost_3rd,vacant_3,current_contract_date,current_contract_term,first_current_contract_date,invest_calculation_amt,base_ym
0,0,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,...,1십만원 초과 5십만원 이하,3000,1십만원 이하,1십만원 초과 5십만원 이하,0,2018,13~24개월,2016년 1월 이후,480000,202212
1,1,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,...,1백만원 초과 5백만원 이하,16200,1십만원 이하,1십만원 이하,1,0,0,0,2510000,202212
2,2,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,...,5십만원 초과 1백만원 이하,6300,1십만원 이하,1십만원 이하,1,0,0,0,890000,202212
3,3,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,...,5십만원 초과 1백만원 이하,6700,1십만원 이하,1십만원 초과 5십만원 이하,0,2018,13~24개월,2011~2015년,890000,202212
4,4,NaN,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,...,1백만원 초과 5백만원 이하,16000,1십만원 이하,1십만원 초과 5십만원 이하,0,0,0,0,2500000,202212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20469,20469,NaN,충주자유시장,충청북도 충주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,70% 초과 80% 이하,300% 초과 400% 이하,철근콘크리트구조,...,5십만원 초과 1백만원 이하,36400,1십만원 이하,1십만원 이하,0,0,0,0,5080000,202212
20470,20470,NaN,충주자유시장,충청북도 충주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,70% 초과 80% 이하,300% 초과 400% 이하,철근콘크리트구조,...,5십만원 초과 1백만원 이하,36400,1십만원 이하,1십만원 이하,0,0,0,0,5090000,202212
20471,20471,NaN,충주자유시장,충청북도 충주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,70% 초과 80% 이하,300% 초과 400% 이하,철근콘크리트구조,...,1백만원 초과 5백만원 이하,4400,1십만원 이하,1십만원 이하,1,0,0,0,700000,202212
20472,20472,NaN,충주자유시장,충청북도 충주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,70% 초과 80% 이하,300% 초과 400% 이하,철근콘크리트구조,...,1백만원 초과 5백만원 이하,18800,1십만원 이하,1십만원 이하,0,2017,13~24개월,2016년 1월 이후,2860000,202212
20473,20473,NaN,충주자유시장,충청북도 충주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,70% 초과 80% 이하,300% 초과 400% 이하,철근콘크리트구조,...,1십만원 이하,3400,1십만원 이하,1십만원 이하,1,0,0,0,550000,202212

In [21]:
df = pd.read_excel("C:/oasis/git/data/[부동산통계정보_상업용 마이크로데이터]/2020_집합.xlsx")

In [2]:
df.to_csv('집합2019.csv',encoding='utf-8-sig', index=False)

NameError: name 'df' is not defined

In [3]:
df = pd.read_csv('./집합2019.csv')

C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (0,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
df = df.rename(columns={
      '광역상권' : 'commercial_wide_area'
    , '상권명' : 'cname'
    , '소재지' : 'sido'
    , '대지면적' : 'plat_area'
    , '건축면적' : 'arch_area'
    , '연면적' : 'tot_area'
    , '건폐율' : 'bc_rat'
    , '용적률' : 'vl_rat'
    , '건물구조' : 'building_structure'
    , '주용도' : 'main_purps_nm'
    , '지상층수' : 'ground_floor'
    , '지하층수' : 'under_ground_floor'
    , '사용승인_준공_일자' : 'useapr_day'
    , '승강기수' : 'elevator_gb'
    , '주차장면적' : 'parking_area'
    , '용도지역' : 'land_use'
    , '지하철역출구' : 'subway_distance'
    , '버스정류장' : 'bus_distance'
    , '주요교차로' : 'main_crossroad'
    , '전환률' : 'conversion_rate'
    , '전통시장' : 'traditional_market_gb'
    , '기준층' : 'typical_floor'
    , '조사층' : 'invest_floor'
    , '임차인사용현황구분' : 'tenant_usage_status'
    , '임차인업종대분류' : 'business_type_large'
    , '임차인업종소분류' : 'business_type_small'
    , '전용면적(호)' : 'net_leasable_area'
    , '공용면적(호)' : 'common_area'
    , '임차인별면적합계' : 'sum_area'
    , '소유자수(호)' : 'owner_ho'
    , '소유자형태' : 'owner_type'
    , '제1월계약임대료_보증금(총액)' : 'contract_deposit_1st'
    , '제1월계약임대료_월세(총액)' : 'contract_monthly_rent_sum_1st'
    , '제1월계약임대료_m당월세임대료' : 'contract_monthly_rent_1st'
    , '제1월시장임대료_보증금(총액)' : 'selling_deposit_1st'
    , '제1월시장임대료_월세(총액)' : 'selling_monthly_rent_sum_1st'
    , '제1월시장임대료_m당월세임대료' : 'selling_monthly_rent_1st'
    , '제1월관리비총액' : 'admin_cost_1st'
    , '제1월관리비실비총액' : 'admin_actual_cost_1st'
    , '제1월공실' : 'vacant_1'
    , '제2월계약임대료_보증금(총액)' : 'contract_deposit_2nd'
    , '제2월계약임대료_월세(총액)' : 'contract_monthly_rent_sum_2nd'
    , '제2월계약임대료_m당월세임대료' : 'contract_monthly_rent_2nd'
    , '제2월시장임대료_보증금(총액)' : 'selling_deposit_2nd'
    , '제2월시장임대료_월세(총액)' : 'selling_monthly_rent_sum_2nd'
    , '제2월시장임대료_m당월세임대료' : 'selling_monthly_rent_2nd'
    , '제2월관리비총액' : 'admin_cost_2nd'
    , '제2월관리비실비총액' : 'admin_actual_cost_2nd'
    , '제2월공실' : 'vacant_2'
    , '제3월계약임대료_보증금(총액)' : 'contract_deposit_3rd'
    , '제3월계약임대료_월세(총액)' : 'contract_monthly_rent_sum_3rd'
    , '제3월계약임대료_m당월세임대료' : 'contract_monthly_rent_3rd'
    , '제3월시장임대료_보증금(총액)' : 'selling_deposit_3rd'
    , '제3월시장임대료_월세(총액)' : 'selling_monthly_rent_sum_3rd'
    , '제3월시장임대료_m당월세임대료' : 'selling_monthly_rent_3rd'
    , '제3월관리비총액' : 'admin_cost_3rd'
    , '제3월관리비실비총액' : 'admin_actual_cost_3rd'
    , '제3월공실' : 'vacant_3'
    , '현계약개시일' : 'current_contract_date'
    , '현계약기간' : 'current_contract_term'
    , '최초계약개시일' : 'first_current_contract_date'
    , '최종조사산정액_m당단가' : 'invest_calculation_amt'
})

In [26]:
# 컬럼 개수 안 맞아서 추가
df = df[['commercial_wide_area', 'cname', 'sido', 'plat_area', 'arch_area', 'tot_area', 'vl_rat', 'bc_rat', 'building_structure',
'main_purps_nm', 'ground_floor', 'under_ground_floor', 'useapr_day', 'elevator_gb', 'parking_area', 'land_use', 'subway_distance',
'bus_distance', 'main_crossroad', 'conversion_rate', 'traditional_market_gb', 'typical_floor', 'invest_floor', 'tenant_usage_status', 'business_type_large',
'business_type_small', 'net_leasable_area', 'common_area', 'sum_area', 'owner_ho', 'owner_type',
'contract_deposit_1st', 'contract_monthly_rent_sum_1st', 'contract_monthly_rent_1st',
'selling_deposit_1st', 'selling_monthly_rent_sum_1st', 'selling_monthly_rent_1st', 'admin_cost_1st',
'admin_actual_cost_1st', 'vacant_1', 'contract_deposit_2nd', 'contract_monthly_rent_sum_2nd',
'contract_monthly_rent_2nd', 'selling_deposit_2nd', 'selling_monthly_rent_sum_2nd',
'selling_monthly_rent_2nd', 'admin_cost_2nd', 'admin_actual_cost_2nd', 'vacant_2',
'contract_deposit_3rd', 'contract_monthly_rent_sum_3rd', 'contract_monthly_rent_3rd',
'selling_deposit_3rd', 'selling_monthly_rent_sum_3rd', 'selling_monthly_rent_3rd', 'admin_cost_3rd',
'admin_actual_cost_3rd', 'vacant_3', 'current_contract_date', 'current_contract_term', 'first_current_contract_date', 'invest_calculation_amt']]

In [27]:
# base_ym 추가 
import datetime
df['base_ym'] = datetime.datetime.now().strftime("%Y%m")

In [5]:
import datetime

In [6]:
# DW INSERT
import psycopg2

table = 'm1.aggregate_bld'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    while True:
        try:
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )
            break
        except Exception as err:
            pass

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    tmp = pd.DataFrame()

# row count
print(len(df))

print('Done')

Error: list index out of range
Error: list index out of range
Error: list index out of range
20474
Done

In [4]:
# DW INSERT
import psycopg2

table = 'm1.aggregate_bld'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        # conn.rollback()
        conn.commit()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

Error: list index out of range

NameError: name 'datetime' is not defined