In [ ]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.4f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# pnu별 (매출, 점포수, 유동인구, 거주인구, 직장인구)의 평균
sql = '''
select A.pnu
	 , substring(A.pnu, 1, 10) as emd_cd
	 , round(
		 (
			   (((A.sale_12m - B.sale_12m_avg) / B.sale_12m_std)*5 + 75)
			 + (((A.comp_12m - B.comp_12m_avg) / B.comp_12m_std)*5 + 75)
			 + (((A.fltg_12m - B.fltg_12m_avg) / B.fltg_12m_std)*5 + 75)
			 + (((A.wpop_12m - B.wpop_12m_avg) / B.wpop_12m_std)*5 + 75)
			 + (((A.lpop_12m - B.lpop_12m_avg) / B.lpop_12m_std)*5 + 75)
		 )/5 -- 각 pnu별 평균
	 , 4) as score -- 소수점 4째 자리까지 표기
from ( -- base table
	select *
	from m2.ibk_pnu_01
	where base_ym = '202209'
) A
left join (
	select avg(case when sale_12m > 0 then sale_12m end) as sale_12m_avg
		 , stddev(case when sale_12m > 0 then sale_12m end) as sale_12m_std
		 , avg(case when comp_12m > 0 then comp_12m end) as comp_12m_avg
		 , stddev(case when comp_12m > 0 then comp_12m end) as comp_12m_std
		 , avg(case when fltg_12m > 0 then fltg_12m end) as fltg_12m_avg
		 , stddev(case when fltg_12m > 0 then fltg_12m end) as fltg_12m_std
		 , avg(case when wpop_12m > 0 then wpop_12m end) as wpop_12m_avg
		 , stddev(case when wpop_12m > 0 then wpop_12m end) as wpop_12m_std
		 , avg(case when lpop_12m > 0 then lpop_12m end) as lpop_12m_avg
		 , stddev(case when lpop_12m > 0 then lpop_12m end) as lpop_12m_std
	from m2.ibk_pnu_01
	where base_ym = '202209'
) B
	on 1=1
join m1.pnu C -- 실제 pnu 여부 확인
	on A.pnu = C.pnu
join (        -- 실제 건물 여부 확인
	select distinct sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
	from m1.bld_rgst
	where base_ym = (select base_ym from date)
) D
	on A.pnu = D.pnu
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['pnu','emd_cd','score']

# 작업일(업데이트일) 및 작업자 추가
df['create_at'] = datetime.today().strftime("%Y-%m-%d")
df['update_at'] = datetime.today().strftime("%Y-%m-%d")
df['work_user'] = 'du.Park'

In [ ]:
df

In [ ]:
### 2. DB INSERT
import datetime

table = 'm2.datadam_gentrification'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))