In [12]:
# 데이터 프레임 관련
import numpy  as np
import pandas as pd

# XML 관련
import bs4
from os import name

# API 호출 관련
import json
import requests

# 기타
import time
from tqdm import tqdm

# db connect
import psycopg2

In [2]:
# pnu 추출
df_pnu = pd.read_csv('./0.pnu.csv')

In [16]:
df_pnu = df_pnu.drop_duplicates().reset_index(drop=True)

In [17]:
df_pnu.to_csv('./0.pnu.csv', index=False, encoding='utf-8')

In [28]:
df_pnu[df_pnu['pnu']=='1111015800102690002']

                   pnu
9  1111015800102690002

In [26]:
cnt_bf = 0
cnt_af = 10

In [31]:
df_pnu['pnu'][748063]

'1132010800106370111'

In [32]:
while pnu == df_pnu['pnu'][748063]:
    pnu_list = list(df_pnu['pnu'][cnt_bf:cnt_af])
    pnu
    print(pnu)
    
    
    cnt_bf = cnt_af
    cnt_af = cnt_af + 10

In [20]:
# 리스트에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
df = pd.DataFrame() # 최종 값

# API 호출
srsName = 'EPSG:5179'
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 잘라서 담기
cnt_bf = 0
cnt_af = 10
# pnu_list = range(0, len(df_pnu['pnu'][cnt_bf:cnt_af]))
for pnu in pnu_list:
    pnu_list = df_pnu['pnu'][cnt_bf:cnt_af]
    cnt_bf = cnt_af
    cnt_af = cnt_af + 10
    url = f'http://apis.data.go.kr/1611000/nsdi/IndvdLandPriceService/wfs/getIndvdLandPriceWFS?pnu={pnu}&serviceKey={serviceKey}'
    response = requests.get(url)
    content  = response.text

    # item 태그 분리
    xml_obj = bs4.BeautifulSoup(content,'xml')
    DF = pd.DataFrame(xml_obj)
    DF = DF.transpose().drop_duplicates()
    DF = DF.drop([0],axis=0).reset_index(drop=True)

    # 데이터 수집
    for i in range(1,len(DF)):
        columns = DF[0][i].find_all()
        for j in range(0,len(columns)):
            name_list.append(columns[j].name)
            value_list.append(columns[j].text)
        
        row_list = value_list
        df_each  = pd.DataFrame([row_list], columns=name_list)
        try:
            df = pd.concat([df, df_each])
            df = df.reset_index(drop=True)
        except:
            print(i)
            pass

        # 초기화
        name_list  = []
        value_list = []

# nan처리
df = df.replace(' ', np.nan)
df = df.replace('', np.nan)
df = df.drop(columns=['F166','MultiSurface','surfaceMember','LinearRing','Polygon','exterior','posList'])

# xlsx로 저장
df.to_excel('./test_pnu.xlsx', index=False, encoding='utf-8')

# execute
table = 'm1.land_price_wfs'
# execute_mogrify(conn, df, table, val)

C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 132.27it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 73.46it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 219.46it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 406.31it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 460.31it/s]
0it [00:00, ?it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 60.44it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 57.92it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 443.94it/s]
C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 221.60it/s]

In [21]:
df

,SHAPE,PNU,LD_CPSG_CODE,LD_EMD_LI_CODE,REGSTR_SE_CODE,MNNM,SLNO,LNM_LNDCGR_SMBOL,ISSU_CONFM_CODE,SRC_OBJECTID,...,STD_LAND_AT,STD_LAND_SN,LNDCGR_CODE,LNDPCL_AR,PRPOS_AREA,LAD_USE_SITTN,LAD_USE_SITTN_ETC,TPGRPH_FRM_CODE,ROAD_SIDE_CODE,FRST_REGIST_DT
0,236452.8990000002 401017.2427999992 236432.932...,4146135025102240002,41461,35025,1,0224,0002,224-2장,1,1964728,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
1,200226.6840000004 412205.3259999994 200224.449...,4159012500101920234,41590,12500,1,0192,0234,192-234 전,1,3584601,...,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
2,194745.9699999997 396338.5850000009 194862.508...,4159040026100750033,41590,40026,1,0075,0033,75-33 도,1,2267248,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
3,180471.1929000001 481667.4134999998 180448.812...,4148025029116440000,41480,25029,1,1644,0000,1644 도,1,284793,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
4,190889.8600000003 440600 190914.9349999996 440...,1154510200110800002,11545,10200,1,1080,0002,1080-2도,1,66770,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:05:51
5,190361.4570000004 435600.3350000009 190355.001...,4121010600100490008,41210,10600,1,0049,0008,49-8임,1,293081,...,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
6,181788.0820000004 444788.9069999997 181776.342...,4119010300101010003,41190,10300,1,0101,0003,101-3도,1,720248,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
7,204717.1858999999 482271.6576000005 204704.845...,4163011700100960000,41630,11700,1,0096,0000,96대,1,301727,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:33:42
8,203842.6299999999 463650 203882.9400000004 463...,1132010800106370111,11320,10800,1,0637,0111,637-111 도,1,75856,...,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2022-08-04T18:05:51

In [22]:
df_pnu[df_pnu['pnu']=='1132010800106370111']

                        pnu
748063  1132010800106370111

In [23]:
df_pnu

                        pnu
0       1111012000101630000
1       1111017500101920000
2       1111015800101870002
3       1111014700100250004
4       1117013100106830047
...                     ...
748059  1117013100100020000
748060  4121010600100490008
748061  4119010300101010003
748062  4163011700100960000
748063  1132010800106370111

[748064 rows x 1 columns]