In [4]:
import datetime
import psycopg2
import numpy as np
import pandas as pd

df = pd.read_csv("./집합2019.csv")

df = df.replace(' ', None)
df = df.replace(np.nan, None)
df = df.replace('%', None)
df = df.replace({'NaN', None}, regex=True)
df = df.astype('str')

C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (0,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# DW INSERT
import psycopg2

table = 'm1.aggregate_bld1'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))    
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        # conn.rollback()
        conn.commit()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):
    
    # DB Connect
    while True:
        try:
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )
            break
        except Exception as err:
            pass

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    tmp = pd.DataFrame()

    print('Done, ', len(tmp))

Error: list index out of range
Done,  0
Error: list index out of range
Done,  0
Error: list index out of range
Done,  0

In [1]:
import datetime
import psycopg2
import numpy as np
import pandas as pd

df = pd.read_csv("./집합2019.csv")

df = df.replace(' ', None)
df = df.replace(np.nan, None)
df = df.replace({'NaN', None}, regex=True)
df = df.astype('str')

C:\Users\duPar\Anaconda3\envs\oasis\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (0,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [32]:
# ㎡
df = df.replace({'㎡', ''}, regex=True)
df = df.replace('%', '', regex=True)
df = df.replace('-', '', regex=True)

In [2]:
df.head(3)

,commercial_wide_area,cname,sido,plat_area,arch_area,tot_area,vl_rat,bc_rat,building_structure,main_purps_nm,...,selling_monthly_rent_sum_3rd,selling_monthly_rent_3rd,admin_cost_3rd,admin_actual_cost_3rd,vacant_3,current_contract_date,current_contract_term,first_current_contract_date,invest_calculation_amt,base_ym
0,nan,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,판매시설,...,1십만원 초과 5십만원 이하,3000,1십만원 이하,1십만원 초과 5십만원 이하,0,2018,13~24개월,2016년 1월 이후,480000,202212
1,nan,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,판매시설,...,1백만원 초과 5백만원 이하,16200,1십만원 이하,1십만원 이하,1,0,0,0,2510000,202212
2,nan,0.비상권,강원도 원주시,1000㎡ 초과 10000㎡ 이하,330㎡ 초과 1000㎡ 이하,1000㎡ 초과 10000㎡ 이하,60% 초과 70% 이하,200% 초과 300% 이하,철근콘크리트구조,판매시설,...,5십만원 초과 1백만원 이하,6300,1십만원 이하,1십만원 이하,1,0,0,0,890000,202212

In [3]:
### 3. DB INSERT
table = 'm1.aggregate_bld10'

# DB Connect
conn = psycopg2.connect(
    host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port=5439,
    dbname='dev',
    user='awsuser',
    password='cremaoAdmin1234qwer!!'
)

In [4]:
# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'
# print(val)

In [5]:
# Create a list of tuples from the dataframe values
tuples = [tuple(x) for x in df.to_numpy()]
# print(tuples)

In [6]:
# Comma-separated dataframe columns
cols = ','.join(list(df.columns))
# print(cols)

In [7]:
# SQL query to execute
cursor = conn.cursor()
values = [cursor.mogrify(val, tup).decode('utf8') for tup in
          tuples]

In [8]:
query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
# print(query)

In [9]:
cursor.execute(query, tuples)

IndexError: list index out of range

In [10]:
conn.commit()