In [1]:
# 데이터 프레임 관련
import pandas as pd

# API 호출 관련
import requests
import pprint
import json

# 기타
pd.set_option('display.width',1000)

In [109]:
DF = pd.read_csv('./oasis1.csv')

In [110]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1000 non-null   int64
 1   bd_mgt_sn     1000 non-null   object
 2   ref_bnm       1000 non-null   object
 3   is_franchise  1000 non-null   int64
 4   first_date    1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

### 국토교통부_상업업무용 부동산 매매 신고 자료

과거 데이터 수집

현재 데이터 수집

### 상업용부동산 임대동향 조사 통계 조회 서비스

1. 지역별 전환율

2. 지역별 임대가격지수

3. 지역별 분기 소득수익률

4. 지역별 분기 자본수익률

5. 지역별 분기 투자수익률

6. 지역별 유효조소득 중 기타수입 구성비

7. 순영업 소득

8. 지역별 영업경비 구성비

9. 지역별 유효조소득 중 임대수입 구성비

10. 지역별 임대료

11. 층별 임대료

12. 층별 효용비용

13. 지역별 공실률

14. 지역별 연간 소득수익률

15. 지역별 연간 자본수익률

16. 지역별 연간 투자수익률