### 최종

In [ ]:
### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,5000)):
    
    # url 설정
    url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)

    except:
        fails.append([i])
    
    # 받아온 바로 적재 (언제 막힐지 모르니까 바로바로 적재함)
    if len(info_df) > 0:
        
        # 컬럼 정리
        info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
        # NaN 처리
        info_df = info_df.fillna(np.nan)

        ### 3. DB INSERT
        df = info_df
        table = 'm1.asking_price'

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))

### ver1 (csv불러오기)

In [ ]:
# 임포트
import json
import time
import random
import requests
import psycopg2
import datetime
import numpy  as np
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()

### 1. 깃에서 법정동 CSV 파일 불러오기 (법정동코드 10자리)
cortar = pd.read_csv('C:\\oasis\\oasisbusiness-ds\\oasisbusiness-ds\\1_데이터수집\\법정동코드전체.csv')
cortar = cortar[cortar['폐지여부\r\n']=='존재\r\n'] # 존재하는 지역만 남기기
lawd_cd_unique = cortar.drop_duplicates('법정동코드')['법정동코드'] # 법정동 코드만 담기 (총 20551개)

### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,5000)):
    
    # url 설정
    url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)
        time.sleep(random.randrange(1,7))

    except:
        fails.append([i])
    
    # 받아온 바로 적재 (언제 막힐지 모르니까 바로바로 적재함)
    if len(info_df) > 0:
        
        # 컬럼 정리
        info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
        # NaN 처리
        info_df = info_df.fillna(np.nan)

        ### 3. DB INSERT
        df = info_df
        table = 'm1.asking_price'

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))

### ver2 (법정동 API)

In [ ]:
# 임포트
import json
import time
import random
import requests
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()

### 1. 법정동 API
lawd_cd_df = pd.DataFrame()
lawd_cd_list = []
lawd_cd_unique = []

for i in range(1, 22):
    
    url = 'http://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList'
    serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
    params = {
        'serviceKey' : serviceKey,
        'pageNo' : str(i),
        'numOfRows' : '1000',
        'type' : 'json'
    }
    response = requests.get(url, params=params)
    content = response.text
    
    # Json List 변환
    lawd_cd_df = pd.DataFrame(pd.json_normalize(data = json.loads(content), record_path = 'StanReginCd')['row'][1])
    lawd_cd_list = list(lawd_cd_df['locatjumin_cd'].str[:10])
    
    # 시군구코드 unique하게 남기기
    for x in lawd_cd_list:
        if x not in lawd_cd_unique:
            lawd_cd_unique.append(x)
            
            
fails = []
info_df = pd.DataFrame()

for i in tqdm(range(0,1000)):
    cortar_url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
    count = 0
    
    for num in range(1,4):
        
        try:
            count += 1
            start = time.time() 
            url = cortar_url + str(num)
            headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
            time.sleep(random.randrange(3,7))
            response = requests.get(url, headers = headers)
            print(response,str(int(time.time()-start)) + 'ms', str(count) +'/3')
            items = response.json()['body']
            df = pd.DataFrame(items)
            info_df = info_df.append(df)
        except:
            fails.append([i,num])
            
    if i % 100 == 0:
        info_df.to_csv('./네이버부동산_'+str(i+2)+'.csv',index=False,encoding='utf-8-sig')

info_df.to_csv('./네이버부동산_'+str(i+1)+'.csv',index=False,encoding='utf-8-sig')

  0%|                                                                                                                     | 0/1000 [00:00<?, ?it/s]

<Response [307]> 5ms 1/3
<Response [307]> 4ms 2/3

  0%|                                                                                                           | 1/1000 [00:14<3:58:12, 14.31s/it]

<Response [307]> 4ms 1/3
<Response [307]> 6ms 2/3

  0%|▏                                                                                                          | 2/1000 [00:28<3:59:00, 14.37s/it]

<Response [307]> 4ms 3/3
<Response [307]> 6ms 1/3
<Response [307]> 5ms 2/3

  0%|▎                                                                                                          | 3/1000 [00:44<4:06:20, 14.83s/it]

<Response [307]> 4ms 3/3
<Response [307]> 3ms 1/3
<Response [307]> 5ms 2/3

  0%|▍                                                                                                          | 4/1000 [00:57<3:56:41, 14.26s/it]

<Response [307]> 5ms 3/3
<Response [307]> 4ms 1/3
<Response [307]> 6ms 2/3

  0%|▌                                                                                                          | 5/1000 [01:12<3:58:28, 14.38s/it]

<Response [307]> 4ms 3/3
<Response [307]> 3ms 1/3
<Response [307]> 6ms 2/3

  1%|▋                                                                                                          | 6/1000 [01:27<4:03:53, 14.72s/it]

<Response [307]> 6ms 3/3
<Response [307]> 3ms 1/3
<Response [307]> 5ms 2/3

  1%|▋                                                                                                          | 7/1000 [01:41<4:02:05, 14.63s/it]

<Response [307]> 6ms 3/3
<Response [307]> 4ms 1/3
<Response [307]> 4ms 2/3

  1%|▊                                                                                                          | 8/1000 [01:54<3:50:02, 13.91s/it]

<Response [307]> 4ms 3/3
<Response [307]> 5ms 1/3
<Response [307]> 4ms 2/3

  1%|▉                                                                                                          | 9/1000 [02:09<3:57:47, 14.40s/it]

<Response [307]> 6ms 3/3
<Response [307]> 3ms 1/3
<Response [307]> 5ms 2/3

  1%|█                                                                                                         | 10/1000 [02:21<3:42:30, 13.49s/it]

<Response [307]> 3ms 3/3
<Response [307]> 5ms 1/3
<Response [307]> 6ms 2/3

  1%|█▏                                                                                                        | 11/1000 [02:36<3:52:03, 14.08s/it]

<Response [307]> 4ms 3/3

In [8]:
# 15601
fails = []
info_df = pd.DataFrame()

cortar_url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(ls_cortar[2])
headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
response = requests.get(cortar_url, headers = headers)

items = response.json()['body']
items

[{'atclNo': '2233528680',
  'cortarNo': '1111010100',
  'atclNm': '일반상가',
  'atclStatCd': 'R0',
  'rletTpCd': 'D02',
  'uprRletTpCd': 'D02',
  'rletTpNm': '상가',
  'tradTpCd': 'B2',
  'tradTpNm': '월세',
  'vrfcTpCd': 'DOC',
  'flrInfo': '1/4',
  'prc': 10000,
  'rentPrc': 420,
  'hanPrc': '1억',
  'spc1': 90,
  'spc2': 90,
  'direction': '남향',
  'atclCfmYmd': '22.09.27.',
  'lat': 37.585205,
  'lng': 126.970532,
  'atclFetrDesc': '청운동 대로변 코너 신축건물 1층상가',
  'tagList': ['2년이내', '융자금없는', '1층', '주차가능'],
  'bildNm': '',
  'minute': 0,
  'sameAddrCnt': 1,
  'sameAddrDirectCnt': 0,
  'cpid': 'NEONET',
  'cpNm': '부동산뱅크',
  'cpCnt': 1,
  'rltrNm': '서촌상가공인중개사',
  'directTradYn': 'N',
  'minMviFee': 0,
  'maxMviFee': 0,
  'etRoomCnt': 0,
  'tradePriceHan': '',
  'tradeRentPrice': 0,
  'tradeCheckedByOwner': False,
  'cpLinkVO': {'cpId': 'NEONET',
   'mobileArticleLinkTypeCode': 'NONE',
   'mobileBmsInspectPassYn': 'Y',
   'pcArticleLinkUseAtArticleTitle': False,
   'pcArticleLinkUseAtCpName': False,
   'mobileArticleLinkUseAtArticleTitle': False,
   'mobileArticleLinkUseAtCpName': False},
  'dtlAddrYn': 'N',
  'dtlAddr': ''},
 {'atclNo': '2231942474',
  'cortarNo': '1111010100',
  'atclNm': '일반상가',
  'atclStatCd': 'R0',
  'rletTpCd': 'D02',
  'uprRletTpCd': 'D02',
  'rletTpNm': '상가',
  'tradTpCd': 'B2',
  'tradTpNm': '월세',
  'vrfcTpCd': 'OWNER',
  'flrInfo': 'B1/3',
  'prc': 3000,
  'rentPrc': 200,
  'hanPrc': '3,000',
  'spc1': 75,
  'spc2': 75,
  'direction': '남향',
  'atclCfmYmd': '22.09.16.',
  'lat': 37.585388,
  'lng': 126.971051,
  'atclFetrDesc': '즉시입점,음악 스튜디오,리뉴얼,특급상태,삼거리 코너자리,입지 굿',
  'tagList': ['25년이상', '융자금없는', '관리비10만원이하', '총3층'],
  'bildNm': '',
  'minute': 0,
  'sameAddrCnt': 1,
  'sameAddrDirectCnt': 0,
  'cpid': 'NEONET',
  'cpNm': '부동산뱅크',
  'cpCnt': 1,
  'rltrNm': '충북부동산합동공인중개사사무소',
  'directTradYn': 'N',
  'minMviFee': 0,
  'maxMviFee': 0,
  'etRoomCnt': 0,
  'tradePriceHan': '',
  'tradeRentPrice': 0,
  'tradeCheckedByOwner': False,
  'cpLinkVO': {'cpId': 'NEONET',
   'mobileArticleLinkTypeCode': 'NONE',
   'mobileBmsInspectPassYn': 'Y',
   'pcArticleLinkUseAtArticleTitle': False,
   'pcArticleLinkUseAtCpName': False,
   'mobileArticleLinkUseAtArticleTitle': False,
   'mobileArticleLinkUseAtCpName': False},
  'dtlAddrYn': 'N',
  'dtlAddr': ''},
 {'atclNo': '2233531612',
  'cortarNo': '1111010100',
  'atclNm': '일반상가',
  'atclStatCd': 'R0',
  'rletTpCd': 'D02',
  'uprRletTpCd': 'D02',
  'rletTpNm': '상가',
  'tradTpCd': 'B2',
  'tradTpNm': '월세',
  'vrfcTpCd': 'DOC',
  'flrInfo': 'B1/4',
  'prc': 8000,
  'rentPrc': 230,
  'hanPrc': '8,000',
  'spc1': 110,
  'spc2': 110,
  'direction': '남향',
  'atclCfmYmd': '22.09.27.',
  'lat': 37.585205,
  'lng': 126.970532,
  'atclFetrDesc': '청운동 대로변 코너 신축건물 상가 사무실 임대',
  'tagList': ['2년이내', '융자금없는', '주차가능', '총4층'],
  'bildNm': '',
  'minute': 0,
  'sameAddrCnt': 1,
  'sameAddrDirectCnt': 0,
  'cpid': 'NEONET',
  'cpNm': '부동산뱅크',
  'cpCnt': 1,
  'rltrNm': '서촌상가공인중개사',
  'directTradYn': 'N',
  'minMviFee': 0,
  'maxMviFee': 0,
  'etRoomCnt': 0,
  'tradePriceHan': '',
  'tradeRentPrice': 0,
  'tradeCheckedByOwner': False,
  'cpLinkVO': {'cpId': 'NEONET',
   'mobileArticleLinkTypeCode': 'NONE',
   'mobileBmsInspectPassYn': 'Y',
   'pcArticleLinkUseAtArticleTitle': False,
   'pcArticleLinkUseAtCpName': False,
   'mobileArticleLinkUseAtArticleTitle': False,
   'mobileArticleLinkUseAtCpName': False},
  'dtlAddrYn': 'N',
  'dtlAddr': ''},
 {'atclNo': '2231368672',
  'cortarNo': '1111010100',
  'atclNm': '일반상가',
  'atclStatCd': 'R0',
  'rletTpCd': 'D02',
  'uprRletTpCd': 'D02',
  'rletTpNm': '상가',
  'tradTpCd': 'B2',
  'tradTpNm': '월세',
  'vrfcTpCd': 'DOC',
  'flrInfo': '1/3',
  'prc': 3000,
  'rentPrc': 250,
  'hanPrc': '3,000',
  'spc1': 74,
  'spc2': 74,
  'direction': '동향',
  'atclCfmYmd': '22.09.13.',
  'lat': 37.587512,
  'lng': 126.969271,
  'atclFetrDesc': '청운동 1층 사무실 임대',
  'tagList': ['25년이내', '융자금없는', '1층', '관리비10만원이하'],
  'bildNm': '',
  'minute': 0,
  'sameAddrCnt': 1,
  'sameAddrDirectCnt': 0,
  'cpid': 'NEONET',
  'cpNm': '부동산뱅크',
  'cpCnt': 1,
  'rltrNm': '서촌상가공인중개사',
  'directTradYn': 'N',
  'minMviFee': 0,
  'maxMviFee': 0,
  'etRoomCnt': 0,
  'tradePriceHan': '',
  'tradeRentPrice': 0,
  'tradeCheckedByOwner': False,
  'cpLinkVO': {'cpId': 'NEONET',
   'mobileArticleLinkTypeCode': 'NONE',
   'mobileBmsInspectPassYn': 'Y',
   'pcArticleLinkUseAtArticleTitle': False,
   'pcArticleLinkUseAtCpName': False,
   'mobileArticleLinkUseAtArticleTitle': False,
   'mobileArticleLinkUseAtCpName': False},
  'dtlAddrYn': 'N',
  'dtlAddr': ''}]

### ver3

In [ ]:
# 임포트
import json
import time
import random
import requests
import psycopg2
import numpy  as np
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()


### 1. 법정동 API
lawd_cd_df = pd.DataFrame()
lawd_cd_list = []
lawd_cd_unique = []

for i in range(1, 22):
    
    url = 'http://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList'
    serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
    params = {
        'serviceKey' : serviceKey,
        'pageNo' : str(i),
        'numOfRows' : '1000',
        'type' : 'json'
    }
    response = requests.get(url, params=params)
    content = response.text
    
    # Json List 변환
    lawd_cd_df = pd.DataFrame(pd.json_normalize(data = json.loads(content), record_path = 'StanReginCd')['row'][1])
    lawd_cd_list = list(lawd_cd_df['locatjumin_cd'].str[:10])
    
    # 시군구코드 unique하게 남기기
    for x in lawd_cd_list:
        if x not in lawd_cd_unique:
            lawd_cd_unique.append(x)


### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,2)):
    
    # url 설정
    url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)
        time.sleep(random.randrange(1,7))

    except:
        fails.append([i])
    
    # 받아온 바로 적재 (언제 막힐지 모르니까 바로바로 적재함)
    if len(info_df) > 0:
        
        # 컬럼 정리
        info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
        # NaN 처리
        info_df = info_df.fillna(np.nan)

        ### 3. DB INSERT
        df = info_df
        table = 'm1.asking_price'

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))

In [1]:
# 임포트
import json
import time
import random
import requests
import psycopg2
import datetime
import numpy  as np
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()

### 1. 깃에서 법정동 CSV 파일 불러오기 (법정동코드 10자리)
cortar = pd.read_csv('C:\\oasis\\oasisbusiness-ds\\oasisbusiness-ds\\1_데이터수집\\법정동코드전체.csv')
cortar = cortar[cortar['폐지여부\r\n']=='존재\r\n'] # 존재하는 지역만 남기기
lawd_cd_unique = cortar.drop_duplicates('법정동코드')['법정동코드'] # 법정동 코드만 담기 (총 20551개)

In [49]:
### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,2)):
    
    # url 설정
    url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)
        time.sleep(random.randrange(1,7))

    except:
        fails.append([i])
    
    # 받아온 바로 적재 (언제 막힐지 모르니까 바로바로 적재함)
    if len(info_df) > 0:
        
        # 컬럼 정리
        info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
        # NaN 처리
        info_df = info_df.fillna(np.nan)

        ### 3. DB INSERT
        df = info_df
        table = 'm1.asking_price'

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:10<00:00,  5.30s/it]

2022-10-06 18:37:47.183221  :  0
20

In [ ]:
# 컬럼 정리
info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
# NaN 처리
info_df = info_df.fillna(np.nan)

In [8]:
# list to str
info_df = info_df.reset_index(drop=True)
for i in info_df.index:
    info_df.loc[i]['tagList'] = ' '.join(info_df['tagList'][i])

In [ ]:
# 컬럼 정리
info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','hanPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','tagList','bildNm','minute','sameAddrCnt','sameAddrDirectCnt','cpid','cpNm','cpCnt','rltrNm','directTradYn','minMviFee','maxMviFee','etRoomCnt','tradePriceHan','tradeRentPrice','tradeCheckedByOwner','cpLinkVO','dtlAddrYn','dtlAddr']]
# info_df = info_df.reset_index(drop=True)

# 매물정보(cpLinkVO) 데이터 타입 변경 (dict to list)
for i in range(len(info_df.index)):
    for key, value in info_df['cpLinkVO'].iteritems():
        tmp = [value]
        info_df['cpLinkVO'][i] = tmp

In [38]:
### 3. DB INSERT
df = info_df
table = 'm1.asking_price'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-10-06 18:33:21.595011  :  0
20

### ver4

In [1]:
# 임포트
import json
import time
import random
import requests
import psycopg2
import datetime
import numpy  as np
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()

### 1. 깃에서 법정동 CSV 파일 불러오기 (법정동코드 10자리)
cortar = pd.read_csv('C:\\oasis\\oasisbusiness-ds\\oasisbusiness-ds\\1_데이터수집\\법정동코드전체.csv')
cortar = cortar[cortar['폐지여부\r\n']=='존재\r\n'] # 존재하는 지역만 남기기
lawd_cd_unique = cortar.drop_duplicates('법정동코드')['법정동코드'] # 법정동 코드만 담기 (총 20551개)

In [ ]:
for num in range(1,4):
    try:
        count += 1
        start = time.time() 
        url = cortar_url + str(num)

In [ ]:
### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,20)):
    
    # url 설정
    cortar_url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank&page='.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        url = cortar_url + str(num)
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)

    except:
        fails.append([i])

 15%|████████████████▋                                                                                              | 3/20 [02:20<12:48, 45.19s/it]

In [ ]:
# 전체 데이터프레임 확인
len(info_df)

In [ ]:
# 중복 개수 확인
len(info_df.drop_duplicates('atclNo'))

In [ ]:
# 임포트
import json
import time
import random
import requests
import psycopg2
import numpy  as np
import pandas as pd
from tqdm import tqdm
from fake_useragent import UserAgent

ua = UserAgent()


### 1. 법정동 API
lawd_cd_df = pd.DataFrame()
lawd_cd_list = []
lawd_cd_unique = []

for i in range(1, 22):
    
    url = 'http://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList'
    serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
    params = {
        'serviceKey' : serviceKey,
        'pageNo' : str(i),
        'numOfRows' : '1000',
        'type' : 'json'
    }
    response = requests.get(url, params=params)
    content = response.text
    
    # Json List 변환
    lawd_cd_df = pd.DataFrame(pd.json_normalize(data = json.loads(content), record_path = 'StanReginCd')['row'][1])
    lawd_cd_list = list(lawd_cd_df['locatjumin_cd'].str[:10])
    
    # 시군구코드 unique하게 남기기
    for x in lawd_cd_list:
        if x not in lawd_cd_unique:
            lawd_cd_unique.append(x)


### 2. 전월세 호가 수집
# 변수 생성
fails = [] # 수집 안 된 법정동
info_df = pd.DataFrame() # 최종 데이터프레임

# json to dataframe (법정동 단위 수집)
for i in tqdm(range(0,2)):
    
    # url 설정
    url = 'https://m.land.naver.com/cluster/ajax/articleList?itemId=&mapKey=&lgeo=&showR0=&rletTpCd=SG&tradTpCd=A1%3AB1%3AB2&z=14&totCnt=402&cortarNo={}&sort=rank'.format(lawd_cd_unique[i])
      
    try:
        # url 호출
        headers = {'user-agent' : ua.ie,'referer' : 'https://m.land.naver.com/'}
        time.sleep(random.randrange(3,7))
        response = requests.get(url, headers = headers)

        # body 태그 선택
        items = response.json()['body']

        # 데이터프레임화
        df = pd.DataFrame(items)
        info_df = info_df.append(df)
        time.sleep(random.randrange(1,7))

    except:
        fails.append([i])
    
    # 받아온 바로 적재 (언제 막힐지 모르니까 바로바로 적재함)
    if len(info_df) > 0:
        
        # 컬럼 정리
        info_df = info_df[['atclNo','cortarNo','atclNm','atclStatCd','rletTpCd','uprRletTpCd','rletTpNm','tradTpCd','tradTpNm','vrfcTpCd','flrInfo','prc','rentPrc','spc1','spc2','direction','atclCfmYmd','lat','lng','atclFetrDesc','cpid','cpNm','rltrNm']]
        # NaN 처리
        info_df = info_df.fillna(np.nan)

        ### 3. DB INSERT
        df = info_df
        table = 'm1.asking_price'

        # execute_mogrify
        def execute_mogrify(conn, df, table, val):
            # Create a list of tuples from the dataframe values
            tuples = [tuple(x) for x in df.to_numpy()]
            # Comma-separated dataframe columns
            cols = ','.join(list(df.columns))
            # SQL query to execute
            cursor = conn.cursor()
            values = [cursor.mogrify(val, tup).decode('utf8') for tup in
                      tuples]
            query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

            try:
                cursor.execute(query, tuples)
                conn.commit()
            except (Exception, psycopg2.DatabaseError) as error:
                print("Error: %s" % error)
                conn.rollback()
                cursor.close()
                return 1
            cursor.close()

        # values 설정
        val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

        # insert
        for j in range(0, len(df), 10000):

            # DB Connect
            conn = psycopg2.connect(
                host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
                port=5439,
                dbname='dev',
                user='awsuser',
                password='cremaoAdmin1234qwer!!'
            )

            # 10000개 단위로 나누기
            tmp = df[j:j + 10000]

            # insert
            execute_mogrify(conn, tmp, table, val)
            print(datetime.datetime.now(), ' : ', j)
            tmp = pd.DataFrame()

        # row count
        print(len(df))