In [1]:
# 데이터 프레임 관련
import pprint
import numpy  as np
import pandas as pd

# XML 관련
import bs4
from os import name
from lxml import html
import xml.etree.ElementTree as et
from urllib.parse import urlencode, quote_plus, unquote

# API 호출 관련
import json
import requests

# 기타
from tqdm import tqdm
pd.set_option('display.width',1000)

### DF 가져오기

In [10]:
df = pd.read_csv('./rtms_trade.csv')
df

C:\Users\duPar\AppData\Local\Temp\ipykernel_15672\3965694421.py:1: DtypeWarning: Columns (1,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./rtms_trade.csv')

       deal_amount trade_type  building_area building_use  build_year  deal_year  plottage     dong sigungu land_use  deal_month building_type  deal_day broker_location  regional_code unregister_day unregister_status  floor_ share_dealing
0           24,000        NaN          76.33           판매      1983.0       2019       NaN      당주동     종로구     일반상업           1            집합        29             NaN          11110            NaN               NaN     NaN           NaN
1           52,749        NaN          51.62           기타      2004.0       2019       NaN      내수동     종로구     일반상업           1            집합        30             NaN          11110            NaN               NaN     NaN           NaN
2        3,650,000        NaN        2848.11         교육연구      1994.0       2019    1791.1    신문로2가     종로구  제1종일반주거           1            일반        25             NaN          11110            NaN               NaN     NaN           NaN
3           38,512        NaN          39.67           숙박      2005.0       2019       NaN      수송동     종로구     일반상업           1            집합        15             NaN          11110            NaN               NaN     NaN           NaN
4           21,000        NaN          75.67           업무      1991.0       2019       NaN      관훈동     종로구     일반상업           1            집합        23             NaN          11110            NaN               NaN    13.0           NaN
...            ...        ...            ...          ...         ...        ...       ...      ...     ...      ...         ...           ...       ...             ...            ...            ...               ...     ...           ...
315489      22,000        직거래          60.68           숙박      2020.0       2022       NaN  안덕면 사계리    서귀포시     계획관리           6            집합        17             NaN          50130            NaN               NaN     2.0           NaN
315490      13,570        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        13             NaN          50130            NaN               NaN    24.0           NaN
315491      14,280        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        15             NaN          50130            NaN               NaN    26.0           NaN
315492      17,850        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        16             NaN          50130            NaN               NaN    24.0           NaN
315493      17,850        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        28             NaN          50130            NaN               NaN    24.0           NaN

[315494 rows x 19 columns]

In [26]:
df['build_year'] = df['build_year'].astype(str).str.split('.').str[0]

In [32]:
df[df['deal_month'].notnull()]

       deal_amount trade_type  building_area building_use build_year  deal_year  plottage     dong sigungu land_use  deal_month building_type  deal_day broker_location  regional_code unregister_day unregister_status  floor_ share_dealing
0           24,000        NaN          76.33           판매       1983       2019       NaN      당주동     종로구     일반상업           1            집합        29             NaN          11110            NaN               NaN     NaN           NaN
1           52,749        NaN          51.62           기타       2004       2019       NaN      내수동     종로구     일반상업           1            집합        30             NaN          11110            NaN               NaN     NaN           NaN
2        3,650,000        NaN        2848.11         교육연구       1994       2019    1791.1    신문로2가     종로구  제1종일반주거           1            일반        25             NaN          11110            NaN               NaN     NaN           NaN
3           38,512        NaN          39.67           숙박       2005       2019       NaN      수송동     종로구     일반상업           1            집합        15             NaN          11110            NaN               NaN     NaN           NaN
4           21,000        NaN          75.67           업무       1991       2019       NaN      관훈동     종로구     일반상업           1            집합        23             NaN          11110            NaN               NaN    13.0           NaN
...            ...        ...            ...          ...        ...        ...       ...      ...     ...      ...         ...           ...       ...             ...            ...            ...               ...     ...           ...
315489      22,000        직거래          60.68           숙박       2020       2022       NaN  안덕면 사계리    서귀포시     계획관리           6            집합        17             NaN          50130            NaN               NaN     2.0           NaN
315490      13,570        직거래          12.13           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        13             NaN          50130            NaN               NaN    24.0           NaN
315491      14,280        직거래          12.13           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        15             NaN          50130            NaN               NaN    26.0           NaN
315492      17,850        직거래          12.13           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        16             NaN          50130            NaN               NaN    24.0           NaN
315493      17,850        직거래          12.13           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        28             NaN          50130            NaN               NaN    24.0           NaN

[315494 rows x 19 columns]

In [35]:
import datetime

In [36]:
table = 'm1.rtms_trade'

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# insert
for j in tqdm(range(0, len(df), 10000)):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

  3%|██▌                                                                                | 1/32 [00:19<09:52, 19.10s/it]

2022-08-18 11:29:55.905771  :  0

  6%|█████▏                                                                             | 2/32 [00:27<06:26, 12.89s/it]

2022-08-18 11:30:04.445371  :  10000

  9%|███████▊                                                                           | 3/32 [00:41<06:33, 13.55s/it]

2022-08-18 11:30:18.795045  :  20000

 12%|██████████▍                                                                        | 4/32 [00:53<05:54, 12.68s/it]

2022-08-18 11:30:30.125623  :  30000

 16%|████████████▉                                                                      | 5/32 [01:01<04:59, 11.09s/it]

2022-08-18 11:30:38.388390  :  40000

 19%|███████████████▌                                                                   | 6/32 [01:07<03:58,  9.19s/it]

2022-08-18 11:30:43.882573  :  50000

 22%|██████████████████▏                                                                | 7/32 [01:13<03:29,  8.40s/it]

2022-08-18 11:30:50.658047  :  60000

 25%|████████████████████▊                                                              | 8/32 [01:21<03:19,  8.31s/it]

2022-08-18 11:30:58.770652  :  70000

 28%|███████████████████████▎                                                           | 9/32 [01:31<03:20,  8.70s/it]

2022-08-18 11:31:08.330434  :  80000

 31%|█████████████████████████▋                                                        | 10/32 [01:41<03:18,  9.04s/it]

2022-08-18 11:31:18.141446  :  90000

 34%|████████████████████████████▏                                                     | 11/32 [01:55<03:40, 10.52s/it]

2022-08-18 11:31:32.001034  :  100000

 38%|██████████████████████████████▊                                                   | 12/32 [02:03<03:17,  9.90s/it]

2022-08-18 11:31:40.477030  :  110000

 41%|█████████████████████████████████▎                                                | 13/32 [02:09<02:45,  8.69s/it]

2022-08-18 11:31:46.378584  :  120000

 44%|███████████████████████████████████▉                                              | 14/32 [02:17<02:31,  8.44s/it]

2022-08-18 11:31:54.263373  :  130000

 47%|██████████████████████████████████████▍                                           | 15/32 [02:25<02:22,  8.36s/it]

2022-08-18 11:32:02.420699  :  140000

 50%|█████████████████████████████████████████                                         | 16/32 [02:34<02:14,  8.43s/it]

2022-08-18 11:32:11.013349  :  150000

 53%|███████████████████████████████████████████▌                                      | 17/32 [02:42<02:07,  8.49s/it]

2022-08-18 11:32:19.654862  :  160000

 56%|██████████████████████████████████████████████▏                                   | 18/32 [02:49<01:49,  7.81s/it]

2022-08-18 11:32:25.874055  :  170000

 59%|████████████████████████████████████████████████▋                                 | 19/32 [02:56<01:40,  7.76s/it]

2022-08-18 11:32:33.502839  :  180000

 62%|███████████████████████████████████████████████████▎                              | 20/32 [03:04<01:31,  7.63s/it]

2022-08-18 11:32:40.839688  :  190000

 66%|█████████████████████████████████████████████████████▊                            | 21/32 [03:09<01:18,  7.10s/it]

2022-08-18 11:32:46.689770  :  200000

 69%|████████████████████████████████████████████████████████▍                         | 22/32 [03:16<01:10,  7.01s/it]

2022-08-18 11:32:53.491612  :  210000

 72%|██████████████████████████████████████████████████████████▉                       | 23/32 [03:30<01:22,  9.20s/it]

2022-08-18 11:33:07.804145  :  220000

 75%|█████████████████████████████████████████████████████████████▌                    | 24/32 [03:41<01:16,  9.57s/it]

2022-08-18 11:33:18.248684  :  230000

 78%|████████████████████████████████████████████████████████████████                  | 25/32 [03:47<00:59,  8.47s/it]

2022-08-18 11:33:24.148473  :  240000

 81%|██████████████████████████████████████████████████████████████████▋               | 26/32 [03:51<00:43,  7.19s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:28.358010  :  250000

 84%|█████████████████████████████████████████████████████████████████████▏            | 27/32 [03:56<00:31,  6.40s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:32.901241  :  260000

 88%|███████████████████████████████████████████████████████████████████████▊          | 28/32 [04:02<00:25,  6.39s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:39.263354  :  270000
Error: value too long for type character varying(10)

 91%|██████████████████████████████████████████████████████████████████████████▎       | 29/32 [04:08<00:18,  6.21s/it]

2022-08-18 11:33:45.070686  :  280000

 94%|████████████████████████████████████████████████████████████████████████████▉     | 30/32 [04:12<00:11,  5.76s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:49.756990  :  290000

 97%|███████████████████████████████████████████████████████████████████████████████▍  | 31/32 [04:16<00:05,  5.18s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:53.602965  :  300000

100%|██████████████████████████████████████████████████████████████████████████████████| 32/32 [04:18<00:00,  8.07s/it]

Error: value too long for type character varying(10)

2022-08-18 11:33:55.096883  :  310000
315494

In [38]:
df[~df['unregister_day'].isnull()]

       deal_amount trade_type  building_area building_use build_year  deal_year  plottage     dong sigungu land_use  deal_month building_type  deal_day broker_location  regional_code unregister_day unregister_status  floor_ share_dealing
79880       10,000        NaN          14.91           판매       2006       2020       NaN      인의동     종로구     일반상업           2            집합        24             NaN          11110       20.02.28                 O     NaN           NaN
79881       10,000        NaN          10.08           판매       2006       2020       NaN      인의동     종로구     일반상업           2            집합        24             NaN          11110       20.02.28                 O     NaN           NaN
79882       10,000        NaN           7.45           판매       2006       2020       NaN      인의동     종로구     일반상업           2            집합        24             NaN          11110       20.02.28                 O     NaN           NaN
79944      220,000        NaN         461.82      제2종근린생활       1970       2020      74.4    충무로3가      중구     일반상업           2            일반        21             NaN          11140       20.05.11                 O     NaN           NaN
80066       19,300        NaN          16.53      제1종근린생활       2018       2020       NaN    성수동2가     성동구      준공업           2            집합        22             NaN          11200       20.03.17                 O     NaN           NaN
...            ...        ...            ...          ...        ...        ...       ...      ...     ...      ...         ...           ...       ...             ...            ...            ...               ...     ...           ...
315193      40,577        직거래         180.49           숙박       2001       2022     658.0   원동면 대리     양산시     생산관리           6            일반        22             NaN          48330       22.06.30                 O     NaN           NaN
315203      76,000       중개거래         478.32      제2종근린생활       2015       2022    1270.0  칠원읍 용산리     함안군     계획관리           6            일반         8      경남 창원마산회원구          48730       22.07.28                 O     NaN           NaN
315376      70,000       중개거래          66.15      제1종근린생활       2015       2022       NaN      노형동     제주시     일반상업           6            집합        23          제주 제주시          50110       22.07.19                 O     NaN           NaN
315377     100,000       중개거래          81.27      제1종근린생활       2015       2022       NaN      노형동     제주시     일반상업           6            집합        23          제주 제주시          50110       22.07.19                 O     NaN           NaN
315467       4,300       중개거래          24.30           숙박       2016       2022       NaN      강정동    서귀포시     일반상업           6            집합        15        경기 용인기흥구          50130       22.06.20                 O     NaN           NaN

[19766 rows x 19 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315494 entries, 0 to 315493
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   deal_amount        315494 non-null  object
 1   trade_type         62099 non-null   object
 2   building_area      315494 non-null  float64
 3   building_use       315494 non-null  object
 4   build_year         311427 non-null  float64
 5   deal_year          315494 non-null  int64
 6   plottage           91281 non-null   float64
 7   dong               315494 non-null  object
 8   sigungu            313436 non-null  object
 9   land_use           315452 non-null  object
 10  deal_month         315494 non-null  int64
 11  building_type      315494 non-null  object
 12  deal_day           315494 non-null  int64
 13  broker_location    33480 non-null   object
 14  regional_code      315494 non-null  int64
 15  unregister_day     19766 non-null   object
 16  unregister_status  19766 non-null   object
 17  floor_             157575 non-null  float64
 18  share_dealing      51 non-null      object
dtypes: float64(4), int64(4), object(11)
memory usage: 45.7+ MB

In [9]:
type(df['build_year'][0])

numpy.float64

In [12]:
pd.options.display.float_format = '{:.0f}'.format

In [13]:
df['build_year']

0        1983
1        2004
2        1994
3        2005
4        1991
         ...
315489   2020
315490   2002
315491   2002
315492   2002
315493   2002
Name: build_year, Length: 315494, dtype: float64

In [10]:
df[df['build_year'].notnull()]

       deal_amount trade_type  building_area building_use  build_year  deal_year  plottage     dong sigungu land_use  deal_month building_type  deal_day broker_location  regional_code unregister_day unregister_status  floor_ share_dealing
0           24,000        NaN          76.33           판매      1983.0       2019       NaN      당주동     종로구     일반상업           1            집합        29             NaN          11110            NaN               NaN     NaN           NaN
1           52,749        NaN          51.62           기타      2004.0       2019       NaN      내수동     종로구     일반상업           1            집합        30             NaN          11110            NaN               NaN     NaN           NaN
2        3,650,000        NaN        2848.11         교육연구      1994.0       2019    1791.1    신문로2가     종로구  제1종일반주거           1            일반        25             NaN          11110            NaN               NaN     NaN           NaN
3           38,512        NaN          39.67           숙박      2005.0       2019       NaN      수송동     종로구     일반상업           1            집합        15             NaN          11110            NaN               NaN     NaN           NaN
4           21,000        NaN          75.67           업무      1991.0       2019       NaN      관훈동     종로구     일반상업           1            집합        23             NaN          11110            NaN               NaN    13.0           NaN
...            ...        ...            ...          ...         ...        ...       ...      ...     ...      ...         ...           ...       ...             ...            ...            ...               ...     ...           ...
315489      22,000        직거래          60.68           숙박      2020.0       2022       NaN  안덕면 사계리    서귀포시     계획관리           6            집합        17             NaN          50130            NaN               NaN     2.0           NaN
315490      13,570        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        13             NaN          50130            NaN               NaN    24.0           NaN
315491      14,280        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        15             NaN          50130            NaN               NaN    26.0           NaN
315492      17,850        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        16             NaN          50130            NaN               NaN    24.0           NaN
315493      17,850        직거래          12.13           숙박      2002.0       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        28             NaN          50130            NaN               NaN    24.0           NaN

[311427 rows x 19 columns]

In [ ]:
# 안 되면 str에서 .으로 split해서 [0]남기기

In [15]:
df['build_year'] = df['build_year'].astype(str)

In [23]:
df['build_year'] = df['build_year'].str.split('.').str[0]

In [24]:
df.to_csv('./rtms_trade.csv', index=False, encoding='utf-8')

In [25]:
df

       deal_amount trade_type  building_area building_use build_year  deal_year  plottage     dong sigungu land_use  deal_month building_type  deal_day broker_location  regional_code unregister_day unregister_status  floor_ share_dealing
0           24,000        NaN             76           판매       1983       2019       NaN      당주동     종로구     일반상업           1            집합        29             NaN          11110            NaN               NaN     NaN           NaN
1           52,749        NaN             52           기타       2004       2019       NaN      내수동     종로구     일반상업           1            집합        30             NaN          11110            NaN               NaN     NaN           NaN
2        3,650,000        NaN           2848         교육연구       1994       2019      1791    신문로2가     종로구  제1종일반주거           1            일반        25             NaN          11110            NaN               NaN     NaN           NaN
3           38,512        NaN             40           숙박       2005       2019       NaN      수송동     종로구     일반상업           1            집합        15             NaN          11110            NaN               NaN     NaN           NaN
4           21,000        NaN             76           업무       1991       2019       NaN      관훈동     종로구     일반상업           1            집합        23             NaN          11110            NaN               NaN      13           NaN
...            ...        ...            ...          ...        ...        ...       ...      ...     ...      ...         ...           ...       ...             ...            ...            ...               ...     ...           ...
315489      22,000        직거래             61           숙박       2020       2022       NaN  안덕면 사계리    서귀포시     계획관리           6            집합        17             NaN          50130            NaN               NaN       2           NaN
315490      13,570        직거래             12           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        13             NaN          50130            NaN               NaN      24           NaN
315491      14,280        직거래             12           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        15             NaN          50130            NaN               NaN      26           NaN
315492      17,850        직거래             12           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        16             NaN          50130            NaN               NaN      24           NaN
315493      17,850        직거래             12           숙박       2002       2022       NaN  표선면 토산리    서귀포시     계획관리           6            집합        28             NaN          50130            NaN               NaN      24           NaN

[315494 rows x 19 columns]

In [53]:
df[df['해제사유발생일'].str.contains(' ', na=False)]

         거래금액  거래유형     건물면적    건물주용도    건축년도     년   대지면적     법정동  시군구     용도지역  월  유형   일           중개사소재지   지역코드 해제사유발생일 해제여부     층
0   1,392,718  중개거래   611.93  제1종근린생활  1962.0  2022  162.6     당주동  종로구     일반상업  7  일반   4  서울 동대문구, 서울 서초구  11110                NaN
1     180,000  중개거래    97.52  제2종근린생활  1972.0  2022   26.8     세종로  종로구     일반상업  7  일반  26           서울 용산구  11110                NaN
2      49,000  중개거래    43.46       업무  2005.0  2022          신문로1가  종로구     일반상업  7  집합  12           서울 종로구  11110                NaN
3      49,000  중개거래    43.46       업무  2005.0  2022          신문로1가  종로구     일반상업  7  집합  12           서울 종로구  11110                NaN
4     423,818  중개거래   131.83  제2종근린생활  1958.0  2022  78.72     청진동  종로구     일반상업  7  일반   1           서울 종로구  11110                NaN
5     480,060  중개거래   105.47  제2종근린생활  1958.0  2022  62.98     청진동  종로구     일반상업  7  일반   5           서울 종로구  11110                NaN
6      32,500  중개거래    36.86       숙박  2005.0  2022            수송동  종로구     일반상업  7  집합   6           서울 종로구  11110               14.0
7      44,500  중개거래    36.00       판매  2007.0  2022           종로1가  종로구     일반상업  7  집합   1           서울 광진구  11110                NaN
8   1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
9   1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
10  1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
11  1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
12  1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
13  1,900,962   직거래  1211.88       업무  1984.0  2022            공평동  종로구     일반상업  7  집합   6                   11110                NaN
14    985,000   직거래   771.58  제2종근린생활  1984.0  2022  337.2     관훈동  종로구     일반상업  7  일반  11                   11110                NaN
15    112,880   직거래   100.68  제2종근린생활  2022.0  2022            낙원동  종로구     일반상업  7  집합   5                   11110                NaN
16    193,795   직거래   100.68  제2종근린생활  2022.0  2022            낙원동  종로구     일반상업  7  집합   5                   11110                NaN
17    142,189   직거래    99.20  제2종근린생활  2022.0  2022            낙원동  종로구     일반상업  7  집합   6                   11110                NaN
18  1,470,000   직거래   808.06  제2종근린생활  1983.0  2022  138.5    종로2가  종로구     일반상업  7  일반   4                   11110                NaN
19    102,000  중개거래    26.45  제1종근린생활     NaN  2022   46.3     봉익동  종로구     일반상업  7  일반  15           서울 종로구  11110                NaN
20      2,200   직거래     3.98       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
21      2,200   직거래     3.98       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
22      2,200   직거래     3.99       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
23      2,200   직거래     3.97       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
24      2,200   직거래     4.13       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
25      2,200   직거래     4.13       판매  2004.0  2022            돈의동  종로구     일반상업  7  집합  21                   11110                NaN
26    415,000  중개거래    72.52  제1종근린생활  1985.0  2022   78.6    종로3가  종로구     일반상업  7  일반  11           서울 종로구  11110                NaN
27    556,988   직거래   717.35  제1종근린생활  1971.0  2022  171.9     예지동  종로구     일반상업  7  일반   4                   11110                NaN
28     17,300   직거래    11.77       판매     NaN  2022           종로6가  종로구     일반상업  7  집합   9                   11110                NaN
29    124,200   직거래    51.94  제1종근린생활  1957.0  2022   40.9     창신동  종로구     일반상업  7  일반   7                   11110                NaN
30     93,500  중개거래    68.22  제2종근린생활  2017.0  2022            홍파동  종로구  제3종일반주거  7  집합  15           서울 종로구  11110               22.0
31     83,000  중개거래    30.48  제2종근린생활  2017.0  2022            홍파동  종로구  제3종일반주거  7  집합  17   서울 마포구, 서울 종로구  11110               21.0
32     92,900   직거래    26.98       판매  2017.0  2022            교북동  종로구     일반상업  7  집합   9                   11110               41.0
33    117,100   직거래    34.03       판매  2017.0  2022            교북동  종로구     일반상업  7  집합   9                   11110               41.0
34     41,000  중개거래    63.11  제2종근린생활  1991.0  2022            평창동  종로구  제2종일반주거  7  집합   8           서울 종로구  11110                2.0

In [63]:
# nan처리
df = df.replace(' ', np.nan)

In [64]:
df

         거래금액  거래유형     건물면적    건물주용도    건축년도     년   대지면적     법정동  시군구     용도지역  월  유형   일           중개사소재지   지역코드  해제사유발생일  해제여부     층
0   1,392,718  중개거래   611.93  제1종근린생활  1962.0  2022  162.6     당주동  종로구     일반상업  7  일반   4  서울 동대문구, 서울 서초구  11110      NaN   NaN   NaN
1     180,000  중개거래    97.52  제2종근린생활  1972.0  2022   26.8     세종로  종로구     일반상업  7  일반  26           서울 용산구  11110      NaN   NaN   NaN
2      49,000  중개거래    43.46       업무  2005.0  2022    NaN   신문로1가  종로구     일반상업  7  집합  12           서울 종로구  11110      NaN   NaN   NaN
3      49,000  중개거래    43.46       업무  2005.0  2022    NaN   신문로1가  종로구     일반상업  7  집합  12           서울 종로구  11110      NaN   NaN   NaN
4     423,818  중개거래   131.83  제2종근린생활  1958.0  2022  78.72     청진동  종로구     일반상업  7  일반   1           서울 종로구  11110      NaN   NaN   NaN
5     480,060  중개거래   105.47  제2종근린생활  1958.0  2022  62.98     청진동  종로구     일반상업  7  일반   5           서울 종로구  11110      NaN   NaN   NaN
6      32,500  중개거래    36.86       숙박  2005.0  2022    NaN     수송동  종로구     일반상업  7  집합   6           서울 종로구  11110      NaN   NaN  14.0
7      44,500  중개거래    36.00       판매  2007.0  2022    NaN    종로1가  종로구     일반상업  7  집합   1           서울 광진구  11110      NaN   NaN   NaN
8   1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
9   1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
10  1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
11  1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
12  1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
13  1,900,962   직거래  1211.88       업무  1984.0  2022    NaN     공평동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
14    985,000   직거래   771.58  제2종근린생활  1984.0  2022  337.2     관훈동  종로구     일반상업  7  일반  11              NaN  11110      NaN   NaN   NaN
15    112,880   직거래   100.68  제2종근린생활  2022.0  2022    NaN     낙원동  종로구     일반상업  7  집합   5              NaN  11110      NaN   NaN   NaN
16    193,795   직거래   100.68  제2종근린생활  2022.0  2022    NaN     낙원동  종로구     일반상업  7  집합   5              NaN  11110      NaN   NaN   NaN
17    142,189   직거래    99.20  제2종근린생활  2022.0  2022    NaN     낙원동  종로구     일반상업  7  집합   6              NaN  11110      NaN   NaN   NaN
18  1,470,000   직거래   808.06  제2종근린생활  1983.0  2022  138.5    종로2가  종로구     일반상업  7  일반   4              NaN  11110      NaN   NaN   NaN
19    102,000  중개거래    26.45  제1종근린생활     NaN  2022   46.3     봉익동  종로구     일반상업  7  일반  15           서울 종로구  11110      NaN   NaN   NaN
20      2,200   직거래     3.98       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
21      2,200   직거래     3.98       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
22      2,200   직거래     3.99       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
23      2,200   직거래     3.97       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
24      2,200   직거래     4.13       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
25      2,200   직거래     4.13       판매  2004.0  2022    NaN     돈의동  종로구     일반상업  7  집합  21              NaN  11110      NaN   NaN   NaN
26    415,000  중개거래    72.52  제1종근린생활  1985.0  2022   78.6    종로3가  종로구     일반상업  7  일반  11           서울 종로구  11110      NaN   NaN   NaN
27    556,988   직거래   717.35  제1종근린생활  1971.0  2022  171.9     예지동  종로구     일반상업  7  일반   4              NaN  11110      NaN   NaN   NaN
28     17,300   직거래    11.77       판매     NaN  2022    NaN    종로6가  종로구     일반상업  7  집합   9              NaN  11110      NaN   NaN   NaN
29    124,200   직거래    51.94  제1종근린생활  1957.0  2022   40.9     창신동  종로구     일반상업  7  일반   7              NaN  11110      NaN   NaN   NaN
30     93,500  중개거래    68.22  제2종근린생활  2017.0  2022    NaN     홍파동  종로구  제3종일반주거  7  집합  15           서울 종로구  11110      NaN   NaN  22.0
31     83,000  중개거래    30.48  제2종근린생활  2017.0  2022    NaN     홍파동  종로구  제3종일반주거  7  집합  17   서울 마포구, 서울 종로구  11110      NaN   NaN  21.0
32     92,900   직거래    26.98       판매  2017.0  2022    NaN     교북동  종로구     일반상업  7  집합   9              NaN  11110      NaN   NaN  41.0
33    117,100   직거래    34.03       판매  2017.0  2022    NaN     교북동  종로구     일반상업  7  집합   9              NaN  11110      NaN   NaN  41.0
34     41,000  중개거래    63.11  제2종근린생활  1991.0  2022    NaN     평창동  종로구  제2종일반주거  7  집합   8           서울 종로구  11110      NaN   NaN   2.0

In [70]:
df = df.drop(columns=['해제사유발생일','해제여부'])

In [73]:
df.head()

        거래금액  거래유형    건물면적    건물주용도    건축년도     년   대지면적     법정동  시군구  용도지역  월  유형   일           중개사소재지   지역코드   층
0  1,392,718  중개거래  611.93  제1종근린생활  1962.0  2022  162.6     당주동  종로구  일반상업  7  일반   4  서울 동대문구, 서울 서초구  11110 NaN
1    180,000  중개거래   97.52  제2종근린생활  1972.0  2022   26.8     세종로  종로구  일반상업  7  일반  26           서울 용산구  11110 NaN
2     49,000  중개거래   43.46       업무  2005.0  2022    NaN   신문로1가  종로구  일반상업  7  집합  12           서울 종로구  11110 NaN
3     49,000  중개거래   43.46       업무  2005.0  2022    NaN   신문로1가  종로구  일반상업  7  집합  12           서울 종로구  11110 NaN
4    423,818  중개거래  131.83  제2종근린생활  1958.0  2022  78.72     청진동  종로구  일반상업  7  일반   1           서울 종로구  11110 NaN

In [74]:
df.columns = ['deal_amount', 'trade_type', 'building_area','building_use','build_year','deal_year','plottage','dong','sigungu','land_use','deal_month','building_type','deal_day','broker_location','regional_code','floor_']

In [76]:
df

   deal_amount trade_type  building_area building_use  build_year  deal_year plottage    dong sigungu land_use  deal_month building_type  deal_day  broker_location  regional_code  floor_
0    1,392,718       중개거래         611.93      제1종근린생활      1962.0       2022    162.6     당주동     종로구     일반상업           7            일반         4  서울 동대문구, 서울 서초구          11110     NaN
1      180,000       중개거래          97.52      제2종근린생활      1972.0       2022     26.8     세종로     종로구     일반상업           7            일반        26           서울 용산구          11110     NaN
2       49,000       중개거래          43.46           업무      2005.0       2022      NaN   신문로1가     종로구     일반상업           7            집합        12           서울 종로구          11110     NaN
3       49,000       중개거래          43.46           업무      2005.0       2022      NaN   신문로1가     종로구     일반상업           7            집합        12           서울 종로구          11110     NaN
4      423,818       중개거래         131.83      제2종근린생활      1958.0       2022    78.72     청진동     종로구     일반상업           7            일반         1           서울 종로구          11110     NaN
5      480,060       중개거래         105.47      제2종근린생활      1958.0       2022    62.98     청진동     종로구     일반상업           7            일반         5           서울 종로구          11110     NaN
6       32,500       중개거래          36.86           숙박      2005.0       2022      NaN     수송동     종로구     일반상업           7            집합         6           서울 종로구          11110    14.0
7       44,500       중개거래          36.00           판매      2007.0       2022      NaN    종로1가     종로구     일반상업           7            집합         1           서울 광진구          11110     NaN
8    1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
9    1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
10   1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
11   1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
12   1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
13   1,900,962        직거래        1211.88           업무      1984.0       2022      NaN     공평동     종로구     일반상업           7            집합         6              NaN          11110     NaN
14     985,000        직거래         771.58      제2종근린생활      1984.0       2022    337.2     관훈동     종로구     일반상업           7            일반        11              NaN          11110     NaN
15     112,880        직거래         100.68      제2종근린생활      2022.0       2022      NaN     낙원동     종로구     일반상업           7            집합         5              NaN          11110     NaN
16     193,795        직거래         100.68      제2종근린생활      2022.0       2022      NaN     낙원동     종로구     일반상업           7            집합         5              NaN          11110     NaN
17     142,189        직거래          99.20      제2종근린생활      2022.0       2022      NaN     낙원동     종로구     일반상업           7            집합         6              NaN          11110     NaN
18   1,470,000        직거래         808.06      제2종근린생활      1983.0       2022    138.5    종로2가     종로구     일반상업           7            일반         4              NaN          11110     NaN
19     102,000       중개거래          26.45      제1종근린생활         NaN       2022     46.3     봉익동     종로구     일반상업           7            일반        15           서울 종로구          11110     NaN
20       2,200        직거래           3.98           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
21       2,200        직거래           3.98           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
22       2,200        직거래           3.99           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
23       2,200        직거래           3.97           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
24       2,200        직거래           4.13           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
25       2,200        직거래           4.13           판매      2004.0       2022      NaN     돈의동     종로구     일반상업           7            집합        21              NaN          11110     NaN
26     415,000       중개거래          72.52      제1종근린생활      1985.0       2022     78.6    종로3가     종로구     일반상업           7            일반        11           서울 종로구          11110     NaN
27     556,988        직거래         717.35      제1종근린생활      1971.0       2022    171.9     예지동     종로구     일반상업           7            일반         4              NaN          11110     NaN
28      17,300        직거래          11.77           판매         NaN       2022      NaN    종로6가     종로구     일반상업           7            집합         9              NaN          11110     NaN
29     124,200        직거래          51.94      제1종근린생활      1957.0       2022     40.9     창신동     종로구     일반상업           7            일반         7              NaN          11110     NaN
30      93,500       중개거래          68.22      제2종근린생활      2017.0       2022      NaN     홍파동     종로구  제3종일반주거           7            집합        15           서울 종로구          11110    22.0
31      83,000       중개거래          30.48      제2종근린생활      2017.0       2022      NaN     홍파동     종로구  제3종일반주거           7            집합        17   서울 마포구, 서울 종로구          11110    21.0
32      92,900        직거래          26.98           판매      2017.0       2022      NaN     교북동     종로구     일반상업           7            집합         9              NaN          11110    41.0
33     117,100        직거래          34.03           판매      2017.0       2022      NaN     교북동     종로구     일반상업           7            집합         9              NaN          11110    41.0
34      41,000       중개거래          63.11      제2종근린생활      1991.0       2022      NaN     평창동     종로구  제2종일반주거           7            집합         8           서울 종로구          11110     2.0

In [68]:
df['중개사소재지'].value_counts()

서울 종로구             9
서울 동대문구, 서울 서초구    1
서울 용산구             1
서울 광진구             1
서울 마포구, 서울 종로구     1
Name: 중개사소재지, dtype: int64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   거래금액     35 non-null     object
 1   거래유형     35 non-null     object
 2   건물면적     35 non-null     float64
 3   건물주용도    35 non-null     object
 4   건축년도     33 non-null     float64
 5   년        35 non-null     int64
 6   대지면적     10 non-null     object
 7   법정동      35 non-null     object
 8   시군구      35 non-null     object
 9   용도지역     35 non-null     object
 10  월        35 non-null     int64
 11  유형       35 non-null     object
 12  일        35 non-null     int64
 13  중개사소재지   13 non-null     object
 14  지역코드     35 non-null     int64
 15  해제사유발생일  0 non-null      float64
 16  해제여부     0 non-null      float64
 17  층        6 non-null      float64
dtypes: float64(5), int64(4), object(9)
memory usage: 5.0+ KB

In [3]:
# 법정동코드 앞 5자리 추출
df = pd.read_csv('./법정동코드_앞5자리.csv')
df = df.drop_duplicates().reset_index(drop=True)
df['법정동코드'] = df['법정동코드'].astype(str)

In [4]:
df

     법정동코드
0    11000
1    11110
2    11140
3    11170
4    11200
..     ...
272  48880
273  48890
274  50000
275  50110
276  50130

[277 rows x 1 columns]

### 국토교통부_상업업무용 부동산 매매 신고 자료

In [ ]:
# 데이터 프레임 관련
import numpy  as np
import pandas as pd

# XML 관련
import bs4
from os import name

# API 호출 관련
import json
import requests
from lxml import html

# 기타
from tqdm import tqdm
pd.set_option('display.width',1000)

과거 데이터 수집

In [ ]:
# 법정동코드 앞 5자리 추출
df = pd.read_csv('./법정동코드_앞5자리.csv').drop_duplicates().reset_index(drop=True)
df['법정동코드'] = df['법정동코드'].astype(str)

# 날짜 생성(2019.01 ~ 2022.07)
month_list = pd.date_range(start='2019.01', end='2022.07', freq='M').strftime('%Y%m')

# API 호출
url        = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='

row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

for month in tqdm(month_list):
    for code in df['법정동코드']:
        params = {
              'serviceKey' : serviceKey
            , 'LAWD_CD'  : code  # 구 단위
            , 'DEAL_YMD' : month # 월 단위
        }
        response = requests.get(url, params=params)
        content  = response.text
        
        # item 태그 분리
        xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
        rows    = xml_obj.findAll('item')
        
        # 데이터 수집
        for i in range(0, len(rows)):
            columns = rows[i].find_all()
            
            for j in range(0,len(columns)):
                name_list.append(columns[j].name)
                value_list.append(columns[j].text)
            
            row_list = value_list
            df_each  = pd.DataFrame([row_list], columns=name_list)
            DF = pd.concat([DF, df_each])

            # 초기화
            name_list  = []
            value_list = []

# CSV 파일로 저장
DF.to_csv('./getRTMSDataSvcNrgTrade(201901~202207).csv', encoding='utf-8', index=False)

현재 데이터 수집

In [ ]:
# API 호출
url        = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
params = {
      'serviceKey' : serviceKey
    , 'LAWD_CD'  : '11110'  # 구 단위
    , 'DEAL_YMD' : '202207' # 날짜
}
response = requests.get(url, params=params)
content  = response.text

# item 태그 분리
xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows    = xml_obj.findAll('item')

# 리스트 생성
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    
    for j in range(0,len(columns)):
        name_list.append(columns[j].name)
        value_list.append(columns[j].text)
    
    row_list = value_list
    df_each  = pd.DataFrame([row_list], columns=name_list)
    DF = pd.concat([DF, df_each])
    
    # 초기화
    name_list  = []
    value_list = []

# CSV 파일로 저장
DF.to_csv('./getRTMSDataSvcNrgTrade(202207).csv', encoding='utf-8', index=False)

### 1. test

###### 1. 과거 데이터 수집

In [29]:
## 각 컬럼 값 (참고 : https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15057267)
"""
resultCode : 결과코드
resultMsg : 결과메시지
Deal Amount : 거래금액
Building Area : 건물 전용/연면적
Building Use : 건물주용도
Build Year : 건축년도
Classification of Share Dealing : 지분거래 구분
Deal Year : 계약년도
Plottage : 대지권면적
Dong : 물건 소재 법정동
Sigungu : 물건 소재 시군구
Land Use : 물건 소재 토지 용도지역
Deal Month : 계약월
Building Type : 일반/집합 건물 구분
Deal Day : 계약일
Regional Code : 지역코드
Floor : 거래물건 층(집합건물)
"""

'\nresultCode : 결과코드\nresultMsg : 결과메시지\nDeal Amount : 거래금액\nBuilding Area : 건물 전용/연면적\nBuilding Use : 건물주용도\nBuild Year : 건축년도\nClassification of Share Dealing : 지분거래 구분\nDeal Year : 계약년도\nPlottage : 대지권면적\nDong : 물건 소재 법정동\nSigungu : 물건 소재 시군구\nLand Use : 물건 소재 토지 용도지역\nDeal Month : 계약월\nBuilding Type : 일반/집합 건물 구분\nDeal Day : 계약일\nRegional Code : 지역코드\nFloor : 거래물건 층(집합건물)\n'

In [6]:
serviceKey_encoding = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
# serviceKey_decoding = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru+rNu+K5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28/5TtfrA=='
# key = requests.utils.unquote(serviceKey_encoding) # 디코딩

url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
params = {'serviceKey' : serviceKey_encoding, 'LAWD_CD' : '11110', 'DEAL_YMD' : '201512' }

response = requests.get(url, params=params)

In [7]:
content = response.text

In [8]:
content
# LIMITED NUMBER OF SERVICE REQUESTS EXCEEDS ERROR. : 1,000개 초과해서 안 가져와짐

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>LIMITED NUMBER OF SERVICE REQUESTS EXCEEDS ERROR.</resultMsg></header></response>'

In [7]:
# 값 확인
pp = pprint.PrettyPrinter(indent=4)
print(pp.pprint(content))

('<?xml version="1.0" encoding="UTF-8" '
 'standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL '
 'SERVICE.</resultMsg></header><body><items><item><거래금액>120,000</거래금액><거래유형> '
 '</거래유형><건물면적>395.6</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>2001</건축년도><년>2015</년><대지면적>160.64</대지면적><법정동> '
 '효자동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>31</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>483,000</거래금액><거래유형> '
 '</거래유형><건물면적>937.52</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>503.5</대지면적><법정동> '
 '체부동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>483,000</거래금액><거래유형> '
 '</거래유형><건물면적>937.52</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>503.5</대지면적><법정동> '
 '체부동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>22,000</거래금액><거래유형> '
 '</거래유형><건물면적>31.11</건물면적><건물주용도>판매</건물주용도><건축년도>2007</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '종로1가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>10</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>-1</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>158,000</거래금액><거래유형> '
 '</거래유형><건물면적>276.8</건물면적><건물주용도>숙박</건물주용도><건축년도>1959</건축년도><년>2015</년><대지면적>72.8</대지면적><법정동> '
 '와룡동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>8</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>158,000</거래금액><거래유형> '
 '</거래유형><건물면적>276.8</건물면적><건물주용도>숙박</건물주용도><건축년도>1959</건축년도><년>2015</년><대지면적>72.8</대지면적><법정동> '
 '와룡동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>8</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>247,500</거래금액><거래유형> '
 '</거래유형><건물면적>154.04</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1976</건축년도><년>2015</년><대지면적>105.8</대지면적><법정동> '
 '삼청동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>160,000</거래금액><거래유형> '
 '</거래유형><건물면적>79.34</건물면적><건물주용도>제1종근린생활</건물주용도><년>2015</년><대지면적>178.5</대지면적><법정동> '
 '삼청동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>29</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>174,000</거래금액><거래유형> '
 '</거래유형><건물면적>323.8</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1976</건축년도><년>2015</년><대지면적>191.7</대지면적><법정동> '
 '봉익동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>28</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>162,000</거래금액><거래유형> '
 '</거래유형><건물면적>201.66</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1961</건축년도><년>2015</년><대지면적>112.5</대지면적><법정동> '
 '인의동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>3</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>14,700</거래금액><거래유형> '
 '</거래유형><건물면적>9.82</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적> </대지면적><법정동> '
 '예지동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>18</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>420,000</거래금액><거래유형> '
 '</거래유형><건물면적>1073.31</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1964</건축년도><년>2015</년><대지면적>81</대지면적><법정동> '
 '종로5가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>23</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>63,000</거래금액><거래유형> '
 '</거래유형><건물면적>10.45</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> '
 '종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>1</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>31</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>80,000</거래금액><거래유형> '
 '</거래유형><건물면적>10.45</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> '
 '종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>7</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>30</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>75,000</거래금액><거래유형> '
 '</거래유형><건물면적>12.63</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> '
 '종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>16</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>31</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>138,700</거래금액><거래유형> '
 '</거래유형><건물면적>270.06</건물면적><건물주용도>제1종근린생활</건물주용도><년>2015</년><대지면적>77.3</대지면적><법정동> '
 '명륜2가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>19</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>100,000</거래금액><거래유형> '
 '</거래유형><건물면적>68.1</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적>73</대지면적><법정동> '
 '명륜2가</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>79,500</거래금액><거래유형> '
 '</거래유형><건물면적>41.65</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적>98.2</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>7</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>16,500</거래금액><거래유형> '
 '</거래유형><건물면적>8.41</건물면적><건물주용도>판매</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>10</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>12,000</거래금액><거래유형> '
 '</거래유형><건물면적>35.25</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>16</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>1,700</거래금액><거래유형> '
 '</거래유형><건물면적>9.45</건물면적><건물주용도>판매</건물주용도><건축년도>1993</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>집합</유형><일>17</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>1,700</거래금액><거래유형> '
 '</거래유형><건물면적>9.45</건물면적><건물주용도>판매</건물주용도><건축년도>1993</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>집합</유형><일>17</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>9,180</거래금액><거래유형> '
 '</거래유형><건물면적>29.02</건물면적><건물주용도>교육연구</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>10,800</거래금액><거래유형> '
 '</거래유형><건물면적>33.75</건물면적><건물주용도>교육연구</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>10,800</거래금액><거래유형> '
 '</거래유형><건물면적>35.25</건물면적><건물주용도>업무</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>10</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>9,180</거래금액><거래유형> '
 '</거래유형><건물면적>30.31</건물면적><건물주용도>업무</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>95,000</거래금액><거래유형> '
 '</거래유형><건물면적>348.81</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>166.3</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>일반</유형><일>23</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>15,500</거래금액><거래유형> '
 '</거래유형><건물면적>56.91</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1996</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '창신동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>30</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><층>-1</층><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>233,000</거래금액><거래유형> '
 '</거래유형><건물면적>945.81</건물면적><건물주용도>숙박</건물주용도><건축년도>1975</건축년도><년>2015</년><대지면적>297.5</대지면적><법정동> '
 '숭인동</법정동><시군구>종로구</시군구><용도지역>준주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>12,250</거래금액><거래유형> '
 '</거래유형><건물면적>59.27</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>2015</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '숭인동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>18</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>30,000</거래금액><거래유형> '
 '</거래유형><건물면적>25.83</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>2013</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '숭인동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>23</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>14,500</거래금액><거래유형> '
 '</거래유형><건물면적>54.62</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>2015</건축년도><년>2015</년><대지면적> '
 '</대지면적><법정동> '
 '숭인동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>30</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>2,800,000</거래금액><거래유형> '
 '</거래유형><건물면적>1878.98</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1953</건축년도><년>2015</년><대지면적>964</대지면적><법정동> '
 '평동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>11</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>2,639,010</거래금액><거래유형> '
 '</거래유형><건물면적>2346.38</건물면적><건물주용도>업무</건물주용도><건축년도>1986</건축년도><년>2015</년><대지면적>872.4</대지면적><법정동> '
 '평동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>11</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>128,000</거래금액><거래유형> '
 '</거래유형><건물면적>221.76</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1988</건축년도><년>2015</년><대지면적>239</대지면적><법정동> '
 '평창동</법정동><시군구>종로구</시군구><용도지역>제1종전용주거</용도지역><월>12</월><유형>일반</유형><일>14</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item><item><거래금액>192,000</거래금액><거래유형> '
 '</거래유형><건물면적>587.7</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1986</건축년도><년>2015</년><대지면적>438</대지면적><법정동> '
 '홍지동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> '
 '</중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> '
 '</해제여부></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>36</totalCount></body></response>')
None

In [26]:
# xml을 DataFrame으로 변환
from os import name
import xml.etree.ElementTree as et
import bs4
from lxml import html
from urllib.parse import urlencode, quote_plus, unquote

In [8]:
# item 태그 분리
xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows = xml_obj.findAll('item')
print(rows)

[<item><거래금액>120,000</거래금액><거래유형> </거래유형><건물면적>395.6</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>2001</건축년도><년>2015</년><대지면적>160.64</대지면적><법정동> 효자동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>31</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>483,000</거래금액><거래유형> </거래유형><건물면적>937.52</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>503.5</대지면적><법정동> 체부동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>483,000</거래금액><거래유형> </거래유형><건물면적>937.52</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>503.5</대지면적><법정동> 체부동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>22,000</거래금액><거래유형> </거래유형><건물면적>31.11</건물면적><건물주용도>판매</건물주용도><건축년도>2007</건축년도><년>2015</년><대지면적> </대지면적><법정동> 종로1가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>10</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>-1</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>158,000</거래금액><거래유형> </거래유형><건물면적>276.8</건물면적><건물주용도>숙박</건물주용도><건축년도>1959</건축년도><년>2015</년><대지면적>72.8</대지면적><법정동> 와룡동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>8</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>158,000</거래금액><거래유형> </거래유형><건물면적>276.8</건물면적><건물주용도>숙박</건물주용도><건축년도>1959</건축년도><년>2015</년><대지면적>72.8</대지면적><법정동> 와룡동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>8</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>247,500</거래금액><거래유형> </거래유형><건물면적>154.04</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1976</건축년도><년>2015</년><대지면적>105.8</대지면적><법정동> 삼청동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>160,000</거래금액><거래유형> </거래유형><건물면적>79.34</건물면적><건물주용도>제1종근린생활</건물주용도><년>2015</년><대지면적>178.5</대지면적><법정동> 삼청동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>29</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>174,000</거래금액><거래유형> </거래유형><건물면적>323.8</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1976</건축년도><년>2015</년><대지면적>191.7</대지면적><법정동> 봉익동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>28</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>162,000</거래금액><거래유형> </거래유형><건물면적>201.66</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1961</건축년도><년>2015</년><대지면적>112.5</대지면적><법정동> 인의동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>3</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>14,700</거래금액><거래유형> </거래유형><건물면적>9.82</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적> </대지면적><법정동> 예지동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>18</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>420,000</거래금액><거래유형> </거래유형><건물면적>1073.31</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1964</건축년도><년>2015</년><대지면적>81</대지면적><법정동> 종로5가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>23</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>63,000</거래금액><거래유형> </거래유형><건물면적>10.45</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> 종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>1</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>31</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>80,000</거래금액><거래유형> </거래유형><건물면적>10.45</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> 종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>7</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>30</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>75,000</거래금액><거래유형> </거래유형><건물면적>12.63</건물면적><건물주용도>판매</건물주용도><년>2015</년><대지면적> </대지면적><법정동> 종로6가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>16</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>31</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>138,700</거래금액><거래유형> </거래유형><건물면적>270.06</건물면적><건물주용도>제1종근린생활</건물주용도><년>2015</년><대지면적>77.3</대지면적><법정동> 명륜2가</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>19</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>100,000</거래금액><거래유형> </거래유형><건물면적>68.1</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적>73</대지면적><법정동> 명륜2가</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>79,500</거래금액><거래유형> </거래유형><건물면적>41.65</건물면적><건물주용도>제2종근린생활</건물주용도><년>2015</년><대지면적>98.2</대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>7</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>16,500</거래금액><거래유형> </거래유형><건물면적>8.41</건물면적><건물주용도>판매</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>10</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>12,000</거래금액><거래유형> </거래유형><건물면적>35.25</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>16</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>1,700</거래금액><거래유형> </거래유형><건물면적>9.45</건물면적><건물주용도>판매</건물주용도><건축년도>1993</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>집합</유형><일>17</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>1,700</거래금액><거래유형> </거래유형><건물면적>9.45</건물면적><건물주용도>판매</건물주용도><건축년도>1993</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>집합</유형><일>17</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>9,180</거래금액><거래유형> </거래유형><건물면적>29.02</건물면적><건물주용도>교육연구</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>10,800</거래금액><거래유형> </거래유형><건물면적>33.75</건물면적><건물주용도>교육연구</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>10,800</거래금액><거래유형> </거래유형><건물면적>35.25</건물면적><건물주용도>업무</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>10</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>9,180</거래금액><거래유형> </거래유형><건물면적>30.31</건물면적><건물주용도>업무</건물주용도><건축년도>1997</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>95,000</거래금액><거래유형> </거래유형><건물면적>348.81</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1990</건축년도><년>2015</년><대지면적>166.3</대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>제3종일반주거</용도지역><월>12</월><유형>일반</유형><일>23</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>15,500</거래금액><거래유형> </거래유형><건물면적>56.91</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1996</건축년도><년>2015</년><대지면적> </대지면적><법정동> 창신동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>30</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><층>-1</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>233,000</거래금액><거래유형> </거래유형><건물면적>945.81</건물면적><건물주용도>숙박</건물주용도><건축년도>1975</건축년도><년>2015</년><대지면적>297.5</대지면적><법정동> 숭인동</법정동><시군구>종로구</시군구><용도지역>준주거</용도지역><월>12</월><유형>일반</유형><일>15</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>12,250</거래금액><거래유형> </거래유형><건물면적>59.27</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>2015</건축년도><년>2015</년><대지면적> </대지면적><법정동> 숭인동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>18</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>30,000</거래금액><거래유형> </거래유형><건물면적>25.83</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>2013</건축년도><년>2015</년><대지면적> </대지면적><법정동> 숭인동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>집합</유형><일>23</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>14,500</거래금액><거래유형> </거래유형><건물면적>54.62</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>2015</건축년도><년>2015</년><대지면적> </대지면적><법정동> 숭인동</법정동><시군구>종로구</시군구><용도지역>제2종일반주거</용도지역><월>12</월><유형>집합</유형><일>30</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>2,800,000</거래금액><거래유형> </거래유형><건물면적>1878.98</건물면적><건물주용도>제2종근린생활</건물주용도><건축년도>1953</건축년도><년>2015</년><대지면적>964</대지면적><법정동> 평동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>11</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>2,639,010</거래금액><거래유형> </거래유형><건물면적>2346.38</건물면적><건물주용도>업무</건물주용도><건축년도>1986</건축년도><년>2015</년><대지면적>872.4</대지면적><법정동> 평동</법정동><시군구>종로구</시군구><용도지역>일반상업</용도지역><월>12</월><유형>일반</유형><일>11</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>128,000</거래금액><거래유형> </거래유형><건물면적>221.76</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1988</건축년도><년>2015</년><대지면적>239</대지면적><법정동> 평창동</법정동><시군구>종로구</시군구><용도지역>제1종전용주거</용도지역><월>12</월><유형>일반</유형><일>14</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>, <item><거래금액>192,000</거래금액><거래유형> </거래유형><건물면적>587.7</건물면적><건물주용도>제1종근린생활</건물주용도><건축년도>1986</건축년도><년>2015</년><대지면적>438</대지면적><법정동> 홍지동</법정동><시군구>종로구</시군구><용도지역>제1종일반주거</용도지역><월>12</월><유형>일반</유형><일>21</일><중개사소재지> </중개사소재지><지역코드>11110</지역코드><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>]

###### ver 1

In [9]:
# ver 1
# 리스트에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    #첫째 행 데이터 수집
    for j in range(0,len(columns)):
        if i == 0:
            # 컬럼 이름 값 저장
            name_list.append(columns[j].name)
        # 컬럼의 각 데이터 값 저장
        value_list.append(columns[j].text)
    # 각 행의 value값 전체 저장
    row_list.append(value_list)
    # 데이터 리스트 값 초기화
    value_list = []

100%|███████████████████████████████████████████████████████████████████████████████| 36/36 [00:00<00:00, 17997.01it/s]

###### ver 2

In [13]:
# ver 2
# 리스트에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    
    for j in range(0,len(columns)):
        name_list.append(columns[j].name)
        value_list.append(columns[j].text)
    
    row_list.append(value_list)
    value_list = [] # 초기화

100%|████████████████████████████████████████████████████████████████████████████████| 36/36 [00:00<00:00, 3445.88it/s]

In [14]:
df_nm = pd.DataFrame(name_list)
df_nm = df_nm.drop_duplicates()
df_nm = df_nm.reset_index(drop=True)
df_nm = df_nm.transpose()
df_nm.columns = df_nm.iloc[0]

In [15]:
df_nm.columns

Index(['거래금액', '거래유형', '건물면적', '건물주용도', '건축년도', '년', '대지면적', '법정동', '시군구', '용도지역', '월', '유형', '일', '중개사소재지', '지역코드', '해제사유발생일', '해제여부', '층'], dtype='object', name=0)

In [16]:
row_list

[['120,000',
  ' ',
  '395.6',
  '제2종근린생활',
  '2001',
  '2015',
  '160.64',
  ' 효자동',
  '종로구',
  '제2종일반주거',
  '12',
  '일반',
  '31',
  ' ',
  '11110',
  ' ',
  ' '],
 ['483,000',
  ' ',
  '937.52',
  '제2종근린생활',
  '1990',
  '2015',
  '503.5',
  ' 체부동',
  '종로구',
  '제2종일반주거',
  '12',
  '일반',
  '15',
  ' ',
  '11110',
  ' ',
  ' '],
 ['483,000',
  ' ',
  '937.52',
  '제2종근린생활',
  '1990',
  '2015',
  '503.5',
  ' 체부동',
  '종로구',
  '제2종일반주거',
  '12',
  '일반',
  '15',
  ' ',
  '11110',
  ' ',
  ' '],
 ['22,000',
  ' ',
  '31.11',
  '판매',
  '2007',
  '2015',
  ' ',
  ' 종로1가',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '10',
  ' ',
  '11110',
  '-1',
  ' ',
  ' '],
 ['158,000',
  ' ',
  '276.8',
  '숙박',
  '1959',
  '2015',
  '72.8',
  ' 와룡동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '8',
  ' ',
  '11110',
  ' ',
  ' '],
 ['158,000',
  ' ',
  '276.8',
  '숙박',
  '1959',
  '2015',
  '72.8',
  ' 와룡동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '8',
  ' ',
  '11110',
  ' ',
  ' '],
 ['247,500',
  ' ',
  '154.04',
  '제2종근린생활',
  '1976',
  '2015',
  '105.8',
  ' 삼청동',
  '종로구',
  '제1종일반주거',
  '12',
  '일반',
  '21',
  ' ',
  '11110',
  ' ',
  ' '],
 ['160,000',
  ' ',
  '79.34',
  '제1종근린생활',
  '2015',
  '178.5',
  ' 삼청동',
  '종로구',
  '제1종일반주거',
  '12',
  '일반',
  '29',
  ' ',
  '11110',
  ' ',
  ' '],
 ['174,000',
  ' ',
  '323.8',
  '제2종근린생활',
  '1976',
  '2015',
  '191.7',
  ' 봉익동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '28',
  ' ',
  '11110',
  ' ',
  ' '],
 ['162,000',
  ' ',
  '201.66',
  '제2종근린생활',
  '1961',
  '2015',
  '112.5',
  ' 인의동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '3',
  ' ',
  '11110',
  ' ',
  ' '],
 ['14,700',
  ' ',
  '9.82',
  '제2종근린생활',
  '2015',
  ' ',
  ' 예지동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '18',
  ' ',
  '11110',
  ' ',
  ' '],
 ['420,000',
  ' ',
  '1073.31',
  '제1종근린생활',
  '1964',
  '2015',
  '81',
  ' 종로5가',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '23',
  ' ',
  '11110',
  ' ',
  ' '],
 ['63,000',
  ' ',
  '10.45',
  '판매',
  '2015',
  ' ',
  ' 종로6가',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '1',
  ' ',
  '11110',
  '31',
  ' ',
  ' '],
 ['80,000',
  ' ',
  '10.45',
  '판매',
  '2015',
  ' ',
  ' 종로6가',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '7',
  ' ',
  '11110',
  '30',
  ' ',
  ' '],
 ['75,000',
  ' ',
  '12.63',
  '판매',
  '2015',
  ' ',
  ' 종로6가',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '16',
  ' ',
  '11110',
  '31',
  ' ',
  ' '],
 ['138,700',
  ' ',
  '270.06',
  '제1종근린생활',
  '2015',
  '77.3',
  ' 명륜2가',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '19',
  ' ',
  '11110',
  ' ',
  ' '],
 ['100,000',
  ' ',
  '68.1',
  '제2종근린생활',
  '2015',
  '73',
  ' 명륜2가',
  '종로구',
  '제2종일반주거',
  '12',
  '일반',
  '21',
  ' ',
  '11110',
  ' ',
  ' '],
 ['79,500',
  ' ',
  '41.65',
  '제2종근린생활',
  '2015',
  '98.2',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '7',
  ' ',
  '11110',
  ' ',
  ' '],
 ['16,500',
  ' ',
  '8.41',
  '판매',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '10',
  ' ',
  '11110',
  ' ',
  ' '],
 ['12,000',
  ' ',
  '35.25',
  '제2종근린생활',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '16',
  ' ',
  '11110',
  ' ',
  ' '],
 ['1,700',
  ' ',
  '9.45',
  '판매',
  '1993',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '제3종일반주거',
  '12',
  '집합',
  '17',
  ' ',
  '11110',
  ' ',
  ' '],
 ['1,700',
  ' ',
  '9.45',
  '판매',
  '1993',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '제3종일반주거',
  '12',
  '집합',
  '17',
  ' ',
  '11110',
  ' ',
  ' '],
 ['9,180',
  ' ',
  '29.02',
  '교육연구',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '21',
  ' ',
  '11110',
  ' ',
  ' '],
 ['10,800',
  ' ',
  '33.75',
  '교육연구',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '21',
  ' ',
  '11110',
  ' ',
  ' '],
 ['10,800',
  ' ',
  '35.25',
  '업무',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '21',
  ' ',
  '11110',
  '10',
  ' ',
  ' '],
 ['9,180',
  ' ',
  '30.31',
  '업무',
  '1997',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '21',
  ' ',
  '11110',
  ' ',
  ' '],
 ['95,000',
  ' ',
  '348.81',
  '제1종근린생활',
  '1990',
  '2015',
  '166.3',
  ' 창신동',
  '종로구',
  '제3종일반주거',
  '12',
  '일반',
  '23',
  ' ',
  '11110',
  ' ',
  ' '],
 ['15,500',
  ' ',
  '56.91',
  '제2종근린생활',
  '1996',
  '2015',
  ' ',
  ' 창신동',
  '종로구',
  '제2종일반주거',
  '12',
  '집합',
  '30',
  ' ',
  '11110',
  '-1',
  ' ',
  ' '],
 ['233,000',
  ' ',
  '945.81',
  '숙박',
  '1975',
  '2015',
  '297.5',
  ' 숭인동',
  '종로구',
  '준주거',
  '12',
  '일반',
  '15',
  ' ',
  '11110',
  ' ',
  ' '],
 ['12,250',
  ' ',
  '59.27',
  '제1종근린생활',
  '2015',
  '2015',
  ' ',
  ' 숭인동',
  '종로구',
  '제2종일반주거',
  '12',
  '집합',
  '18',
  ' ',
  '11110',
  ' ',
  ' '],
 ['30,000',
  ' ',
  '25.83',
  '제2종근린생활',
  '2013',
  '2015',
  ' ',
  ' 숭인동',
  '종로구',
  '일반상업',
  '12',
  '집합',
  '23',
  ' ',
  '11110',
  ' ',
  ' '],
 ['14,500',
  ' ',
  '54.62',
  '제1종근린생활',
  '2015',
  '2015',
  ' ',
  ' 숭인동',
  '종로구',
  '제2종일반주거',
  '12',
  '집합',
  '30',
  ' ',
  '11110',
  ' ',
  ' '],
 ['2,800,000',
  ' ',
  '1878.98',
  '제2종근린생활',
  '1953',
  '2015',
  '964',
  ' 평동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '11',
  ' ',
  '11110',
  ' ',
  ' '],
 ['2,639,010',
  ' ',
  '2346.38',
  '업무',
  '1986',
  '2015',
  '872.4',
  ' 평동',
  '종로구',
  '일반상업',
  '12',
  '일반',
  '11',
  ' ',
  '11110',
  ' ',
  ' '],
 ['128,000',
  ' ',
  '221.76',
  '제1종근린생활',
  '1988',
  '2015',
  '239',
  ' 평창동',
  '종로구',
  '제1종전용주거',
  '12',
  '일반',
  '14',
  ' ',
  '11110',
  ' ',
  ' '],
 ['192,000',
  ' ',
  '587.7',
  '제1종근린생활',
  '1986',
  '2015',
  '438',
  ' 홍지동',
  '종로구',
  '제1종일반주거',
  '12',
  '일반',
  '21',
  ' ',
  '11110',
  ' ',
  ' ']]

In [17]:
DF = pd.DataFrame(row_list, columns=[df_nm.columns])

In [18]:
DF

0        거래금액 거래유형     건물면적    건물주용도  건축년도      년    대지면적    법정동      시군구     용도지역   월  유형   일 중개사소재지   지역코드 해제사유발생일  해제여부     층
0     120,000         395.6  제2종근린생활  2001   2015  160.64    효자동      종로구  제2종일반주거  12  일반  31         11110                None
1     483,000        937.52  제2종근린생활  1990   2015   503.5    체부동      종로구  제2종일반주거  12  일반  15         11110                None
2     483,000        937.52  제2종근린생활  1990   2015   503.5    체부동      종로구  제2종일반주거  12  일반  15         11110                None
3      22,000         31.11       판매  2007   2015           종로1가      종로구     일반상업  12  집합  10         11110      -1
4     158,000         276.8       숙박  1959   2015    72.8    와룡동      종로구     일반상업  12  일반   8         11110                None
5     158,000         276.8       숙박  1959   2015    72.8    와룡동      종로구     일반상업  12  일반   8         11110                None
6     247,500        154.04  제2종근린생활  1976   2015   105.8    삼청동      종로구  제1종일반주거  12  일반  21         11110                None
7     160,000         79.34  제1종근린생활  2015  178.5     삼청동    종로구  제1종일반주거       12  일반  29      11110                 None  None
8     174,000         323.8  제2종근린생활  1976   2015   191.7    봉익동      종로구     일반상업  12  일반  28         11110                None
9     162,000        201.66  제2종근린생활  1961   2015   112.5    인의동      종로구     일반상업  12  일반   3         11110                None
10     14,700          9.82  제2종근린생활  2015            예지동    종로구     일반상업       12  집합  18      11110                 None  None
11    420,000       1073.31  제1종근린생활  1964   2015      81   종로5가      종로구     일반상업  12  일반  23         11110                None
12     63,000         10.45       판매  2015           종로6가    종로구     일반상업       12  집합   1      11110     31                None
13     80,000         10.45       판매  2015           종로6가    종로구     일반상업       12  집합   7      11110     30                None
14     75,000         12.63       판매  2015           종로6가    종로구     일반상업       12  집합  16      11110     31                None
15    138,700        270.06  제1종근린생활  2015   77.3    명륜2가    종로구     일반상업       12  일반  19      11110                 None  None
16    100,000          68.1  제2종근린생활  2015     73    명륜2가    종로구  제2종일반주거       12  일반  21      11110                 None  None
17     79,500         41.65  제2종근린생활  2015   98.2     창신동    종로구     일반상업       12  일반   7      11110                 None  None
18     16,500          8.41       판매  1997   2015            창신동      종로구     일반상업  12  집합  10         11110                None
19     12,000         35.25  제2종근린생활  1997   2015            창신동      종로구     일반상업  12  집합  16         11110                None
20      1,700          9.45       판매  1993   2015            창신동      종로구  제3종일반주거  12  집합  17         11110                None
21      1,700          9.45       판매  1993   2015            창신동      종로구  제3종일반주거  12  집합  17         11110                None
22      9,180         29.02     교육연구  1997   2015            창신동      종로구     일반상업  12  집합  21         11110                None
23     10,800         33.75     교육연구  1997   2015            창신동      종로구     일반상업  12  집합  21         11110                None
24     10,800         35.25       업무  1997   2015            창신동      종로구     일반상업  12  집합  21         11110      10
25      9,180         30.31       업무  1997   2015            창신동      종로구     일반상업  12  집합  21         11110                None
26     95,000        348.81  제1종근린생활  1990   2015   166.3    창신동      종로구  제3종일반주거  12  일반  23         11110                None
27     15,500         56.91  제2종근린생활  1996   2015            창신동      종로구  제2종일반주거  12  집합  30         11110      -1
28    233,000        945.81       숙박  1975   2015   297.5    숭인동      종로구      준주거  12  일반  15         11110                None
29     12,250         59.27  제1종근린생활  2015   2015            숭인동      종로구  제2종일반주거  12  집합  18         11110                None
30     30,000         25.83  제2종근린생활  2013   2015            숭인동      종로구     일반상업  12  집합  23         11110                None
31     14,500         54.62  제1종근린생활  2015   2015            숭인동      종로구  제2종일반주거  12  집합  30         11110                None
32  2,800,000       1878.98  제2종근린생활  1953   2015     964     평동      종로구     일반상업  12  일반  11         11110                None
33  2,639,010       2346.38       업무  1986   2015   872.4     평동      종로구     일반상업  12  일반  11         11110                None
34    128,000        221.76  제1종근린생활  1988   2015     239    평창동      종로구  제1종전용주거  12  일반  14         11110                None
35    192,000         587.7  제1종근린생활  1986   2015     438    홍지동      종로구  제1종일반주거  12  일반  21         11110                None

In [20]:
columns[j].name

'거래금액'

In [29]:
DF

Empty DataFrame
Columns: [(거래금액,)]
Index: []

###### ver 3

In [28]:
# ver 3 (한 줄씩 담기)
# 데이터 프레임에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
name_df  = pd.DataFrame()
value_df = pd.DataFrame()

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    for j in range(0,len(columns)):
        if i == 0:
            name_list.append(columns[j].name)
            df_nm = pd.DataFrame(name_list)
            df_nm = df_nm.drop_duplicates()
            df_nm = df_nm.reset_index(drop=True)
            df_nm = df_nm.transpose()
            df_nm.columns = df_nm.iloc[0]
            DF = pd.DataFrame(columns=[df_nm.columns])
            
        DF.append(columns[j].name)
        DF.append(columns[j].text)
        
    row_list.append(value_list)
    value_list = []

  0%|                                                                                           | 0/36 [00:00<?, ?it/s]C:\Users\USER\AppData\Local\Temp\ipykernel_6448\863568316.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF.append(columns[j].name)
  0%|                                                                                           | 0/36 [00:00<?, ?it/s]

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

###### ver 4 (현재 데이터)

In [ ]:
# API 호출
url        = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='
params = {
      'serviceKey' : serviceKey
    , 'LAWD_CD'  : '11110'  # 구 단위
    , 'DEAL_YMD' : '202207' # 날짜
}
response = requests.get(url, params=params)
content  = response.text

# item 태그 분리
xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows    = xml_obj.findAll('item')

# ver 4 (한 줄씩 데이터 프레임으로 만들어서 concat)
# 리스트에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    
    for j in range(0,len(columns)):
        name_list.append(columns[j].name)
        value_list.append(columns[j].text)
    
    row_list = value_list
    df_each  = pd.DataFrame([row_list], columns=name_list)
    DF = pd.concat([DF, df_each])
    
    # 초기화
    name_list  = []
    value_list = []

# CSV 파일로 저장
DF.to_excel('./국토교통부_상업업무용 부동산 매매 신고 자료(202207).xlsx', encoding='utf-8')

In [162]:
DF

        거래금액 거래유형     건물면적    건물주용도  건축년도     년    대지면적    법정동  시군구     용도지역   월  유형   일 중개사소재지   지역코드 해제사유발생일 해제여부    층
0    120,000         395.6  제2종근린생활  2001  2015  160.64    효자동  종로구  제2종일반주거  12  일반  31         11110               NaN
0    120,000         395.6  제2종근린생활  2001  2015  160.64    효자동  종로구  제2종일반주거  12  일반  31         11110               NaN
0    483,000        937.52  제2종근린생활  1990  2015   503.5    체부동  종로구  제2종일반주거  12  일반  15         11110               NaN
0    483,000        937.52  제2종근린생활  1990  2015   503.5    체부동  종로구  제2종일반주거  12  일반  15         11110               NaN
0     22,000         31.11       판매  2007  2015           종로1가  종로구     일반상업  12  집합  10         11110                -1
0    158,000         276.8       숙박  1959  2015    72.8    와룡동  종로구     일반상업  12  일반   8         11110               NaN
0    158,000         276.8       숙박  1959  2015    72.8    와룡동  종로구     일반상업  12  일반   8         11110               NaN
0    247,500        154.04  제2종근린생활  1976  2015   105.8    삼청동  종로구  제1종일반주거  12  일반  21         11110               NaN
0    160,000         79.34  제1종근린생활   NaN  2015   178.5    삼청동  종로구  제1종일반주거  12  일반  29         11110               NaN
0    174,000         323.8  제2종근린생활  1976  2015   191.7    봉익동  종로구     일반상업  12  일반  28         11110               NaN
0    162,000        201.66  제2종근린생활  1961  2015   112.5    인의동  종로구     일반상업  12  일반   3         11110               NaN
0     14,700          9.82  제2종근린생활   NaN  2015            예지동  종로구     일반상업  12  집합  18         11110               NaN
0    420,000       1073.31  제1종근린생활  1964  2015      81   종로5가  종로구     일반상업  12  일반  23         11110               NaN
0     63,000         10.45       판매   NaN  2015           종로6가  종로구     일반상업  12  집합   1         11110                31
0     80,000         10.45       판매   NaN  2015           종로6가  종로구     일반상업  12  집합   7         11110                30
0     75,000         12.63       판매   NaN  2015           종로6가  종로구     일반상업  12  집합  16         11110                31
0    138,700        270.06  제1종근린생활   NaN  2015    77.3   명륜2가  종로구     일반상업  12  일반  19         11110               NaN
0    100,000          68.1  제2종근린생활   NaN  2015      73   명륜2가  종로구  제2종일반주거  12  일반  21         11110               NaN
0     79,500         41.65  제2종근린생활   NaN  2015    98.2    창신동  종로구     일반상업  12  일반   7         11110               NaN
0     16,500          8.41       판매  1997  2015            창신동  종로구     일반상업  12  집합  10         11110               NaN
0     12,000         35.25  제2종근린생활  1997  2015            창신동  종로구     일반상업  12  집합  16         11110               NaN
0      1,700          9.45       판매  1993  2015            창신동  종로구  제3종일반주거  12  집합  17         11110               NaN
0      1,700          9.45       판매  1993  2015            창신동  종로구  제3종일반주거  12  집합  17         11110               NaN
0      9,180         29.02     교육연구  1997  2015            창신동  종로구     일반상업  12  집합  21         11110               NaN
0     10,800         33.75     교육연구  1997  2015            창신동  종로구     일반상업  12  집합  21         11110               NaN
0     10,800         35.25       업무  1997  2015            창신동  종로구     일반상업  12  집합  21         11110                10
0      9,180         30.31       업무  1997  2015            창신동  종로구     일반상업  12  집합  21         11110               NaN
0     95,000        348.81  제1종근린생활  1990  2015   166.3    창신동  종로구  제3종일반주거  12  일반  23         11110               NaN
0     15,500         56.91  제2종근린생활  1996  2015            창신동  종로구  제2종일반주거  12  집합  30         11110                -1
0    233,000        945.81       숙박  1975  2015   297.5    숭인동  종로구      준주거  12  일반  15         11110               NaN
0     12,250         59.27  제1종근린생활  2015  2015            숭인동  종로구  제2종일반주거  12  집합  18         11110               NaN
0     30,000         25.83  제2종근린생활  2013  2015            숭인동  종로구     일반상업  12  집합  23         11110               NaN
0     14,500         54.62  제1종근린생활  2015  2015            숭인동  종로구  제2종일반주거  12  집합  30         11110               NaN
0  2,800,000       1878.98  제2종근린생활  1953  2015     964     평동  종로구     일반상업  12  일반  11         11110               NaN
0  2,639,010       2346.38       업무  1986  2015   872.4     평동  종로구     일반상업  12  일반  11         11110               NaN
0    128,000        221.76  제1종근린생활  1988  2015     239    평창동  종로구  제1종전용주거  12  일반  14         11110               NaN
0    192,000         587.7  제1종근린생활  1986  2015     438    홍지동  종로구  제1종일반주거  12  일반  21         11110               NaN

In [140]:
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값

In [141]:
columns = rows[i].find_all()
columns

[<거래금액>483,000</거래금액>,
 <거래유형> </거래유형>,
 <건물면적>937.52</건물면적>,
 <건물주용도>제2종근린생활</건물주용도>,
 <건축년도>1990</건축년도>,
 <년>2015</년>,
 <대지면적>503.5</대지면적>,
 <법정동> 체부동</법정동>,
 <시군구>종로구</시군구>,
 <용도지역>제2종일반주거</용도지역>,
 <월>12</월>,
 <유형>일반</유형>,
 <일>15</일>,
 <중개사소재지> </중개사소재지>,
 <지역코드>11110</지역코드>,
 <해제사유발생일> </해제사유발생일>,
 <해제여부> </해제여부>]

In [142]:
name_list.append(columns[0].name)
value_list.append(columns[0].text)
name_list

['거래금액']

In [143]:
value_list

['483,000']

In [144]:
row_list.append(value_list)

In [145]:
row_list

[['483,000']]

In [146]:
df_each = pd.DataFrame(row_list, columns=name_list)

In [147]:
df_each

      거래금액
0  483,000

In [148]:
DF = pd.concat([DF, df_each])

In [149]:
DF

      거래금액 거래유형   건물면적    건물주용도  건축년도     년    대지면적   법정동  시군구     용도지역    월   유형    일 중개사소재지   지역코드 해제사유발생일 해제여부
0  120,000       395.6  제2종근린생활  2001  2015  160.64   효자동  종로구  제2종일반주거   12   일반   31         11110
0  120,000       395.6  제2종근린생활  2001  2015  160.64   효자동  종로구  제2종일반주거   12   일반   31         11110
0  483,000  NaN    NaN      NaN   NaN   NaN     NaN   NaN  NaN      NaN  NaN  NaN  NaN    NaN    NaN     NaN  NaN
0  483,000  NaN    NaN      NaN   NaN   NaN     NaN   NaN  NaN      NaN  NaN  NaN  NaN    NaN    NaN     NaN  NaN
0  483,000  NaN    NaN      NaN   NaN   NaN     NaN   NaN  NaN      NaN  NaN  NaN  NaN    NaN    NaN     NaN  NaN

###### ver 5 (과거 데이터 최종)

In [3]:
# 법정동코드 앞 5자리 추출
df = pd.read_csv('./법정동코드_앞5자리.csv').drop_duplicates().reset_index(drop=True)
df['법정동코드'] = df['법정동코드'].astype(str)

# 날짜 자동 생성(2019.01 ~ 2022.07)
month_list = pd.date_range(start='2019.01', end='2022.07', freq='M').strftime('%Y%m')

# API 호출
url        = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='

row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

for month in tqdm(month_list):
    for code in df['법정동코드']:
        params = {
              'serviceKey' : serviceKey
            , 'LAWD_CD'  : code  # 구 단위
            , 'DEAL_YMD' : month # 월 단위
        }
        response = requests.get(url, params=params)
        content  = response.text
        
        # item 태그 분리
        xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
        rows    = xml_obj.findAll('item')
        
        # 데이터 수집
        for i in range(0, len(rows)):
            columns = rows[i].find_all()
            
            for j in range(0,len(columns)):
                name_list.append(columns[j].name)
                value_list.append(columns[j].text)
            
            row_list = value_list
            df_each  = pd.DataFrame([row_list], columns=name_list)
            DF = pd.concat([DF, df_each])

            # 초기화
            name_list  = []
            value_list = []

# CSV 파일로 저장 (추후 DB 연동 예정)
DF.to_excel('./getRTMSDataSvcNrgTrade(201901~202207).xlsx', encoding='utf-8', index=False)

 45%|██████████████████████████████████▊                                          | 19/42 [1:06:15<1:20:12, 209.24s/it]

KeyboardInterrupt:

###### 법정동코드_앞5자리

In [ ]:
df_tmp = pd.read_csv('./0. 법정동코드.csv')

In [ ]:
df_tmp['법정동코드'] = df_tmp['법정동코드'].astype(str)

In [ ]:
df_tmp['법정동코드'] = df_tmp['법정동코드'].str.split().str[0].str[:5]

In [ ]:
df_tmp = df_tmp[['법정동코드']]

In [ ]:
df_tmp.to_csv('./법정동코드_앞5자리')

###### ver 6 (현재 데이터 최종)

In [ ]:
# 법정동코드(앞 5자리)
df = pd.read_csv('./법정동코드_앞5자리.csv').drop_duplicates().reset_index(drop=True)
df['법정동코드'] = df['법정동코드'].astype(str)

# 날짜 설정
month = '202207'

# API 호출
url        = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcNrgTrade'
serviceKey = 'C94PKnigawlH2iISVWz1Itw9tVzyuOCbOvKgzCrGOUZWvs3XqrkhH+/ntypJ7kK2P2g16vLYCJif3TNfO1i1KA=='

# 변수 생성
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

for code in df['법정동코드']:
    params = {
          'serviceKey' : serviceKey
        , 'LAWD_CD'  : code  # 구 단위
        , 'DEAL_YMD' : month # 월 단위
    }
    response = requests.get(url, params=params)
    content  = response.text

    # item 태그 분리
    xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
    rows    = xml_obj.findAll('item')

    # 데이터 수집
    for i in range(0, len(rows)):
        columns = rows[i].find_all()

        for j in range(0,len(columns)):
            name_list.append(columns[j].name)
            value_list.append(columns[j].text)

        row_list = value_list
        df_each  = pd.DataFrame([row_list], columns=name_list)
        DF = pd.concat([DF, df_each])

        # 초기화
        name_list  = []
        value_list = []

# 공백 처리
DF = DF.replace(' ', None)
DF = DF.drop(columns=['해제사유발생일','해제여부'])
DF.columns = ['deal_amount', 'trade_type', 'building_area','building_use','build_year','deal_year','plottage','dong','sigungu','land_use','deal_month','building_type','deal_day','broker_location','regional_code','floor_']

# CSV 파일로 저장
DF.to_excel('./getRTMSDataSvcNrgTrade.xlsx', encoding='utf-8', index=False)

###### 인서트

In [78]:
# module
import psycopg2 # db connect
import pandas as pd
import numpy  as np
import zipfile  # 압축 풀기 
import datetime # 시간 출력

In [81]:
# DB Connect
conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)

# execute_mogrify
def execute_mogrify(conn, DF, table, val):
    # Comma-separated dataframe columns
    cols = ','.join(list(DF.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# insert
tmp = pd.DataFrame()
execute_mogrify(conn, tmp, table, val)

NameError: name 'table' is not defined

### 한국부동산원 - 상업용부동산 임대동향 조사 통계 조회 서비스

In [3]:
# 데이터 프레임 관련
import numpy  as np
import pandas as pd

# API 호출 관련
import json
import requests

1. 지역별 전환율

In [1]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./1.ConvertRate(2019.01~2022.02).csv', index=False, encoding='utf-8')

NameError: name 'pd' is not defined

2. 지역별 임대가격지수

In [9]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getLeasePriceIndex?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./2.LeasePriceIndex(2019.01~2022.02).csv', index=False, encoding='utf-8')

3. 지역별 분기 소득수익률

In [10]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getIncomRateOfReturnQuarter?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./3.IncomRateOfReturnQuarter(2019.01~2022.02).csv', index=False, encoding='utf-8')

4. 지역별 분기 자본수익률

In [11]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getCapitalRateOfReturnQuarter?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./4.CapitalRateOfReturnQuarter(2019.01~2022.02).csv', index=False, encoding='utf-8')

5. 지역별 분기 투자수익률

In [12]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getInvestRateOfReturnQuarter?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./5.InvestRateOfReturnQuarter(2019.01~2022.02).csv', index=False, encoding='utf-8')

6. 지역별 유효조소득 중 기타수입 구성비

In [13]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getEtcIncomeRatioOfGrossIncome?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./6.EtcIncomeRatioOfGrossIncome(2019.01~2022.02).csv', index=False, encoding='utf-8')

7. 순영업 소득

In [14]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getNetOperationIncome?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./7.NetOperationIncome(2019.01~2022.02).csv', index=False, encoding='utf-8')

8. 지역별 영업경비 구성비

In [15]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getOperationExpensesRatioOfGrossIncome?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./8.OperationExpensesRatioOfGrossIncome(2019.01~2022.02).csv', index=False, encoding='utf-8')

9. 지역별 유효조소득 중 임대수입 구성비

In [16]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getRentIncomeRatioOfGrossIncome?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./9.RentIncomeRatioOfGrossIncome(2019.01~2022.02).csv', index=False, encoding='utf-8')

10. 지역별 임대료

In [17]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getLeasePrice?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./10.LeasePrice(2019.01~2022.02).csv', index=False, encoding='utf-8')

11. 층별 임대료

In [18]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getPerFloorLeasePrice?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./11.PerFloorLeasePrice(2019.01~2022.02).csv', index=False, encoding='utf-8')

'data'

12. 층별 효용비용

In [19]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()
 
# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getPerFloorUtilityRatio?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./12.PerFloorUtilityRatio(2019.01~2022.02).csv', index=False, encoding='utf-8')

'data'

13. 지역별 공실률

In [20]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getVacantRate?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./13.VacantRate(2019.01~2022.02).csv', index=False, encoding='utf-8')

14. 지역별 연간 소득수익률

In [21]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getIncomRateOfReturnYear?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./14.IncomRateOfReturnYear(2019.01~2022.02).csv', index=False, encoding='utf-8')

15. 지역별 연간 자본수익률

In [22]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getCapitalRateOfReturnYear?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./15.CapitalRateOfReturnYear(2019.01~2022.02).csv', index=False, encoding='utf-8')

16. 지역별 연간 투자수익률

In [23]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getInvestRateOfReturnYear?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./16.InvestRateOfReturnYear(2019.01~2022.02).csv', index=False, encoding='utf-8')

### 1. 지역별 전환율 test

###### ver 1 (dict로 가져오기)

In [2]:
import json
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [14]:
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 넣을 값
page = 1
perPage = 10
returnType = 'JSON' # XML
dong_code = 1111010200
GT  = 202201
GTE = 202201 # 시작분기
LT  = 202207 
LTE = 202207 # 마감분기

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D=2&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'

response = requests.get(url) # , params=params

# json 형태로 저장
file = json.loads(response.text)

In [15]:
type(file)

dict

In [33]:
file

{'currentCount': 0,
 'data': [],
 'matchCount': 0,
 'page': 1,
 'perPage': 10,
 'totalCount': 22766}

###### ver 2 (str 으로 가져오기)

In [25]:
# !pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [3]:
import json
import urllib
import requests
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus

import xmltodict
from xml.etree.ElementTree import parse

In [17]:
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 넣을 값
page = 1
perPage = 10
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D=2&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'

request = urllib.request.Request(url)
response_body = urlopen(request, timeout=60).read() # get bytes data
decode_data = response_body.decode('utf-8')
xml_dict = json.loads(json.dumps(decode_data))

In [18]:
type(xml_dict)

str

In [26]:
xml_dict

'{"currentCount":0,"data":[],"matchCount":0,"page":1,"perPage":10,"totalCount":22766}\n'

###### ver 3 (status_code 확인)

In [26]:
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 넣을 값
page = 1
perPage = 10
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D=2&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200:
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()

   currentCount  data  matchCount  page  perPage  totalCount
0             0   NaN           0     1       10       22766

###### ver 4

In [60]:
from pandas.io.json import json_normalize
import requests

serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 넣을 값
page = 1
perPage = 10
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D=2&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'

# 정상 여부 확인
response = requests.get(url) # 결과 : <Response [200]>

# JSON 데이터 획득
json = response.json()

# json -> 데이터프레임으로 저장
df = pd.json_normalize(json)

In [23]:
import requests
import numpy  as np
import pandas as pd
from pandas.io.json import json_normalize # json to dataframe

serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

# 넣을 값
page = 1
perPage = 10
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D=2&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'

response = requests.get(url)

# JSON 데이터 획득
json = response.json()

# json -> 데이터프레임으로 저장
df = pd.json_normalize(json)

# 빈 값이 리스트로 들어감 -> NaN으로 바꿈
if type(json['data']) == list:
    json['data'] = np.nan

In [20]:
df

   currentCount data  matchCount  page  perPage  totalCount
0             0  NaN           0     1       10       22766

###### ver 5

In [42]:
# 넣을 값
page = 1
perPage = 1
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D={4}&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200:
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()
# df.to_excel('./getLeasePriceIndex(~202207).xlsx', encoding='utf-8', index=False)

   currentCount  data  matchCount  page  perPage  totalCount
0             0   NaN           0     1        1       22766

In [ ]:
# 넣을 값
page = 1
perPage = 1
returnType = 'JSON' # XML도 가능
dong_code  = 1111010200
GT  = 202201
GTE = GT # 시작분기
LT  = 202207 
LTE = LT # 마감분기
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getLeasePriceIndex?page=1&perPage=1&cond%5BREGION_CD%3A%3AEQ%5D=0100000&cond%5BBULD_GBN%3A%3AEQ%5D=3&cond%5BRESEARCH_DATE%3A%3ALTE%5D=200204&cond%5BRESEARCH_DATE%3A%3AGTE%5D=202101&serviceKey=sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200: # 정상 실행 확인
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()
# df.to_excel('./getLeasePriceIndex.xlsx', encoding='utf-8', index=False)

###### ver 6

In [54]:
# url_full

# 파라미터 설정
page = 1
perPage = 1
returnType = 'JSON' # XML도 가능
dong_code  = 1111010800
GT  = 202206
GTE = GT # 시작분기
LT  = 202206 
LTE = LT # 마감분기
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D={4}&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200:
        print(response)
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()
# df.to_excel('./getLeasePriceIndex(~202207).xlsx')

   currentCount  data  matchCount  page  perPage  totalCount
0             0   NaN           0     1        1       21094

In [55]:
# url 간소화(기간)

# 파라미터 설정
page = 1
perPage = 1
returnType = 'JSON' # XML도 가능
dong_code  = 1111010800
GT  = 202206
GTE = GT # 시작분기
LT  = 202206
LTE = LT # 마감분기
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getLeasePriceIndex?page={page}&perPage={perPage}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}'\
      f'&cond%5BBULD_GBN%3A%3AEQ%5D=3&cond%5BRESEARCH_DATE%3A%3ALTE%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={LT}&serviceKey={serviceKey}'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # 정상 실행 확인
        print(response)
        
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()
# df.to_excel('./getLeasePriceIndex(~202206).xlsx', index=False)

###### ver 7

In [ ]:
# url 간소화(기간, 동코드)

# 파라미터 설정
page = 1
perPage = 10
returnType = 'JSON' # XML도 가능
dong_code  = 1111010800
GT  = 202206
GTE = GT # 시작분기
LT  = 202206
LTE = LT # 마감분기
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getLeasePriceIndex?page={page}&perPage={perPage}'\
      f'&cond%5BBULD_GBN%3A%3AEQ%5D=3&cond%5BRESEARCH_DATE%3A%3ALTE%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={LT}&serviceKey={serviceKey}'
DF = pd.DataFrame()

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # 정상 실행 확인
        print(response)
        
        # JSON 데이터 획득
        json = response.json()
        
        # 빈 값이 리스트로 들어감 -> NaN으로 바꿈
        if type(json['data']) == list:
            json['data'] = np.nan

        # json -> 데이터프레임으로 저장
        df = pd.json_normalize(json)
    else:
        response.close()
except Exception as e:
    print(e)

df.head()
# df.to_excel('./getLeasePriceIndex(~202206).xlsx', index=False)

###### ver 8 (XML로 가져오기)

In [ ]:
# API 호출
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'

url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&'\
      f'returnType={returnType}&cond%5BREGION_CD%3A%3AEQ%5D={dong_code}&cond%5BBULD_GBN%3A%3AEQ%5D={1}&cond%'\
      f'5BRESEARCH_DATE%3A%3ALT%5D={LT}&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGT%5D={GT}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}'\
      f'&serviceKey={serviceKey}'

params = {
      'serviceKey' : serviceKey
    , 'page'  : '11110'
    , 'perPage' : '202207'
    , 'returnType' : returnType
    , 'LT' : LT
}
response = requests.get(url, params=params)
content  = response.text

# item 태그 분리
xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows    = xml_obj.findAll('item')

# ver 4 (한 줄씩 데이터 프레임으로 만들어서 concat)
# 리스트에 값 담기
row_list   = [] # 행 값
name_list  = [] # 열이름 값
value_list = [] # 데이터 값
DF = pd.DataFrame() # 최종 값

# 데이터 수집
for i in tqdm(range(0, len(rows))):
    columns = rows[i].find_all()
    
    for j in range(0,len(columns)):
        name_list.append(columns[j].name)
        value_list.append(columns[j].text)
    
    row_list = value_list
    df_each  = pd.DataFrame([row_list], columns=name_list)
    DF = pd.concat([DF, df_each])
    
    # 초기화
    name_list  = []
    value_list = []

# CSV 파일로 저장 (추후 DB 연동 예정)
DF.to_excel('./국토교통부_상업업무용 부동산 매매 신고 자료(202207).xlsx', encoding='utf-8')

###### ver 9 (url정리)

In [ ]:
# 날짜 리스트(2019.01 ~ 2022.02)
date_list = ['201901', '201902', '202001', '202002', '202101', '202102', '202201', '202202']
getLeasePriceIndex = pd.DataFrame() # 최종 결과

for date in date_list:        
    # 파라미터 설정
    page = 1
    perPage = 100000
    LTE = date
    GTE = date
    serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
    url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}'\
          f'&cond%5BRESEARCH_DATE%3A%3ALTE%5D={LTE}&cond%5BRESEARCH_DATE%3A%3AGTE%5D={GTE}&serviceKey={serviceKey}'

    try:
        response = requests.get(url)
        if response.status_code == 200: 
            # JSON 데이터 가져오기
            json = response.json()

            # json to dataFrame
            df = pd.json_normalize(json)

            # list to dataFrame
            DF = pd.DataFrame(df['data'][0])
            getLeasePriceIndex = pd.concat([getLeasePriceIndex, DF])
        else:
            response.close()
    except Exception as e:
        print(e)

df.to_excel('./getLeasePriceIndex(2019.01~2022.02).xlsx', index=False)

###### ver 10 (최종)

In [ ]:
# 데이터 프레임 생성
DF_final = pd.DataFrame()

# 파라미터, url 설정
page = 1
perPage = 1000000
serviceKey = 'sJuqUegKT1Q0R4IRDqoJklMK8xDxru%2BrNu%2BK5JXRh1mbeH4tFTWwQYWVK3xdbbJCCe14u5bQyl43S28%2F5TtfrA%3D%3D'
url = f'https://api.odcloud.kr/api/CommercialRealEstateLeaseTrendSvc/v1/getConvertRate?page={page}&perPage={perPage}&serviceKey={serviceKey}'

try:
    response = requests.get(url)
    if response.status_code == 200: 
        # JSON 데이터 가져오기
        json = response.json()

        # json to dataFrame
        df = pd.json_normalize(json)

        # list to dataFrame
        DF = pd.DataFrame(df['data'][0])
        DF_final = pd.concat([DF_final, DF])
    else:
        response.close()
except Exception as e:
    print(e)

DF_final.to_csv('./1.ConvertRate(2019.01~2022.02).csv', index=False, encoding='utf-8')