### 최종

In [1]:
# 임포트
import numpy  as np
import pandas as pd
import psycopg2
import datetime

# 파일 불러오기
df = pd.read_csv("C:\oasis\git\data\subway_xy_202210141852.csv")

# 경위도 str으로 타입 변경
df['lat'] = df['lat'].astype(str)
df['lon'] = df['lon'].astype(str)

# 경위도 포인트로 묶기
df['point'] = np.nan
for i in df.index:
    df['point'][i] = 'POINT (' + df['lat'][i] + ' ' + df['lon'][i] + ')'
    
# polygon str 변환
df['point'] = df['point'].astype(str)

In [44]:
### 2. DB 연동
table = 'm1.subway_xy' # 테이블 지정

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    # drop & create
    cursor.execute(
    """
    drop table if exists m1.subway_xy;
    create table m1.subway_xy(
    station_cd        varchar(4)
    ,station_nm        varchar(50)
    ,line_nm        varchar(50)
    ,lat        double precision
    ,lon        double precision
    ,base_ym        varchar(6)
    ,point        geography
    )
    distkey(line_nm)
    compound sortkey(base_ym, line_nm);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(%s,%s,%s,%s,%s,%s,ST_GeomFromText(%s, 4326))'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-10-14 18:56:55.810560  :  0
1176