### DB DATA to DataFrame

In [1]:
import psycopg2
import numpy as np
import pandas as pd

# DB Connect
conn = psycopg2.connect(
    host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port=5439,
    dbname='dev',
    user='awsuser',
    password='cremaoAdmin1234qwer!!'
)

# get data from DB
cursor = conn.cursor()
query = 'select f_tot,f_m,f_f,f_time_0005,f_time_0610,f_time_1113,f_time_1417,f_time_1820,f_time_2123,f_mon_avg,f_tue_avg,f_wed_avg,f_thu_avg,f_fri_avg,f_sat_avg,f_sun_avg,f_age_0019,f_age_2029,f_age_3039,f_age_4049,f_age_5059,f_age_6069,f_age_7000 from m1.kt_bldg_xy_info'
cursor.execute(query)
df_f_tot = cursor.fetchall()

# data to dataframe
DF = pd.DataFrame(list(df_f_tot))

# set column name
DF.columns = ['f_tot','f_m','f_f','f_time_0005','f_time_0610','f_time_1113','f_time_1417','f_time_1820','f_time_2123','f_mon_avg','f_tue_avg','f_wed_avg'
                 ,'f_thu_avg','f_fri_avg','f_sat_avg','f_sun_avg','f_age_0019','f_age_2029','f_age_3039','f_age_4049','f_age_5059','f_age_6069','f_age_7000']

# save to csv 
DF.to_csv('./m1.kt_bldg_xy_info (f_tot).csv', index=False, encoding='utf-8-sig')

In [9]:
DF

,f_tot,f_m,f_f,f_time_0005,f_time_0610,f_time_1113,f_time_1417,f_time_1820,f_time_2123,f_mon_avg,...,f_fri_avg,f_sat_avg,f_sun_avg,f_age_0019,f_age_2029,f_age_3039,f_age_4049,f_age_5059,f_age_6069,f_age_7000
0,2543865.0,1577608.0,966257.0,189686.0,623253.0,511434.0,667685.0,356429.0,195378.0,32396.0,...,33896.80,34483.25,28107.00,101500.0,563250.0,472285.0,495787.0,497733.0,288763.0,124547.0
1,2543865.0,1577608.0,966257.0,189686.0,623253.0,511434.0,667685.0,356429.0,195378.0,32396.0,...,33896.80,34483.25,28107.00,101500.0,563250.0,472285.0,495787.0,497733.0,288763.0,124547.0
2,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
3,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
4,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45476495,165507.0,92555.0,72952.0,11638.0,38701.0,37183.0,47505.0,20963.0,9517.0,2839.8,...,2818.75,2979.25,2730.75,8031.0,18694.0,22981.0,45615.0,35608.0,26002.0,8576.0
45476496,30268.0,15969.0,14299.0,2277.0,5019.0,6471.0,9905.0,4530.0,2066.0,305.0,...,290.00,331.25,333.50,1442.0,4808.0,6457.0,6177.0,6957.0,3723.0,704.0
45476497,300721.0,170896.0,129825.0,36024.0,67292.0,48592.0,74992.0,46686.0,27135.0,2093.8,...,2275.75,2393.25,2405.00,11066.0,60153.0,54759.0,69595.0,62208.0,34320.0,8620.0
45476498,140406.0,81999.0,58407.0,8473.0,30201.0,29606.0,38161.0,22056.0,11909.0,2218.6,...,2277.25,2299.50,2208.75,6277.0,23990.0,30701.0,27300.0,28265.0,16186.0,7687.0
45476499,151179.0,88847.0,62332.0,7667.0,38001.0,33058.0,42207.0,21101.0,9145.0,2822.0,...,2966.75,3077.25,2994.00,10064.0,17729.0,25905.0,33128.0,36093.0,22101.0,6159.0

In [10]:
# save to csv 
DF.to_csv('./m1.kt_bldg_xy_info (f_tot).csv', index=False, encoding='utf-8-sig')

In [11]:
df = pd.read_csv('./m1.kt_bldg_xy_info (f_tot).csv', encoding='utf-8-sig')

In [13]:
df

,f_tot,f_m,f_f,f_time_0005,f_time_0610,f_time_1113,f_time_1417,f_time_1820,f_time_2123,f_mon_avg,...,f_fri_avg,f_sat_avg,f_sun_avg,f_age_0019,f_age_2029,f_age_3039,f_age_4049,f_age_5059,f_age_6069,f_age_7000
0,2543865.0,1577608.0,966257.0,189686.0,623253.0,511434.0,667685.0,356429.0,195378.0,32396.0,...,33896.80,34483.25,28107.00,101500.0,563250.0,472285.0,495787.0,497733.0,288763.0,124547.0
1,2543865.0,1577608.0,966257.0,189686.0,623253.0,511434.0,667685.0,356429.0,195378.0,32396.0,...,33896.80,34483.25,28107.00,101500.0,563250.0,472285.0,495787.0,497733.0,288763.0,124547.0
2,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
3,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
4,882918.0,526244.0,356674.0,53810.0,227245.0,187510.0,230830.0,119002.0,64521.0,11916.0,...,12726.20,13457.25,11048.25,34567.0,195973.0,138302.0,161369.0,187381.0,115457.0,49869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45476495,165507.0,92555.0,72952.0,11638.0,38701.0,37183.0,47505.0,20963.0,9517.0,2839.8,...,2818.75,2979.25,2730.75,8031.0,18694.0,22981.0,45615.0,35608.0,26002.0,8576.0
45476496,30268.0,15969.0,14299.0,2277.0,5019.0,6471.0,9905.0,4530.0,2066.0,305.0,...,290.00,331.25,333.50,1442.0,4808.0,6457.0,6177.0,6957.0,3723.0,704.0
45476497,300721.0,170896.0,129825.0,36024.0,67292.0,48592.0,74992.0,46686.0,27135.0,2093.8,...,2275.75,2393.25,2405.00,11066.0,60153.0,54759.0,69595.0,62208.0,34320.0,8620.0
45476498,140406.0,81999.0,58407.0,8473.0,30201.0,29606.0,38161.0,22056.0,11909.0,2218.6,...,2277.25,2299.50,2208.75,6277.0,23990.0,30701.0,27300.0,28265.0,16186.0,7687.0
45476499,151179.0,88847.0,62332.0,7667.0,38001.0,33058.0,42207.0,21101.0,9145.0,2822.0,...,2966.75,3077.25,2994.00,10064.0,17729.0,25905.0,33128.0,36093.0,22101.0,6159.0