In [1]:
import psycopg2
import numpy as np
import pandas as pd

In [2]:
# DB Connect
conn = psycopg2.connect(
    host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port=5439,
    dbname='dev',
    user='awsuser',
    password='cremaoAdmin1234qwer!!'
)
cursor = conn.cursor()

### 1. 연별 합계 sum

In [29]:
# 유동인구
# 2020
query = 'select sum(f_tot) from m1.kt_bldg_xy_info where base_ym between 202001 and 202012' # 쿼리문
cursor.execute(query) # 실행
f_tot_2020 = cursor.fetchall() # 출력
f_tot_2020 = f_tot_2020[0][0] # 값 꺼내기

# 2021
query = 'select sum(f_tot) from m1.kt_bldg_xy_info where base_ym between 202101 and 202112'
cursor.execute(query)
f_tot_2021 = cursor.fetchall()
f_tot_2021 = f_tot_2021[0][0]

# 2022
query = 'select sum(f_tot) from m1.kt_bldg_xy_info where base_ym between 202201 and 202212'
cursor.execute(query)
f_tot_2022 = cursor.fetchall()
f_tot_2022 = f_tot_2022[0][0]

In [32]:
# 거주인구
# 2020
query = 'select sum(pop) from m1.kt_bldg_xy_info where base_ym between 202001 and 202012'
cursor.execute(query)
pop_2020 = cursor.fetchall()
pop_2020 = pop_2020[0][0]

# 2021
query = 'select sum(pop) from m1.kt_bldg_xy_info where base_ym between 202101 and 202112'
cursor.execute(query)
pop_2021 = cursor.fetchall()
pop_2021 = pop_2021[0][0]


# 2022
query = 'select sum(pop) from m1.kt_bldg_xy_info where base_ym between 202201 and 202212'
cursor.execute(query)
pop_2022 = cursor.fetchall()
pop_2022 = pop_2022[0][0]

In [35]:
# 직장인구
# 2020
query = 'select sum(wpop) from m1.kt_bldg_xy_info where base_ym between 202001 and 202012'
cursor.execute(query)
wpop_2020 = cursor.fetchall()
wpop_2020 = wpop_2020[0][0]

# 2021
query = 'select sum(wpop) from m1.kt_bldg_xy_info where base_ym between 202101 and 202112'
cursor.execute(query)
wpop_2021 = cursor.fetchall()
wpop_2021 = wpop_2021[0][0]

# 2022
query = 'select sum(wpop) from m1.kt_bldg_xy_info where base_ym between 202201 and 202212'
cursor.execute(query)
wpop_2022 = cursor.fetchall()
wpop_2022 = wpop_2022[0][0]

### 2. 전년대비 증감율

In [38]:
df = pd.DataFrame()

In [39]:
# 전년 대비 증감율 
def perYearIncrease(df_prior, df_current, df, col): # df_prior=전기, df_current=당기, df=전기 데이터프레임
    if (df_prior/df_current)*100 >= 120: # 120% 이상: 1
        df[col] = 1
    elif (df_prior/df_current)*100 < 120: # 120% 미만: 0
        df[col] = 0

In [40]:
# 실행
perYearIncrease(wpop_2020, wpop_2021, df, 'wpop') # 2021년도 증감율
perYearIncrease(wpop_2021, wpop_2022, df, 'wpop') # 2022년도 증감율

In [41]:
df

Empty DataFrame
Columns: [wpop]
Index: []