### DB DATA to DataFrame

In [1]:
import psycopg2
import numpy as np
import pandas as pd

In [2]:
# DB Connect
conn = psycopg2.connect(
    host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port=5439,
    dbname='dev',
    user='awsuser',
    password='cremaoAdmin1234qwer!!'
)
cursor = conn.cursor()

In [3]:
# get data from DB
query = 'select f_tot,f_m,f_f,f_time_0005,f_time_0610,f_time_1113,f_time_1417,f_time_1820,f_time_2123,f_mon_avg,f_tue_avg,f_wed_avg,f_thu_avg,f_fri_avg,f_sat_avg,f_sun_avg,f_age_0019,f_age_2029,f_age_3039,f_age_4049,f_age_5059,f_age_6069,f_age_7000 from m1.kt_bldg_xy_info'
cursor.execute(query)
df_f_tot = cursor.fetchall()

In [ ]:
# data to dataframe
f_tot = pd.DataFrame()

for i in range(len(df_f_tot)):
    df = pd.DataFrame(df_f_tot[i]).T
    f_tot = f_tot.append(df)

# 컬럼명 변경
f_tot.columns = ['f_tot','f_m','f_f','f_time_0005','f_time_0610','f_time_1113','f_time_1417','f_time_1820','f_time_2123','f_mon_avg','f_tue_avg','f_wed_avg'
                 ,'f_thu_avg','f_fri_avg','f_sat_avg','f_sun_avg','f_age_0019','f_age_2029','f_age_3039','f_age_4049','f_age_5059','f_age_6069','f_age_7000']

In [ ]:
# save to csv 
f_tot.to_csv('./m1.kt_bldg_xy_info (f_tot).csv', index=False, encoding='utf-8-sig')