In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_excel('./GS편의점(점포명).xlsx',engine='openpyxl')

In [9]:
df

,법정동코드,법정동명,점포명,상세주소
0,1111000000,서울특별시 종로구 사직동,GS25종로스페이스점,"서울 종로구 사직로8길4, 202동 105호(사직동 9, 풍림스페이스본)"
1,1111000000,서울특별시 종로구 동숭동,GS25종로방통대점,서울 종로구 이화장길99(동숭동 187-12)
2,1111000000,서울특별시 종로구 동숭동,GS25종로방통대2점,서울 종로구 이화장길78(동숭동 192-18)
3,1111000000,서울특별시 종로구 동숭동,GS25방송통신대본점,서울 종로구 대학로86(동숭동 169-1)
4,1111000000,서울특별시 종로구 동숭동,GS25마로니에점,"서울 종로구 대학로8가길111, 1층 (동숭동 1-100)"
...,...,...,...,...
15725,5000000000,제주특별자치도 서귀포시,GS25제주구억점,제주 서귀포시 대정읍구억리 975-15번지
15726,5000000000,제주특별자치도 서귀포시,GS25제주신평점,제주 서귀포시 대정읍신평리 364-1번지
15727,5000000000,제주특별자치도 제주특별자치도시,GS25제주노형중점,제주 제주시 노형5길42 (노형동 3810-10)
15728,5000000000,제주특별자치도 제주특별자치도시,GS25노형조이점,제주 제주시 월랑로10길2 (노형동 1054-3)
15729,5000000000,제주특별자치도 서귀포시,GS25성산동남점,"제주 서귀포시 성산읍 고성오조로49 (고성리 322-4, SK TELECOM)"

In [14]:
base = pd.read_csv('./법정동코드.csv')

In [15]:
base['법정동코드'] = base['법정동코드'].astype(str)

In [16]:
base = base[(~base['법정동코드'].str.contains('00000'))&(base['법정동코드'].str.endswith('00'))]

In [17]:
base

            법정동코드              법정동명
2      1111010100     서울특별시 종로구 청운동
3      1111010200     서울특별시 종로구 신교동
4      1111010300     서울특별시 종로구 궁정동
5      1111010400     서울특별시 종로구 효자동
6      1111010500     서울특별시 종로구 창성동
...           ...               ...
20495  5013025000  제주특별자치도 서귀포시 대정읍
20509  5013025300  제주특별자치도 서귀포시 남원읍
20519  5013025900  제주특별자치도 서귀포시 성산읍
20532  5013031000  제주특별자치도 서귀포시 안덕면
20544  5013032000  제주특별자치도 서귀포시 표선면

[5055 rows x 2 columns]

In [18]:
from tqdm import tqdm
DF = pd.DataFrame()
for i in tqdm(range(5055)):
    DF_ = df[(df['상세주소'].str.contains(list(base['법정동명'])[i].split(' ')[-1]))&(df['상세주소'].str.contains(list(base['법정동명'])[i].split(' ')[-2]))]
    DF_['동코드'] = [list(base['법정동코드'])[i]]*len(DF_)
    DF = DF.append(DF_)

  0%|          | 0/5055 [00:00<?, ?it/s]/home/taehyun/anaconda3/envs/TH/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
100%|██████████| 5055/5055 [00:46<00:00, 109.72it/s]

In [19]:
DF

,법정동코드,법정동명,점포명,상세주소,동코드
35,1111000000,서울특별시 종로구 청운동,GS25청운중앙점,서울 종로구 자하문로100-1 (청운동 108-21),1111010100
48,1111000000,서울특별시 종로구 적선동,GS25종로플래티넘점,"서울 종로구 새문안로5가길28, B112-1/2호 (적선동 156)",1111010700
72,1111000000,서울특별시 종로구 누상동,GS25수성동계곡점,"서울 종로구 옥인6길5, 1층 1호 (누상동 166-118)",1111010900
27,1111000000,서울특별시 종로구 누하동,GS25세종마을점,서울 종로구 옥인길3 (누하동 77-5),1111011000
56,1111000000,서울특별시 종로구 누하동,GS25종로누하점,서울 종로구 필운대로39(누하동 57-2),1111011000
...,...,...,...,...,...
15366,5000000000,제주특별자치도 서귀포시,GS25제주표선점,"제주 서귀포시 표선면 표선중앙로90(표선리 634, GS25)",5013032000
15396,5000000000,제주특별자치도 서귀포시,GS25표선중앙점,제주 서귀포시 표선면 표선동서로239(표선리 688-1),5013032000
15468,5000000000,제주특별자치도 서귀포시,GS25제주성읍점,제주 서귀포시 표선면 서성일로24 (성읍리 1650-1),5013032000
15491,5000000000,제주특별자치도 서귀포시,GS25서귀일주동로점,제주 서귀포시 표선면 일주동로6412 (토산리 69-1),5013032000
15703,5000000000,제주특별자치도 서귀포시,GS25표선매봉점,제주 서귀포시 표선면 일주동로6200 (세화리 122-5),5013032000

In [31]:
df_ = df[~df['상세주소'].isin(DF['상세주소'])]

In [32]:
df_

,법정동코드,법정동명,점포명,상세주소
20,1111000000,서울특별시 종로구,GS25종로동묘점,서울 종로구 지봉로18 (숭인2동 316-2)
21,1111000000,서울특별시 종로구,GS25숭인행운점,"서울 종로구 난계로29가길17, 1층 102호(숭인2동 1392)"
23,1111000000,서울특별시 종로구,GS25숭인본점,"서울 종로구 종로66길25, 1층(숭인2동 1417, 삼신빌딩)"
24,1111000000,서울특별시 종로구,GS25숭인마사회점,서울 종로구 난계로29길67(숭인2동 217-20)
25,1111000000,서울특별시 종로구,GS25동묘역점,"서울 종로구 종로344, 1층(숭인2동 310, 대우디오빌)"
...,...,...,...,...
15265,4873000000,경상남도 함안군,GS25칠원벽산점,"경남 함안군 칠원면 오곡로103 (오곡리 87, 광려천벽산블루밍아파트)"
15267,4873000000,경상남도 함안군,GS25용산사거리점,"경남 함안군 칠원면 운무로6(구성리 665-3, 우리들의원)"
15274,4873000000,경상남도 함안군,GS25함안칠원점,"경남 함안군 칠원면 경남대로1512(예곡리 400-12, GS25편의점)"
15517,5000000000,제주특별자치도특별자 서귀포시,GS25서귀대포점,제주특별자 서귀포시 이어도로129
15576,5000000000,제주특별자치도특별자 제주특별자치도시,GS25노형한빛점,제주특별자 제주시 원노형남1길8

In [33]:
addr = []
for i in df_['상세주소']:
    i1 = i.split(',')[0]
    i2 = i1.split('(')[0]
    addr.append(i2)

In [34]:
df_['addr'] = addr

/home/taehyun/anaconda3/envs/TH/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
A = pd.read_csv('/media/taehyun/Hard_Disk/상권데이터/KT_2106_2205/202205/dp_frc_bldg_ftc_pred_slng_m_sum_202205.csv',sep='|')

In [25]:
B = A[['sig_cd','emd_cd','rn','buld_mnnm']].drop_duplicates()

In [26]:
B['addr'] = B['rn']+B['buld_mnnm'].astype(str)

In [27]:
B

          sig_cd    emd_cd         rn  buld_mnnm         addr
0          11560  11560103  버드나루로12나길         28  버드나루로12나길28
42         11290  11290125    고려대로24길         44    고려대로24길44
43         11560  11560132     도신로48길         11     도신로48길11
86         11320  11320106     도당로13길         28     도당로13길28
88         11110  11110140        삼청로        106       삼청로106
...          ...       ...        ...        ...          ...
58775764   47920  47920390        청옥로       2130      청옥로2130
58775807   48129  48129144        동진로        187       동진로187
58775850   48220  48220109       멘데1길         20       멘데1길20
58775936   46230  46230250       희양현로          7        희양현로7
58775979   48127  48127250       삼계2길         24       삼계2길24

[1130526 rows x 5 columns]

In [38]:
df_['addr'] = df_['addr'].str.rstrip()

/home/taehyun/anaconda3/envs/TH/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_

,법정동코드,법정동명,점포명,상세주소,addr
20,1111000000,서울특별시 종로구,GS25종로동묘점,서울 종로구 지봉로18 (숭인2동 316-2),서울 종로구 지봉로18
21,1111000000,서울특별시 종로구,GS25숭인행운점,"서울 종로구 난계로29가길17, 1층 102호(숭인2동 1392)",서울 종로구 난계로29가길17
23,1111000000,서울특별시 종로구,GS25숭인본점,"서울 종로구 종로66길25, 1층(숭인2동 1417, 삼신빌딩)",서울 종로구 종로66길25
24,1111000000,서울특별시 종로구,GS25숭인마사회점,서울 종로구 난계로29길67(숭인2동 217-20),서울 종로구 난계로29길67
25,1111000000,서울특별시 종로구,GS25동묘역점,"서울 종로구 종로344, 1층(숭인2동 310, 대우디오빌)",서울 종로구 종로344
...,...,...,...,...,...
15265,4873000000,경상남도 함안군,GS25칠원벽산점,"경남 함안군 칠원면 오곡로103 (오곡리 87, 광려천벽산블루밍아파트)",경남 함안군 칠원면 오곡로103
15267,4873000000,경상남도 함안군,GS25용산사거리점,"경남 함안군 칠원면 운무로6(구성리 665-3, 우리들의원)",경남 함안군 칠원면 운무로6
15274,4873000000,경상남도 함안군,GS25함안칠원점,"경남 함안군 칠원면 경남대로1512(예곡리 400-12, GS25편의점)",경남 함안군 칠원면 경남대로1512
15517,5000000000,제주특별자치도특별자 서귀포시,GS25서귀대포점,제주특별자 서귀포시 이어도로129,제주특별자 서귀포시 이어도로129
15576,5000000000,제주특별자치도특별자 제주특별자치도시,GS25노형한빛점,제주특별자 제주시 원노형남1길8,제주특별자 제주시 원노형남1길8

In [40]:
rn = []
for i in df_['addr']:
    rn.append(i.split(' ')[-1])
df_['addr'] = rn

/home/taehyun/anaconda3/envs/TH/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [41]:
df_

,법정동코드,법정동명,점포명,상세주소,addr
20,1111000000,서울특별시 종로구,GS25종로동묘점,서울 종로구 지봉로18 (숭인2동 316-2),지봉로18
21,1111000000,서울특별시 종로구,GS25숭인행운점,"서울 종로구 난계로29가길17, 1층 102호(숭인2동 1392)",난계로29가길17
23,1111000000,서울특별시 종로구,GS25숭인본점,"서울 종로구 종로66길25, 1층(숭인2동 1417, 삼신빌딩)",종로66길25
24,1111000000,서울특별시 종로구,GS25숭인마사회점,서울 종로구 난계로29길67(숭인2동 217-20),난계로29길67
25,1111000000,서울특별시 종로구,GS25동묘역점,"서울 종로구 종로344, 1층(숭인2동 310, 대우디오빌)",종로344
...,...,...,...,...,...
15265,4873000000,경상남도 함안군,GS25칠원벽산점,"경남 함안군 칠원면 오곡로103 (오곡리 87, 광려천벽산블루밍아파트)",오곡로103
15267,4873000000,경상남도 함안군,GS25용산사거리점,"경남 함안군 칠원면 운무로6(구성리 665-3, 우리들의원)",운무로6
15274,4873000000,경상남도 함안군,GS25함안칠원점,"경남 함안군 칠원면 경남대로1512(예곡리 400-12, GS25편의점)",경남대로1512
15517,5000000000,제주특별자치도특별자 서귀포시,GS25서귀대포점,제주특별자 서귀포시 이어도로129,이어도로129
15576,5000000000,제주특별자치도특별자 제주특별자치도시,GS25노형한빛점,제주특별자 제주시 원노형남1길8,원노형남1길8

In [48]:
B['emd_cd'] = B['emd_cd'].astype(str) +'00'

In [49]:
B

          sig_cd      emd_cd         rn  buld_mnnm         addr
0          11560  1156010300  버드나루로12나길         28  버드나루로12나길28
42         11290  1129012500    고려대로24길         44    고려대로24길44
43         11560  1156013200     도신로48길         11     도신로48길11
86         11320  1132010600     도당로13길         28     도당로13길28
88         11110  1111014000        삼청로        106       삼청로106
...          ...         ...        ...        ...          ...
58775764   47920  4792039000        청옥로       2130      청옥로2130
58775807   48129  4812914400        동진로        187       동진로187
58775850   48220  4822010900       멘데1길         20       멘데1길20
58775936   46230  4623025000       희양현로          7        희양현로7
58775979   48127  4812725000       삼계2길         24       삼계2길24

[1130526 rows x 5 columns]

In [50]:
df = pd.merge(df_,B[['addr','emd_cd']],on='addr',how='left')

In [51]:
df.dropna(axis=0)

,법정동코드,법정동명,점포명,상세주소,addr,emd_cd
0,1111000000,서울특별시 종로구,GS25종로동묘점,서울 종로구 지봉로18 (숭인2동 316-2),지봉로18,1111017500
1,1111000000,서울특별시 종로구,GS25숭인행운점,"서울 종로구 난계로29가길17, 1층 102호(숭인2동 1392)",난계로29가길17,1111017500
2,1111000000,서울특별시 종로구,GS25숭인본점,"서울 종로구 종로66길25, 1층(숭인2동 1417, 삼신빌딩)",종로66길25,1111017500
3,1111000000,서울특별시 종로구,GS25숭인마사회점,서울 종로구 난계로29길67(숭인2동 217-20),난계로29길67,1111017500
4,1111000000,서울특별시 종로구,GS25동묘역점,"서울 종로구 종로344, 1층(숭인2동 310, 대우디오빌)",종로344,1111017500
...,...,...,...,...,...,...
2318,4831000000,경상남도 거제시,GS25거제대우조선점,경남 거제시 옥포로4길1(옥포2동 1977),옥포로4길1,4831010600
2321,4873000000,경상남도 함안군,GS25칠원벽산점,"경남 함안군 칠원면 오곡로103 (오곡리 87, 광려천벽산블루밍아파트)",오곡로103,4873025300
2322,4873000000,경상남도 함안군,GS25용산사거리점,"경남 함안군 칠원면 운무로6(구성리 665-3, 우리들의원)",운무로6,4873025300
2324,5000000000,제주특별자치도특별자 서귀포시,GS25서귀대포점,제주특별자 서귀포시 이어도로129,이어도로129,5013011400
2325,5000000000,제주특별자치도특별자 제주특별자치도시,GS25노형한빛점,제주특별자 제주시 원노형남1길8,원노형남1길8,5011012200

In [52]:
df

,법정동코드,법정동명,점포명,상세주소,addr,emd_cd
0,1111000000,서울특별시 종로구,GS25종로동묘점,서울 종로구 지봉로18 (숭인2동 316-2),지봉로18,1111017500
1,1111000000,서울특별시 종로구,GS25숭인행운점,"서울 종로구 난계로29가길17, 1층 102호(숭인2동 1392)",난계로29가길17,1111017500
2,1111000000,서울특별시 종로구,GS25숭인본점,"서울 종로구 종로66길25, 1층(숭인2동 1417, 삼신빌딩)",종로66길25,1111017500
3,1111000000,서울특별시 종로구,GS25숭인마사회점,서울 종로구 난계로29길67(숭인2동 217-20),난계로29길67,1111017500
4,1111000000,서울특별시 종로구,GS25동묘역점,"서울 종로구 종로344, 1층(숭인2동 310, 대우디오빌)",종로344,1111017500
...,...,...,...,...,...,...
2321,4873000000,경상남도 함안군,GS25칠원벽산점,"경남 함안군 칠원면 오곡로103 (오곡리 87, 광려천벽산블루밍아파트)",오곡로103,4873025300
2322,4873000000,경상남도 함안군,GS25용산사거리점,"경남 함안군 칠원면 운무로6(구성리 665-3, 우리들의원)",운무로6,4873025300
2323,4873000000,경상남도 함안군,GS25함안칠원점,"경남 함안군 칠원면 경남대로1512(예곡리 400-12, GS25편의점)",경남대로1512,NaN
2324,5000000000,제주특별자치도특별자 서귀포시,GS25서귀대포점,제주특별자 서귀포시 이어도로129,이어도로129,5013011400
2325,5000000000,제주특별자치도특별자 제주특별자치도시,GS25노형한빛점,제주특별자 제주시 원노형남1길8,원노형남1길8,5011012200

In [47]:
2326 - 2085

241