In [1]:
import numpy as np
import pandas as pd

In [2]:
df_2021 = pd.read_csv('C://oasis/kt_bldg_sales_202101~202112.csv')

In [16]:
# 연간 예상매출액 합 (sum)
sum_2020 = df[df[df['base_ym']>=202001]['base_ym']<=202012]['pred_slng_amt'].sum()
sum_2021 = df[df[df['base_ym']>=202101]['base_ym']<=202112]['pred_slng_amt'].sum()
sum_2022 = df[df[df['base_ym']>=202201]['base_ym']<=202212]['pred_slng_amt'].sum()

195449943531

In [ ]:
# 연간 데이터프레임 분리
df_2020 = df[df[df['base_ym']>=202001]['base_ym']<=202012]['pred_slng_amt']
df_2021 = df[df[df['base_ym']>=202101]['base_ym']<=202112]['pred_slng_amt']
df_2022 = df[df[df['base_ym']>=202201]['base_ym']<=202212]['pred_slng_amt']

In [38]:
# 전년 대비 증감율 
def perYearIncrease(df_prior, df_current, df): # df_prior=전기, df_current=당기, df=전기 데이터프레임
    if (df_prior/df_current)*100 >= 120: # 120% 이상: 1
        df['year_increase'] = 1
    elif (df_prior/df_current)*100 < 120: # 120% 미만: 0
        df['year_increase'] = 0

In [39]:
# 실행
perYearIncrease(sum_2021,sum_2022, df_2021) # 2021년도 증감율
perYearIncrease(sum_2021,sum_2022, df_2021) # 2022년도 증감율

In [40]:
df_2021

,base_ym,bd_mgt_sn,emd_cd,rn_cd,buld_mnnm,buld_slno,ftc_cate2_cd,pred_slng_amt,year_increase
0,202101,1111010100100010000030843,11110101,4100289,16,14,B03,7360502,0
1,202101,1111010100100010000030843,11110101,4100289,16,14,C07,1000000,0
2,202101,1111010100100010000030843,11110101,4100289,16,14,B20,2136817,0
3,202101,1111010100100010000030843,11110101,4100289,16,14,B16,9613632,0
4,202101,1111010100100010000030843,11110101,4100289,16,14,B12,4318080,0
...,...,...,...,...,...,...,...,...,...
9995,202101,2826010800105160030002687,28260108,3156005,360,1,B20,2037095,0
9996,202101,2826010800105160030002687,28260108,3156005,360,1,A10,15414893,0
9997,202101,2826010800105160030002687,28260108,3156005,360,1,A07,7882895,0
9998,202101,2826010800105160030002687,28260108,3156005,360,1,A15,8480840,0
9999,202101,2826010800105160030002687,28260108,3156005,360,1,A13,100000000,0

test

In [21]:
sum_2021 = df_2021[df_2021[df_2021['base_ym']>=202101]['base_ym']<=202112]['pred_slng_amt'].sum()
sum_2022 = df_2022[df_2022[df_2022['base_ym']>=202201]['base_ym']<=202212]['pred_slng_amt'].sum()