###### 새버전

In [9]:
# m2.datadam_predict_price

# module
import psycopg2
import datetime
import numpy  as np
import pandas as pd

# 기준월
date = '202208'
# dates = pd.date_range('2022-01',periods=7,freq='M').strftime("%Y%m")

In [10]:
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

In [11]:
# PNU별 평당 분양가
sql = f'''
insert into m2.datadam_predict_price (
    with date as (
        select {date}::text as base_ym
    )
    select A.base_ym
         , A.pnu
         , A.emd_cd
         , A.price
         , sysdate::date as create_at
         , sysdate::date as update_at
         , 'du.Park' as work_user
    from (-- PNU별 가치환원법
        select pnu, substring(pnu,1,8) as emd_cd, round((min_price_1 + max_price_1)/2,0) as price, base_ym
        from m2.cremao_price A -- 예측 분양가
        where base_ym = (select base_ym from date)
        ) A
    join m1.pnu B -- 실제 PNU 확인
        on substring(A.pnu, 1, 19) = B.pnu
    join (-- 실제 건물 확인	
        select distinct sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
        from m1.bld_rgst
        where base_ym = (select base_ym from date)
    ) C
        on substring(A.pnu, 1, 19) = C.pnu
);
'''
aws_cursor.execute(sql)
aws_conn.commit()

# row count
print("Done")

Done

###### 구버전

In [35]:
### 0. import
import psycopg2
import datetime
import numpy  as np
import pandas as pd


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# PNU별 평당 분양가
sql = '''
with date as (
    select '202208' as base_ym
)
select A.base_ym
	 , A.pnu
	 , A.emd_cd
	 , A.price
	 , sysdate::date as create_at
     , sysdate::date as update_at
     , 'du.Park' as work_user
from (-- PNU별 가치환원법
	select pnu, substring(pnu,1,8) as emd_cd, round((min_price_1 + max_price_1)/2,0) as price, base_ym
	from m2.cremao_price A -- 예측 분양가
	where base_ym = (select base_ym from date)
	) A
join m1.pnu B -- 실제 PNU 확인
	on substring(A.pnu, 1, 19) = B.pnu
join (-- 실제 건물 확인	
	select distinct sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
	from m1.bld_rgst
	where base_ym = (select base_ym from date)
) C
	on substring(A.pnu, 1, 19) = C.pnu
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['base_ym','pnu','emd_cd','price','create_at','update_at','work_user']
df['price'] = df['price'].astype(int)



### 2. DB INSERT
table = 'm2.datadam_predict_price'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-25 16:50:20.313237  :  0
2022-11-25 16:50:26.269422  :  10000
2022-11-25 16:50:28.183118  :  20000
2022-11-25 16:50:30.318509  :  30000
2022-11-25 16:50:32.586800  :  40000
2022-11-25 16:50:34.722829  :  50000
2022-11-25 16:50:36.734441  :  60000
2022-11-25 16:50:38.865634  :  70000
2022-11-25 16:50:40.999410  :  80000
2022-11-25 16:50:57.323132  :  90000
2022-11-25 16:50:59.599587  :  100000
2022-11-25 16:51:01.807295  :  110000
2022-11-25 16:51:04.051293  :  120000
2022-11-25 16:51:06.335122  :  130000
2022-11-25 16:51:08.592624  :  140000
2022-11-25 16:51:10.733632  :  150000
2022-11-25 16:51:12.995562  :  160000
2022-11-25 16:51:15.669582  :  170000
2022-11-25 16:51:17.549778  :  180000
2022-11-25 16:51:19.885471  :  190000
2022-11-25 16:51:22.090334  :  200000
2022-11-25 16:51:24.856889  :  210000
2022-11-25 16:51:27.455577  :  220000
2022-11-25 16:51:30.318377  :  230000
2022-11-25 16:51:32.888709  :  240000
2022-11-25 16:51:35.578395  :  250000
2022-11-25 16:51:38.340358  :  260000
2022-11-25 16:51:40.668112  :  270000
2022-11-25 16:51:43.151369  :  280000
2022-11-25 16:51:48.713958  :  290000
2022-11-25 16:51:51.217419  :  300000
2022-11-25 16:51:53.705615  :  310000
2022-11-25 16:51:56.269979  :  320000
2022-11-25 16:51:59.141163  :  330000
2022-11-25 16:52:02.476288  :  340000
2022-11-25 16:52:05.206357  :  350000
2022-11-25 16:52:07.637325  :  360000
2022-11-25 16:52:10.788474  :  370000
2022-11-25 16:52:13.283374  :  380000
2022-11-25 16:52:15.825306  :  390000
2022-11-25 16:52:18.979415  :  400000
2022-11-25 16:52:21.878106  :  410000
2022-11-25 16:52:24.388605  :  420000
2022-11-25 16:52:26.727594  :  430000
2022-11-25 16:52:29.192975  :  440000
2022-11-25 16:52:31.640882  :  450000
2022-11-25 16:52:34.045927  :  460000
2022-11-25 16:52:36.381135  :  470000
2022-11-25 16:52:38.626351  :  480000
2022-11-25 16:52:40.719023  :  490000
2022-11-25 16:52:43.595670  :  500000
2022-11-25 16:52:46.006623  :  510000
2022-11-25 16:52:48.635636  :  520000
2022-11-25 16:52:51.183181  :  530000
2022-11-25 16:52:53.868714  :  540000
2022-11-25 16:52:57.061669  :  550000
2022-11-25 16:53:00.191427  :  560000
2022-11-25 16:53:03.368082  :  570000
2022-11-25 16:53:07.378515  :  580000
2022-11-25 16:53:10.702686  :  590000
2022-11-25 16:53:13.685723  :  600000
2022-11-25 16:53:17.093240  :  610000
2022-11-25 16:53:20.012207  :  620000
2022-11-25 16:53:23.040423  :  630000
2022-11-25 16:53:25.521095  :  640000
2022-11-25 16:53:28.213365  :  650000
2022-11-25 16:53:30.895444  :  660000
2022-11-25 16:53:33.472309  :  670000
2022-11-25 16:53:36.206125  :  680000
2022-11-25 16:53:39.271654  :  690000
2022-11-25 16:53:42.143553  :  700000
2022-11-25 16:53:44.590941  :  710000
2022-11-25 16:53:46.809749  :  720000
2022-11-25 16:53:49.199126  :  730000
2022-11-25 16:53:51.472017  :  740000
2022-11-25 16:53:53.786249  :  750000
2022-11-25 16:53:56.092298  :  760000
2022-11-25 16:53:58.397996  :  770000
2022-11-25 16:54:00.559365  :  780000
2022-11-25 16:54:02.777632  :  790000
2022-11-25 16:54:04.934052  :  800000
2022-11-25 16:54:06.845980  :  810000
2022-11-25 16:54:09.080168  :  820000
2022-11-25 16:54:11.480470  :  830000
2022-11-25 16:54:13.716397  :  840000
2022-11-25 16:54:15.671297  :  850000
2022-11-25 16:54:17.836735  :  860000
2022-11-25 16:54:20.145511  :  870000
2022-11-25 16:54:22.348778  :  880000
2022-11-25 16:54:24.391586  :  890000
2022-11-25 16:54:26.580616  :  900000
2022-11-25 16:54:28.622587  :  910000
2022-11-25 16:54:30.853209  :  920000
2022-11-25 16:54:32.854133  :  930000
2022-11-25 16:54:34.763159  :  940000
2022-11-25 16:54:37.064302  :  950000
2022-11-25 16:54:40.155787  :  960000
2022-11-25 16:54:42.745075  :  970000
2022-11-25 16:54:45.150061  :  980000
2022-11-25 16:54:47.856228  :  990000
2022-11-25 16:54:50.490042  :  1000000
2022-11-25 16:54:53.297730  :  1010000
2022-11-25 16:54:55.830155  :  1020000
2022-11-25 16:54:58.032453  :  1030000
2022-11-25 16:55:00.996794  :  1040000
2022-11-25 16:55:03.826648  :  1050000
2022-11-25 16:55:06.514676  :  1060000
2022-11-25 16:55:08.868537  :  1070000
2022-11-25 16:55:11.687504  :  1080000
2022-11-25 16:55:13.916503  :  1090000
2022-11-25 16:55:16.098266  :  1100000
2022-11-25 16:55:18.801980  :  1110000
1119105

In [36]:
df

,base_ym,pnu,emd_cd,price,create_at,update_at,work_user
0,202208,1111010100100040014,11110101,48699511,2022-11-25,2022-11-25,du.Park
1,202208,1111010100100040020,11110101,44749981,2022-11-25,2022-11-25,du.Park
2,202208,1111010100100080004,11110101,43648228,2022-11-25,2022-11-25,du.Park
3,202208,1111010100100150004,11110101,43192442,2022-11-25,2022-11-25,du.Park
4,202208,1111010100100150005,11110101,49050490,2022-11-25,2022-11-25,du.Park
...,...,...,...,...,...,...,...
1119100,202208,5013032025118440000,50130320,106147293,2022-11-25,2022-11-25,du.Park
1119101,202208,5013032026100170000,50130320,115234007,2022-11-25,2022-11-25,du.Park
1119102,202208,5013032026100370001,50130320,96490999,2022-11-25,2022-11-25,du.Park
1119103,202208,5013032026101680000,50130320,108855314,2022-11-25,2022-11-25,du.Park
1119104,202208,5013032026104390007,50130320,102063930,2022-11-25,2022-11-25,du.Park