### final

In [ ]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.4f}'

# 기준월
base_ym = '202209'

### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# 배후지 인구 1인당 상업용 부동산 공급면적
sql = f'''
with date as (
	select {base_ym}::text as base_ym
)
select (select base_ym from date) as base_ym
	 , A.pnu
	 , substring(A.pnu, 1, 8) as emd_cd
	 , case when sum(nvl(C.pnu_pop_cnt, 0) + nvl(D.pnu_pop_cnt, 0)) = 0 then 0 else round(1.0 * sum(nvl(E.tot_area, 0)) / sum(nvl(C.pnu_pop_cnt, 0) + nvl(D.pnu_pop_cnt, 0)), 4) end as commercial_per_population
from (
	select pnu, poly
	from m2.cremao_land
	where 1=1
		and jimok = '대'
) A -- 지목 '대' 토지만 추출 -> 모집단
left join (
	select pnu, poly
	from m2.cremao_land
) B -- 모집단 PNU 기준 반경 100m 내 PNU 모두 가져오기
	on ST_DistanceSphere(ST_Centroid(A.poly::geometry), ST_Centroid(B.poly::geometry)) < 100
left join m2.live_pop C -- 반경 100m 거주인구
	on B.pnu = C.pnu
left join m2.work_pop D -- 반경 100m 직장인구
	on B.pnu = D.pnu
left join (
	select sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
		 , sum(tot_area) as tot_area
	from m1.building_permit_info
	where 1=1
		and arch_pms_day between (select dateadd(month, -11, to_date(base_ym||'01', 'yyyymmdd'))::date from date) and (select last_day(to_date(base_ym||'01', 'yyyymmdd')) from date) -- 최근1년 조건
		and (main_purps_cd_nm like '%업무%' or main_purps_cd_nm like '%근린%') -- 상업, 업무용 부동산 조건
		and arch_gb_cd_nm in ('신축','증축','재축') -- 신축, 중축, 재건축만 가져오기
	group by 1
) E -- 반경 100m 상업용부동산 공급 연면적SUM
	on B.pnu = E.pnu
group by 1, 2, 3
order by 1, 2, 3
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['base_ym','pnu','emd_cd','commercial_per_population']

# 작업일(업데이트일) 및 작업자 추가
df['create_at'] = datetime.today().strftime("%Y%m%d")
df['update_at'] = datetime.today().strftime("%Y%m%d")
df['work_user'] = 'du.Park'

In [ ]:
df

In [ ]:
df.drop(columns=['base_ym'])

In [ ]:
### 2. DB INSERT
import datetime

table = 'm2.datadam_commercial_per_population'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

###### ver1 (법정동 단위)

In [38]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.6f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# 법정동별 상가 면적
sql = '''
select sigungu_cd||bjdong_cd as pnu, count(mgm_bldrgst_pk) as total_count
  from m1.bld_rgst
 where main_purps_cd_nm not in 
    (
    select distinct main_purps_cd_nm
    from m1.bld_rgst
    where main_purps_cd_nm like '%주택%'
    )
group by sigungu_cd||bjdong_cd
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_rgst = pd.DataFrame(rows)
df_bld_rgst.columns = ['emd_cd','total_count']

# 법정동별 유동인구 
sql = '''
    select substring (pnu, 0, 11), sum(f_tot)
      from m2.cremao_land_floating_population
     group by substring (pnu, 0, 11)
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_f_tot = pd.DataFrame(rows)
df_f_tot.columns = ['emd_cd','f_tot']
df_f_tot = df_f_tot[~df_f_tot['f_tot'].isnull()].reset_index(drop=True)

# 데이터 프레임 병합
df = pd.merge(df_f_tot, df_bld_rgst, on='emd_cd', how='left')

# 인구가 0명, null인 지역 제외
df = df[~df['total_count'].isnull()]

# 상가면적 / 거주인구
df['commercial_per_population'] = (df['total_count'] / df['f_tot'])
df = df[['emd_cd','commercial_per_population']]
df['base_ym'] = datetime.today().strftime("%Y%m")


### 2. DB INSERT
import datetime

table = 'm2.datadam_commercial_per_population'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
     # drop & create
    cursor.execute(
    """
    drop table if exists m2.datadam_commercial_per_population;
    create table m2.datadam_commercial_per_population (    
    emd_cd varchar(10)
    , commercial_per_population double precision
    , base_ym varchar(6)
    )
    distkey(emd_cd)
    compound sortkey(base_ym);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-10-30 18:08:47.688140  :  0
2022-10-30 18:08:50.007249  :  10000
17296

In [37]:
df.describe()

       commercial_per_population
count               17296.000000
mean                    0.051612
std                     0.292162
min                     0.000000
25%                     0.000259
50%                     0.003113
75%                     0.020263
max                    17.100000

###### ver2

In [1]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.6f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# pnu별 상업용 부동산 수
sql = '''
select count(mgm_bldrgst_pk), sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji as pnu
  from m1.bld_rgst
 where main_purps_cd_nm not in 
	(
	select distinct main_purps_cd_nm
	from m1.bld_rgst
	where main_purps_cd_nm like '%주택%'
	)
  and base_ym = '202209'
group by sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_rgst = pd.DataFrame(rows)
df_bld_rgst.columns = ['bld_count','pnu_x']
df_bld_rgst['bun'] = df_bld_rgst['pnu_x'].str[:15] # 15: 본번까지 구분해서 병합
df_bld_rgst['emd_cd'] = df_bld_rgst['pnu_x'].str[:8] + '00'

# pnu별 유동인구 
sql = '''
select substring(bd_mgt_sn, 0, 20) as pnu, avg(f_tot)
  from m1.kt_bldg_xy_info
 where base_ym = '202209'
 group by substring(bd_mgt_sn, 0, 20)
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_f_tot = pd.DataFrame(rows)
df_f_tot.columns = ['pnu','f_tot']
df_f_tot['bun'] = df_f_tot['pnu'].str[:15]


# 데이터 프레임 병합
df = pd.merge(df_bld_rgst, df_f_tot, on='bun', how='left')

# 인구가 0명, null인 지역 제외
df = df[~df['pnu'].isnull()]

# 상업용 부동산 수 / 유동인구
df['commercial_per_population'] = (df['bld_count'] / df['f_tot'])

# inf 값 제거후 컬럼 정리
df = df[~(df['commercial_per_population']==np.inf)]
df = df[['pnu','emd_cd','commercial_per_population']]
df['create_at'] = datetime.today().strftime("%Y-%m-%d")
df['update_at'] = datetime.today().strftime("%Y-%m-%d")
df['work_user'] = 'du.Park'


### 2. DB INSERT
import datetime

table = 'm2.datadam_commercial_per_population'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-05 12:00:48.330741  :  0
2022-11-05 12:00:54.061601  :  10000
2022-11-05 12:00:57.155262  :  20000
2022-11-05 12:01:03.401182  :  30000
2022-11-05 12:01:06.997267  :  40000
2022-11-05 12:01:09.446444  :  50000
2022-11-05 12:01:15.038604  :  60000
2022-11-05 12:01:17.109433  :  70000
2022-11-05 12:01:25.022565  :  80000
2022-11-05 12:01:28.034510  :  90000
2022-11-05 12:01:32.200959  :  100000
2022-11-05 12:01:35.561445  :  110000
2022-11-05 12:01:44.041954  :  120000
2022-11-05 12:01:46.818251  :  130000
2022-11-05 12:01:51.259685  :  140000
2022-11-05 12:01:53.284257  :  150000
2022-11-05 12:01:58.557820  :  160000
2022-11-05 12:02:05.226975  :  170000
2022-11-05 12:02:07.259563  :  180000
2022-11-05 12:02:10.095917  :  190000
2022-11-05 12:02:14.287604  :  200000
2022-11-05 12:02:16.280123  :  210000
2022-11-05 12:02:27.892285  :  220000
2022-11-05 12:02:29.854560  :  230000
2022-11-05 12:02:32.931336  :  240000
2022-11-05 12:02:41.524905  :  250000
2022-11-05 12:02:43.536573  :  260000
2022-11-05 12:02:47.679638  :  270000
2022-11-05 12:02:51.136027  :  280000
2022-11-05 12:02:54.151418  :  290000
2022-11-05 12:02:59.597542  :  300000
2022-11-05 12:03:08.759718  :  310000
2022-11-05 12:03:13.564470  :  320000
2022-11-05 12:03:16.827034  :  330000
2022-11-05 12:03:20.498333  :  340000
2022-11-05 12:03:25.001778  :  350000
2022-11-05 12:03:32.840930  :  360000
2022-11-05 12:03:35.788403  :  370000
2022-11-05 12:03:41.649554  :  380000
2022-11-05 12:03:45.851016  :  390000
2022-11-05 12:03:52.152642  :  400000
2022-11-05 12:03:54.018780  :  410000
2022-11-05 12:03:55.824194  :  420000
2022-11-05 12:03:58.099292  :  430000
2022-11-05 12:04:00.470254  :  440000
2022-11-05 12:04:06.836017  :  450000
2022-11-05 12:04:09.288123  :  460000
2022-11-05 12:04:18.725515  :  470000
2022-11-05 12:04:20.515684  :  480000
2022-11-05 12:04:22.289409  :  490000
2022-11-05 12:04:25.983291  :  500000
2022-11-05 12:04:32.920171  :  510000
2022-11-05 12:04:35.077786  :  520000
2022-11-05 12:04:36.958716  :  530000
2022-11-05 12:04:39.495210  :  540000
2022-11-05 12:04:45.691816  :  550000
2022-11-05 12:04:48.238594  :  560000
2022-11-05 12:04:53.560641  :  570000
2022-11-05 12:04:59.177813  :  580000
2022-11-05 12:05:04.924679  :  590000
2022-11-05 12:05:07.149112  :  600000
2022-11-05 12:05:09.016230  :  610000
2022-11-05 12:05:10.933842  :  620000
2022-11-05 12:05:12.631308  :  630000
2022-11-05 12:05:16.261124  :  640000
2022-11-05 12:05:18.411627  :  650000
2022-11-05 12:05:20.106853  :  660000
2022-11-05 12:05:22.070348  :  670000
2022-11-05 12:05:23.796718  :  680000
2022-11-05 12:05:25.461093  :  690000
2022-11-05 12:05:27.172725  :  700000
2022-11-05 12:05:28.852524  :  710000
2022-11-05 12:05:30.767710  :  720000
2022-11-05 12:05:34.365820  :  730000
2022-11-05 12:05:39.356436  :  740000
2022-11-05 12:05:43.579594  :  750000
2022-11-05 12:05:47.976641  :  760000
2022-11-05 12:05:49.587044  :  770000
2022-11-05 12:05:51.219265  :  780000
2022-11-05 12:05:53.040500  :  790000
2022-11-05 12:05:54.689201  :  800000
2022-11-05 12:05:59.525776  :  810000
2022-11-05 12:06:01.158121  :  820000
2022-11-05 12:06:02.884971  :  830000
2022-11-05 12:06:04.526821  :  840000
2022-11-05 12:06:07.809477  :  850000
2022-11-05 12:06:11.437657  :  860000
2022-11-05 12:06:13.151310  :  870000
2022-11-05 12:06:14.830728  :  880000
2022-11-05 12:06:18.334463  :  890000
2022-11-05 12:06:19.905611  :  900000
2022-11-05 12:06:25.066980  :  910000
2022-11-05 12:06:30.259879  :  920000
2022-11-05 12:06:32.428269  :  930000
2022-11-05 12:06:34.060481  :  940000
2022-11-05 12:06:38.990402  :  950000
2022-11-05 12:06:41.099108  :  960000
2022-11-05 12:06:42.839845  :  970000
2022-11-05 12:06:44.456851  :  980000
2022-11-05 12:06:46.103294  :  990000
2022-11-05 12:06:48.067708  :  1000000
2022-11-05 12:06:50.092127  :  1010000
2022-11-05 12:06:52.121851  :  1020000
2022-11-05 12:06:54.006297  :  1030000
2022-11-05 12:06:55.873548  :  1040000
2022-11-05 12:06:57.506603  :  1050000
2022-11-05 12:06:59.623621  :  1060000
2022-11-05 12:07:01.289412  :  1070000
2022-11-05 12:07:03.420586  :  1080000
2022-11-05 12:07:05.461530  :  1090000
2022-11-05 12:07:07.157556  :  1100000
2022-11-05 12:07:08.789788  :  1110000
2022-11-05 12:07:10.524740  :  1120000
2022-11-05 12:07:13.788558  :  1130000
2022-11-05 12:07:15.401303  :  1140000
2022-11-05 12:07:17.827419  :  1150000
2022-11-05 12:07:19.780624  :  1160000
2022-11-05 12:07:21.522930  :  1170000
2022-11-05 12:07:23.063544  :  1180000
2022-11-05 12:07:27.785018  :  1190000
2022-11-05 12:07:29.715387  :  1200000
2022-11-05 12:07:31.851253  :  1210000
2022-11-05 12:07:33.485070  :  1220000
2022-11-05 12:07:35.269804  :  1230000
2022-11-05 12:07:40.585668  :  1240000
2022-11-05 12:07:42.126124  :  1250000
2022-11-05 12:07:44.253493  :  1260000
2022-11-05 12:07:48.342074  :  1270000
2022-11-05 12:07:50.084247  :  1280000
2022-11-05 12:07:51.921920  :  1290000
2022-11-05 12:07:55.420376  :  1300000
2022-11-05 12:07:57.087638  :  1310000
2022-11-05 12:07:58.738867  :  1320000
2022-11-05 12:08:00.566076  :  1330000
2022-11-05 12:08:04.229530  :  1340000
2022-11-05 12:08:06.192436  :  1350000
2022-11-05 12:08:08.127187  :  1360000
2022-11-05 12:08:09.775426  :  1370000
2022-11-05 12:08:14.316643  :  1380000
2022-11-05 12:08:18.452077  :  1390000
2022-11-05 12:08:20.037485  :  1400000
2022-11-05 12:08:21.933444  :  1410000
2022-11-05 12:08:24.038152  :  1420000
2022-11-05 12:08:27.380097  :  1430000
2022-11-05 12:08:31.182787  :  1440000
2022-11-05 12:08:32.879703  :  1450000
2022-11-05 12:08:34.715916  :  1460000
2022-11-05 12:08:39.021432  :  1470000
2022-11-05 12:08:40.774013  :  1480000
2022-11-05 12:08:42.532573  :  1490000
2022-11-05 12:08:45.974777  :  1500000
2022-11-05 12:08:47.605940  :  1510000
2022-11-05 12:08:49.300981  :  1520000
2022-11-05 12:08:51.011707  :  1530000
2022-11-05 12:08:56.878447  :  1540000
2022-11-05 12:08:58.730809  :  1550000
2022-11-05 12:09:00.314544  :  1560000
2022-11-05 12:09:02.198793  :  1570000
2022-11-05 12:09:04.980312  :  1580000
2022-11-05 12:09:06.660640  :  1590000
2022-11-05 12:09:09.111312  :  1600000
2022-11-05 12:09:10.821919  :  1610000
2022-11-05 12:09:12.416303  :  1620000
2022-11-05 12:09:14.111511  :  1630000
2022-11-05 12:09:15.919649  :  1640000
2022-11-05 12:09:17.519813  :  1650000
2022-11-05 12:09:19.293031  :  1660000
2022-11-05 12:09:20.894132  :  1670000
2022-11-05 12:09:26.459760  :  1680000
2022-11-05 12:09:30.412812  :  1690000
2022-11-05 12:09:32.055464  :  1700000
2022-11-05 12:09:34.143454  :  1710000
2022-11-05 12:09:37.739138  :  1720000
2022-11-05 12:09:42.741860  :  1730000
2022-11-05 12:09:44.561073  :  1740000
2022-11-05 12:09:46.677477  :  1750000
2022-11-05 12:09:48.656630  :  1760000
2022-11-05 12:09:50.603205  :  1770000
2022-11-05 12:09:54.552818  :  1780000
2022-11-05 12:09:56.201433  :  1790000
2022-11-05 12:09:57.879473  :  1800000
2022-11-05 12:09:59.481899  :  1810000
2022-11-05 12:10:01.255806  :  1820000
2022-11-05 12:10:04.662739  :  1830000
2022-11-05 12:10:06.609892  :  1840000
2022-11-05 12:10:08.762088  :  1850000
2022-11-05 12:10:10.637781  :  1860000
2022-11-05 12:10:12.569454  :  1870000
2022-11-05 12:10:14.262162  :  1880000
2022-11-05 12:10:19.693410  :  1890000
2022-11-05 12:10:21.529747  :  1900000
2022-11-05 12:10:23.367439  :  1910000
2022-11-05 12:10:25.359086  :  1920000
2022-11-05 12:10:29.706924  :  1930000
2022-11-05 12:10:31.606406  :  1940000
2022-11-05 12:10:33.281342  :  1950000
2022-11-05 12:10:35.259455  :  1960000
2022-11-05 12:10:36.971054  :  1970000
2022-11-05 12:10:39.105436  :  1980000
2022-11-05 12:10:40.716542  :  1990000
2022-11-05 12:10:42.733152  :  2000000
2022-11-05 12:10:44.433691  :  2010000
2022-11-05 12:10:46.781317  :  2020000
2022-11-05 12:10:48.403880  :  2030000
2022-11-05 12:10:50.255123  :  2040000
2022-11-05 12:10:51.872323  :  2050000
2022-11-05 12:10:53.708633  :  2060000
2022-11-05 12:10:55.780820  :  2070000
2022-11-05 12:10:57.745384  :  2080000
2022-11-05 12:10:59.360424  :  2090000
2022-11-05 12:11:00.994612  :  2100000
2022-11-05 12:11:02.907213  :  2110000
2022-11-05 12:11:05.122757  :  2120000
2022-11-05 12:11:08.603850  :  2130000
2022-11-05 12:11:14.303945  :  2140000
2022-11-05 12:11:16.265497  :  2150000
2022-11-05 12:11:18.040080  :  2160000
2022-11-05 12:11:19.814016  :  2170000
2022-11-05 12:11:21.824062  :  2180000
2022-11-05 12:11:23.486711  :  2190000
2022-11-05 12:11:25.103024  :  2200000
2022-11-05 12:11:30.503263  :  2210000
2022-11-05 12:11:36.253365  :  2220000
2022-11-05 12:11:42.072859  :  2230000
2022-11-05 12:11:44.062687  :  2240000
2022-11-05 12:11:45.811587  :  2250000
2022-11-05 12:11:47.831895  :  2260000
2022-11-05 12:11:49.637437  :  2270000
2022-11-05 12:11:53.706416  :  2280000
2022-11-05 12:11:56.140760  :  2290000
2022-11-05 12:11:57.803074  :  2300000
2022-11-05 12:11:59.467211  :  2310000
2022-11-05 12:12:00.999996  :  2320000
2022-11-05 12:12:04.665599  :  2330000
2022-11-05 12:12:06.965333  :  2340000
2022-11-05 12:12:08.714661  :  2350000
2022-11-05 12:12:10.801749  :  2360000
2022-11-05 12:12:12.434408  :  2370000
2022-11-05 12:12:14.082417  :  2380000
2022-11-05 12:12:16.186194  :  2390000
2022-11-05 12:12:21.594944  :  2400000
2022-11-05 12:12:23.333308  :  2410000
2022-11-05 12:12:29.080566  :  2420000
2022-11-05 12:12:30.778110  :  2430000
2022-11-05 12:12:32.662271  :  2440000
2022-11-05 12:12:34.391717  :  2450000
2022-11-05 12:12:35.992832  :  2460000
2022-11-05 12:12:37.766624  :  2470000
2022-11-05 12:12:42.320778  :  2480000
2022-11-05 12:12:47.448454  :  2490000
2022-11-05 12:12:49.127261  :  2500000
2022-11-05 12:12:50.869541  :  2510000
2022-11-05 12:12:52.595442  :  2520000
2022-11-05 12:12:55.671660  :  2530000
2022-11-05 12:12:57.414385  :  2540000
2022-11-05 12:13:03.389153  :  2550000
2022-11-05 12:13:08.676293  :  2560000
2022-11-05 12:13:10.433868  :  2570000
2022-11-05 12:13:12.066205  :  2580000
2022-11-05 12:13:14.231969  :  2590000
2022-11-05 12:13:15.925839  :  2600000
2022-11-05 12:13:17.605574  :  2610000
2022-11-05 12:13:19.426956  :  2620000
2022-11-05 12:13:21.404188  :  2630000
2022-11-05 12:13:23.940030  :  2640000
2022-11-05 12:13:25.666383  :  2650000
2022-11-05 12:13:27.298526  :  2660000
2022-11-05 12:13:29.307482  :  2670000
2022-11-05 12:13:30.970397  :  2680000
2022-11-05 12:13:32.554730  :  2690000
2022-11-05 12:13:37.754095  :  2700000
2022-11-05 12:13:39.416827  :  2710000
2022-11-05 12:13:41.041794  :  2720000
2022-11-05 12:13:46.017880  :  2730000
2022-11-05 12:13:51.136155  :  2740000
2022-11-05 12:13:53.382354  :  2750000
2022-11-05 12:13:58.825203  :  2760000
2022-11-05 12:14:00.850230  :  2770000
2022-11-05 12:14:03.030200  :  2780000
2022-11-05 12:14:04.756780  :  2790000
2022-11-05 12:14:10.280649  :  2800000
2022-11-05 12:14:12.022652  :  2810000
2022-11-05 12:14:13.861906  :  2820000
2022-11-05 12:14:15.430445  :  2830000
2022-11-05 12:14:17.171872  :  2840000
2022-11-05 12:14:19.212794  :  2850000
2022-11-05 12:14:21.983546  :  2860000
2022-11-05 12:14:26.550887  :  2870000
2022-11-05 12:14:28.245166  :  2880000
2022-11-05 12:14:30.117736  :  2890000
2022-11-05 12:14:34.671385  :  2900000
2022-11-05 12:14:36.327905  :  2910000
2022-11-05 12:14:42.139271  :  2920000
2022-11-05 12:14:47.271071  :  2930000
2022-11-05 12:14:49.359800  :  2940000
2022-11-05 12:14:51.070710  :  2950000
2022-11-05 12:14:53.363348  :  2960000
2022-11-05 12:14:57.655906  :  2970000
2022-11-05 12:14:59.303736  :  2980000
2022-11-05 12:15:00.969024  :  2990000
2022-11-05 12:15:04.350690  :  3000000
2022-11-05 12:15:06.251169  :  3010000
2022-11-05 12:15:08.260592  :  3020000
2022-11-05 12:15:10.502466  :  3030000
2022-11-05 12:15:12.103958  :  3040000
2022-11-05 12:15:15.911241  :  3050000
2022-11-05 12:15:18.234242  :  3060000
2022-11-05 12:15:20.415701  :  3070000
2022-11-05 12:15:22.096363  :  3080000
2022-11-05 12:15:23.806647  :  3090000
2022-11-05 12:15:25.437243  :  3100000
2022-11-05 12:15:27.381127  :  3110000
2022-11-05 12:15:29.561336  :  3120000
2022-11-05 12:15:33.924696  :  3130000
2022-11-05 12:15:35.620286  :  3140000
2022-11-05 12:15:37.457031  :  3150000
2022-11-05 12:15:39.100323  :  3160000
2022-11-05 12:15:40.761930  :  3170000
2022-11-05 12:15:45.959035  :  3180000
2022-11-05 12:15:51.517716  :  3190000
2022-11-05 12:15:53.635312  :  3200000
2022-11-05 12:15:55.787713  :  3210000
2022-11-05 12:16:01.164479  :  3220000
2022-11-05 12:16:03.299034  :  3230000
2022-11-05 12:16:05.480213  :  3240000
2022-11-05 12:16:08.726648  :  3250000
2022-11-05 12:16:10.421048  :  3260000
2022-11-05 12:16:14.387182  :  3270000
2022-11-05 12:16:16.071678  :  3280000
2022-11-05 12:16:17.685844  :  3290000
2022-11-05 12:16:19.775314  :  3300000
2022-11-05 12:16:21.581021  :  3310000
2022-11-05 12:16:23.199498  :  3320000
2022-11-05 12:16:25.065410  :  3330000
2022-11-05 12:16:26.807275  :  3340000
2022-11-05 12:16:28.530462  :  3350000
2022-11-05 12:16:31.954318  :  3360000
2022-11-05 12:16:33.890278  :  3370000
2022-11-05 12:16:35.528446  :  3380000
2022-11-05 12:16:39.118727  :  3390000
2022-11-05 12:16:40.746374  :  3400000
2022-11-05 12:16:45.683317  :  3410000
2022-11-05 12:16:50.657905  :  3420000
2022-11-05 12:16:52.390258  :  3430000
2022-11-05 12:16:57.442756  :  3440000
2022-11-05 12:16:59.114328  :  3450000
2022-11-05 12:17:01.038970  :  3460000
2022-11-05 12:17:04.131252  :  3470000
2022-11-05 12:17:09.020986  :  3480000
2022-11-05 12:17:11.030436  :  3490000
2022-11-05 12:17:16.500303  :  3500000
2022-11-05 12:17:18.211996  :  3510000
2022-11-05 12:17:20.614821  :  3520000
2022-11-05 12:17:26.389856  :  3530000
2022-11-05 12:17:28.164268  :  3540000
2022-11-05 12:17:30.107632  :  3550000
2022-11-05 12:17:31.834779  :  3560000
2022-11-05 12:17:34.000349  :  3570000
2022-11-05 12:17:37.354294  :  3580000
2022-11-05 12:17:39.331189  :  3590000
2022-11-05 12:17:40.959445  :  3600000
2022-11-05 12:17:44.959647  :  3610000
2022-11-05 12:17:46.569778  :  3620000
2022-11-05 12:17:48.812489  :  3630000
2022-11-05 12:17:53.404829  :  3640000
2022-11-05 12:17:55.371387  :  3650000
2022-11-05 12:17:58.441337  :  3660000
2022-11-05 12:18:00.391916  :  3670000
2022-11-05 12:18:02.398752  :  3680000
2022-11-05 12:18:04.380414  :  3690000
2022-11-05 12:18:08.771640  :  3700000
2022-11-05 12:18:10.529072  :  3710000
2022-11-05 12:18:12.490132  :  3720000
2022-11-05 12:18:14.343389  :  3730000
2022-11-05 12:18:16.414412  :  3740000
2022-11-05 12:18:19.315482  :  3750000
2022-11-05 12:18:21.119717  :  3760000
2022-11-05 12:18:24.461484  :  3770000
2022-11-05 12:18:26.509218  :  3780000
2022-11-05 12:18:28.582135  :  3790000
2022-11-05 12:18:31.123716  :  3800000
2022-11-05 12:18:37.360132  :  3810000
2022-11-05 12:18:39.050296  :  3820000
2022-11-05 12:18:40.767422  :  3830000
2022-11-05 12:18:42.388802  :  3840000
2022-11-05 12:18:48.004255  :  3850000
2022-11-05 12:18:49.937197  :  3860000
2022-11-05 12:18:51.679202  :  3870000
2022-11-05 12:18:56.908999  :  3880000
2022-11-05 12:18:58.554155  :  3890000
2022-11-05 12:19:00.723855  :  3900000
2022-11-05 12:19:02.802710  :  3910000
2022-11-05 12:19:04.613863  :  3920000
2022-11-05 12:19:06.664738  :  3930000
2022-11-05 12:19:08.695265  :  3940000
2022-11-05 12:19:12.414531  :  3950000
2022-11-05 12:19:15.479960  :  3960000
2022-11-05 12:19:17.445535  :  3970000
2022-11-05 12:19:21.353025  :  3980000
2022-11-05 12:19:24.360749  :  3990000
2022-11-05 12:19:26.442476  :  4000000
2022-11-05 12:19:28.312435  :  4010000
2022-11-05 12:19:30.094134  :  4020000
2022-11-05 12:19:31.789798  :  4030000
2022-11-05 12:19:33.433072  :  4040000
2022-11-05 12:19:35.121741  :  4050000
2022-11-05 12:19:37.041867  :  4060000
2022-11-05 12:19:38.788380  :  4070000
2022-11-05 12:19:40.498872  :  4080000
2022-11-05 12:19:42.249585  :  4090000
2022-11-05 12:19:44.073147  :  4100000
2022-11-05 12:19:46.120854  :  4110000
2022-11-05 12:19:48.086181  :  4120000
2022-11-05 12:19:51.373630  :  4130000
2022-11-05 12:19:53.030810  :  4140000
2022-11-05 12:19:55.987229  :  4150000
2022-11-05 12:19:59.798276  :  4160000
2022-11-05 12:20:01.523532  :  4170000
2022-11-05 12:20:04.343631  :  4180000
2022-11-05 12:20:06.196740  :  4190000
2022-11-05 12:20:10.616081  :  4200000
2022-11-05 12:20:12.369020  :  4210000
2022-11-05 12:20:14.650809  :  4220000
2022-11-05 12:20:16.370903  :  4230000
2022-11-05 12:20:18.056514  :  4240000
2022-11-05 12:20:20.860961  :  4250000
2022-11-05 12:20:24.843224  :  4260000
2022-11-05 12:20:26.659525  :  4270000
2022-11-05 12:20:28.545390  :  4280000
2022-11-05 12:20:30.384213  :  4290000
2022-11-05 12:20:32.727747  :  4300000
2022-11-05 12:20:34.434064  :  4310000
2022-11-05 12:20:38.992892  :  4320000
2022-11-05 12:20:40.766746  :  4330000
2022-11-05 12:20:46.178183  :  4340000
2022-11-05 12:20:49.028409  :  4350000
2022-11-05 12:20:52.169127  :  4360000
2022-11-05 12:20:53.859701  :  4370000
2022-11-05 12:20:55.494106  :  4380000
2022-11-05 12:20:57.473148  :  4390000
2022-11-05 12:20:59.396215  :  4400000
2022-11-05 12:21:02.029504  :  4410000
2022-11-05 12:21:03.730217  :  4420000
2022-11-05 12:21:05.734106  :  4430000
2022-11-05 12:21:10.391545  :  4440000
2022-11-05 12:21:12.211173  :  4450000
2022-11-05 12:21:16.655853  :  4460000
2022-11-05 12:21:18.260424  :  4470000
2022-11-05 12:21:20.131475  :  4480000
2022-11-05 12:21:21.856594  :  4490000
2022-11-05 12:21:24.766554  :  4500000
2022-11-05 12:21:26.788922  :  4510000
2022-11-05 12:21:31.056904  :  4520000
2022-11-05 12:21:32.978782  :  4530000
2022-11-05 12:21:34.603846  :  4540000
2022-11-05 12:21:36.359829  :  4550000
2022-11-05 12:21:38.226979  :  4560000
2022-11-05 12:21:40.116047  :  4570000
2022-11-05 12:21:45.825193  :  4580000
2022-11-05 12:21:51.444261  :  4590000
2022-11-05 12:21:53.898721  :  4600000
2022-11-05 12:21:55.835000  :  4610000
2022-11-05 12:21:57.617943  :  4620000
2022-11-05 12:21:59.385323  :  4630000
2022-11-05 12:22:04.889474  :  4640000
2022-11-05 12:22:07.161510  :  4650000
2022-11-05 12:22:08.782345  :  4660000
2022-11-05 12:22:10.464995  :  4670000
2022-11-05 12:22:12.351249  :  4680000
2022-11-05 12:22:14.256280  :  4690000
2022-11-05 12:22:17.036741  :  4700000
2022-11-05 12:22:19.265126  :  4710000
2022-11-05 12:22:20.942487  :  4720000
2022-11-05 12:22:22.625694  :  4730000
2022-11-05 12:22:24.245206  :  4740000
2022-11-05 12:22:25.926968  :  4750000
2022-11-05 12:22:27.592495  :  4760000
2022-11-05 12:22:29.570950  :  4770000
2022-11-05 12:22:31.608343  :  4780000
2022-11-05 12:22:33.785854  :  4790000
2022-11-05 12:22:35.597921  :  4800000
2022-11-05 12:22:37.252544  :  4810000
2022-11-05 12:22:42.132883  :  4820000
2022-11-05 12:22:47.015403  :  4830000
2022-11-05 12:22:48.708515  :  4840000
2022-11-05 12:22:50.366605  :  4850000
2022-11-05 12:22:53.258546  :  4860000
2022-11-05 12:22:58.873292  :  4870000
2022-11-05 12:23:00.502890  :  4880000
2022-11-05 12:23:02.463619  :  4890000
2022-11-05 12:23:04.087132  :  4900000
2022-11-05 12:23:05.712257  :  4910000
2022-11-05 12:23:07.820352  :  4920000
2022-11-05 12:23:09.735973  :  4930000
2022-11-05 12:23:12.814017  :  4940000
2022-11-05 12:23:14.584515  :  4950000
2022-11-05 12:23:16.229067  :  4960000
2022-11-05 12:23:21.439430  :  4970000
2022-11-05 12:23:23.179883  :  4980000
2022-11-05 12:23:26.605657  :  4990000
2022-11-05 12:23:28.543866  :  5000000
2022-11-05 12:23:30.310019  :  5010000
2022-11-05 12:23:35.678051  :  5020000
2022-11-05 12:23:37.371384  :  5030000
2022-11-05 12:23:39.108735  :  5040000
2022-11-05 12:23:42.408139  :  5050000
2022-11-05 12:23:44.481117  :  5060000
2022-11-05 12:23:46.104336  :  5070000
2022-11-05 12:23:48.298763  :  5080000
2022-11-05 12:23:51.436201  :  5090000
2022-11-05 12:23:54.642438  :  5100000
2022-11-05 12:23:56.377868  :  5110000
2022-11-05 12:23:58.101357  :  5120000
2022-11-05 12:24:00.092836  :  5130000
2022-11-05 12:24:01.988572  :  5140000

In [33]:
df_bld_rgst

         bld_count                pnu_x              bun      emd_cd
0                1  1111010100100030100  111101010010003  1111010100
1                1  1111010100100060003  111101010010006  1111010100
2                1  1111010100100150005  111101010010015  1111010100
3                1  1111010100100150046  111101010010015  1111010100
4                1  1111010100100300007  111101010010030  1111010100
...            ...                  ...              ...         ...
2047183          1  5013032026115240006  501303202611524  5013032000
2047184          1  5013032026115240011  501303202611524  5013032000
2047185          2  5013032026115410004  501303202611541  5013032000
2047186          1  5013032026115710001  501303202611571  5013032000
2047187          1  5013032026118800000  501303202611880  5013032000

[2047188 rows x 4 columns]

In [38]:
df_f_tot

                         pnu          f_tot              bun
0        1111010100100010000 2198691.000000  111101010010001
1        1111010100100030065 3988060.000000  111101010010003
2        1111010100100060003 1444137.000000  111101010010006
3        1111010100100150005 2198691.000000  111101010010015
4        1111010100100150009 2198691.000000  111101010010015
...                      ...            ...              ...
1339480  5013032026108430003   97462.000000  501303202610843
1339481  5013032026113380001   37262.000000  501303202611338
1339482  5013032026114350009   28705.000000  501303202611435
1339483  5013032026114810001   37262.000000  501303202611481
1339484  5013032026115240006   97462.000000  501303202611524

[1339485 rows x 3 columns]

In [2]:
df

,pnu,emd_cd,commercial_per_population,create_at,update_at,work_user
0,1111010100100030065,1111010100,0.000000,2022-11-05,2022-11-05,du.Park
2,1111010100100500031,1111010100,0.000000,2022-11-05,2022-11-05,du.Park
3,1111010100100500057,1111010100,0.000000,2022-11-05,2022-11-05,du.Park
4,1111010100100500030,1111010100,0.000000,2022-11-05,2022-11-05,du.Park
5,1111010100100530011,1111010100,0.000000,2022-11-05,2022-11-05,du.Park
...,...,...,...,...,...,...
9734808,5013032026115240008,5013032000,0.000010,2022-11-05,2022-11-05,du.Park
9734809,5013032026115240006,5013032000,0.000010,2022-11-05,2022-11-05,du.Park
9734810,5013032026115240001,5013032000,0.000010,2022-11-05,2022-11-05,du.Park
9734811,5013032026115240008,5013032000,0.000010,2022-11-05,2022-11-05,du.Park
9734812,5013032026115240006,5013032000,0.000010,2022-11-05,2022-11-05,du.Park

In [3]:
df['commercial_per_population'].median()

2.8820295944090933e-07

In [83]:
df.describe()

       commercial_per_population
count              462282.000000
mean                    0.000857
std                     0.032387
min                     0.000000
25%                     0.000007
50%                     0.000015
75%                     0.000057
max                    18.000000