In [17]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# PNU별 평당 분양가
sql = '''
with date as (
    select '202208' as base_ym
)
select A.pnu, A.emd_cd, A.price
from (-- PNU별 가치환원법
	select pnu, substring(pnu,1,10) as emd_cd, round((min_price_1 + max_price_1)/2,0) as price
	from m2.cremao_price A -- 예측 분양가
	where base_ym = (select base_ym from date)
	) A
join m1.pnu B -- 실제 PNU 확인
	on substring(A.pnu, 1, 19) = B.pnu
join (-- 실제 건물 확인	
	select distinct sigungu_cd||bjdong_cd||case when plat_gb_cd = '0' then '1' else plat_gb_cd end||bun||ji as pnu
	from m1.bld_rgst
	where base_ym = (select base_ym from date)
) C
	on substring(A.pnu, 1, 19) = C.pnu
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['pnu','emd_cd','price']
df['price'] = df['price'].astype(int)

# 작업일 및 업데이트일, 작업자 추가
df['create_at'] = datetime.today().strftime("%Y-%m-%d")
df['update_at'] = datetime.today().strftime("%Y-%m-%d")
df['work_user'] = 'du.Park'


### 2. DB INSERT
import datetime

table = 'm2.datadam_price'

# Delete DATA
aws_cursor.execute(f'delete from {table} where 1=1')
aws_conn.commit()

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-16 19:04:58.090739  :  0
2022-11-16 19:04:59.986090  :  10000
2022-11-16 19:05:03.767923  :  20000
2022-11-16 19:05:06.070195  :  30000
2022-11-16 19:05:08.008183  :  40000
2022-11-16 19:05:09.828129  :  50000
2022-11-16 19:05:11.750272  :  60000
2022-11-16 19:05:13.497683  :  70000
2022-11-16 19:05:15.387709  :  80000
2022-11-16 19:05:17.192141  :  90000
2022-11-16 19:05:18.905907  :  100000
2022-11-16 19:05:20.670705  :  110000
2022-11-16 19:05:22.456200  :  120000
2022-11-16 19:05:24.467763  :  130000
2022-11-16 19:05:26.322254  :  140000
2022-11-16 19:05:28.166625  :  150000
2022-11-16 19:05:29.804380  :  160000
2022-11-16 19:05:31.756594  :  170000
2022-11-16 19:05:33.486995  :  180000
2022-11-16 19:05:35.372284  :  190000
2022-11-16 19:05:37.010901  :  200000
2022-11-16 19:05:38.851754  :  210000
2022-11-16 19:05:40.831020  :  220000
2022-11-16 19:05:42.851603  :  230000
2022-11-16 19:05:44.955721  :  240000
2022-11-16 19:05:46.808815  :  250000
2022-11-16 19:05:48.696171  :  260000
2022-11-16 19:05:50.648959  :  270000
2022-11-16 19:05:52.399753  :  280000
2022-11-16 19:05:54.209074  :  290000
2022-11-16 19:05:55.968105  :  300000
2022-11-16 19:05:57.845304  :  310000
2022-11-16 19:05:59.611540  :  320000
2022-11-16 19:06:01.608344  :  330000
2022-11-16 19:06:03.282831  :  340000
2022-11-16 19:06:05.143429  :  350000
2022-11-16 19:06:06.984920  :  360000
2022-11-16 19:06:09.411816  :  370000
2022-11-16 19:06:11.789481  :  380000
2022-11-16 19:06:14.158732  :  390000
2022-11-16 19:06:16.326419  :  400000
2022-11-16 19:06:18.218310  :  410000
2022-11-16 19:06:20.717937  :  420000
2022-11-16 19:06:22.893920  :  430000
2022-11-16 19:06:25.168164  :  440000
2022-11-16 19:06:27.632766  :  450000
2022-11-16 19:06:29.499390  :  460000
2022-11-16 19:06:31.220953  :  470000
2022-11-16 19:06:33.035818  :  480000
2022-11-16 19:06:35.059425  :  490000
2022-11-16 19:06:36.712281  :  500000
2022-11-16 19:06:38.595115  :  510000
2022-11-16 19:06:40.515699  :  520000
2022-11-16 19:06:42.365756  :  530000
2022-11-16 19:06:44.391064  :  540000
2022-11-16 19:06:46.295256  :  550000
2022-11-16 19:06:48.055494  :  560000
2022-11-16 19:06:50.298414  :  570000
2022-11-16 19:06:52.072080  :  580000
2022-11-16 19:06:53.872057  :  590000
2022-11-16 19:06:55.471251  :  600000
2022-11-16 19:06:57.106439  :  610000
2022-11-16 19:06:58.915404  :  620000
2022-11-16 19:07:00.768482  :  630000
2022-11-16 19:07:02.644570  :  640000
2022-11-16 19:07:04.476334  :  650000
2022-11-16 19:07:06.216861  :  660000
2022-11-16 19:07:08.014808  :  670000
2022-11-16 19:07:09.774786  :  680000
2022-11-16 19:07:11.616896  :  690000
2022-11-16 19:07:13.496176  :  700000
2022-11-16 19:07:15.421548  :  710000
2022-11-16 19:07:17.191349  :  720000
2022-11-16 19:07:18.821042  :  730000
2022-11-16 19:07:20.423710  :  740000
2022-11-16 19:07:22.154985  :  750000
2022-11-16 19:07:24.183421  :  760000
2022-11-16 19:07:26.153783  :  770000
2022-11-16 19:07:28.197333  :  780000
2022-11-16 19:07:30.298207  :  790000
2022-11-16 19:07:32.064072  :  800000
2022-11-16 19:07:33.769550  :  810000
2022-11-16 19:07:35.836309  :  820000
2022-11-16 19:07:37.570526  :  830000
2022-11-16 19:07:39.378362  :  840000
2022-11-16 19:07:41.397054  :  850000
2022-11-16 19:07:43.176559  :  860000
2022-11-16 19:07:45.260312  :  870000
2022-11-16 19:07:47.098096  :  880000
2022-11-16 19:07:48.941083  :  890000
2022-11-16 19:07:50.681160  :  900000
2022-11-16 19:07:52.423179  :  910000
2022-11-16 19:07:54.274000  :  920000
2022-11-16 19:07:56.127777  :  930000
2022-11-16 19:07:57.970476  :  940000
2022-11-16 19:07:59.786260  :  950000
2022-11-16 19:08:01.636046  :  960000
2022-11-16 19:08:03.540279  :  970000
2022-11-16 19:08:05.378108  :  980000
2022-11-16 19:08:07.299903  :  990000
2022-11-16 19:08:09.065095  :  1000000
2022-11-16 19:08:11.052052  :  1010000
2022-11-16 19:08:12.799877  :  1020000
2022-11-16 19:08:14.713922  :  1030000
2022-11-16 19:08:16.510667  :  1040000
2022-11-16 19:08:18.431166  :  1050000
2022-11-16 19:08:20.192084  :  1060000
2022-11-16 19:08:22.036045  :  1070000
2022-11-16 19:08:23.784328  :  1080000
2022-11-16 19:08:25.534089  :  1090000
2022-11-16 19:08:27.359562  :  1100000
2022-11-16 19:08:29.655911  :  1110000
1119149