### final

In [17]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.6f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# pnu별 상업용 부동산 수
sql = '''
select count(mgm_bldrgst_pk), sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji as pnu
  from m1.bld_rgst
 where main_purps_cd_nm not in 
	(
	select distinct main_purps_cd_nm
	from m1.bld_rgst
	where main_purps_cd_nm like '%주택%'
	)
group by sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_rgst = pd.DataFrame(rows)
df_bld_rgst.columns = ['bld_count','pnu']

# pnu별 주용도명
sql = '''
select main_purps_cd_nm, sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji as pnu
  from m1.bld_rgst
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_principal_use = pd.DataFrame(rows)
df_bld_principal_use.columns = ['principal_use','pnu']

# pnu별 유동인구 
sql = 'select pnu, f_tot from m2.cremao_land_floating_population'
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_f_tot = pd.DataFrame(rows)
df_f_tot.columns = ['pnu','f_tot']


# 데이터 프레임 병합
df = pd.merge(df_f_tot, df_bld_rgst, on='pnu', how='left')

# 인구가 0명, null인 지역 제외
df = df[~df['bld_count'].isnull()]

# 상업용 부동산 수 / 유동인구
df['population_per_commercial'] = (df['f_tot'] / df['bld_count'])

# 주용도코드 붙이기
df = pd.merge(df, df_bld_principal_use, on='pnu', how='left')
df = df.drop_duplicates('pnu').reset_index(drop=True)

# inf 값 제거후 컬럼 정리
df = df[~(df['population_per_commercial']==np.inf)]
df = df[['pnu', 'principal_use', 'population_per_commercial']]
df['base_ym'] = datetime.today().strftime("%Y%m")


### 2. DB INSERT
import datetime

table = 'm2.datadam_population_per_commercial'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
     # drop & create
    cursor.execute(
    """
    drop table if exists m2.datadam_population_per_commercial;
    create table m2.datadam_population_per_commercial (    
    pnu varchar(19)
    , principal_use varchar(200)
    , population_per_commercial double precision
    , base_ym varchar(6)
    )
    distkey(pnu)
    compound sortkey(principal_use, base_ym);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-01 10:29:47.219399  :  0
2022-11-01 10:29:50.140698  :  10000
2022-11-01 10:29:53.516130  :  20000
2022-11-01 10:29:56.655727  :  30000
2022-11-01 10:30:05.693395  :  40000
2022-11-01 10:30:12.183393  :  50000
2022-11-01 10:30:15.093622  :  60000
2022-11-01 10:30:19.504118  :  70000
2022-11-01 10:30:22.047369  :  80000
2022-11-01 10:30:27.890195  :  90000
2022-11-01 10:30:33.740693  :  100000
2022-11-01 10:30:37.349954  :  110000
2022-11-01 10:30:40.307199  :  120000
2022-11-01 10:30:43.708485  :  130000
2022-11-01 10:30:49.001870  :  140000
2022-11-01 10:30:54.940209  :  150000
2022-11-01 10:30:58.136175  :  160000
2022-11-01 10:31:03.054055  :  170000
2022-11-01 10:31:05.827197  :  180000
2022-11-01 10:31:09.834254  :  190000
2022-11-01 10:31:12.323241  :  200000
2022-11-01 10:31:15.321996  :  210000
2022-11-01 10:31:19.141912  :  220000
2022-11-01 10:31:21.767593  :  230000
2022-11-01 10:31:25.940078  :  240000
2022-11-01 10:31:28.420667  :  250000
2022-11-01 10:31:32.117601  :  260000
2022-11-01 10:31:34.514567  :  270000
2022-11-01 10:31:37.104174  :  280000
2022-11-01 10:31:43.663608  :  290000
2022-11-01 10:31:47.563038  :  300000
2022-11-01 10:31:50.029698  :  310000
2022-11-01 10:31:54.312111  :  320000
2022-11-01 10:31:58.150252  :  330000
2022-11-01 10:32:00.694834  :  340000
2022-11-01 10:32:06.421996  :  350000
2022-11-01 10:32:09.900007  :  360000
2022-11-01 10:32:13.755369  :  370000
2022-11-01 10:32:17.247805  :  380000
2022-11-01 10:32:19.783901  :  390000
2022-11-01 10:32:23.210676  :  400000
2022-11-01 10:32:25.488586  :  410000
2022-11-01 10:32:28.144271  :  420000
2022-11-01 10:32:33.064651  :  430000
2022-11-01 10:32:36.681080  :  440000
2022-11-01 10:32:40.044481  :  450000
2022-11-01 10:32:45.649480  :  460000
2022-11-01 10:32:48.897427  :  470000
2022-11-01 10:32:51.496824  :  480000
2022-11-01 10:32:54.844817  :  490000
2022-11-01 10:32:58.815849  :  500000
2022-11-01 10:33:02.538205  :  510000
2022-11-01 10:33:04.880967  :  520000
2022-11-01 10:33:08.361827  :  530000
2022-11-01 10:33:10.620962  :  540000
2022-11-01 10:33:13.151780  :  550000
2022-11-01 10:33:17.086934  :  560000
2022-11-01 10:33:24.156679  :  570000
2022-11-01 10:33:30.970422  :  580000
2022-11-01 10:33:35.702434  :  590000
2022-11-01 10:33:40.806910  :  600000
2022-11-01 10:33:44.306105  :  610000
2022-11-01 10:33:49.440103  :  620000
2022-11-01 10:33:53.418615  :  630000
2022-11-01 10:33:55.863994  :  640000
2022-11-01 10:33:58.742451  :  650000
2022-11-01 10:34:02.046173  :  660000
2022-11-01 10:34:04.416296  :  670000
2022-11-01 10:34:08.888095  :  680000
2022-11-01 10:34:13.336666  :  690000
2022-11-01 10:34:15.651410  :  700000
2022-11-01 10:34:18.674781  :  710000
2022-11-01 10:34:21.174774  :  720000
2022-11-01 10:34:23.171561  :  730000
732247

In [15]:
df

                        pnu principal_use  population_per_commercial base_ym
0       1111010800100100003     제2종근린생활시설              176465.666667  202210
1       1111010800100210001     제1종근린생활시설              176465.666667  202210
2       1111010800100310002        근린생활시설               81002.000000  202210
3       1111010800100310025     제1종근린생활시설              176465.666667  202210
4       1111010800100370002     제1종근린생활시설               81002.000000  202210
...                     ...           ...                        ...     ...
732242  5013031029103510000     제2종근린생활시설                 911.600000  202210
732243  5013031029200880001          종교시설                5432.666667  202210
732244  5013031030103800007          숙박시설                 709.333333  202210
732245  5013031030104270000          종교시설                 354.666667  202210
732246  5013031030104710011     제1종근린생활시설                 366.166667  202210

[732247 rows x 4 columns]

In [16]:
df.describe()

       population_per_commercial
count              732247.000000
mean                78341.192311
std                120098.742693
min                     0.000000
25%                  6888.733333
50%                 41872.666667
75%                100175.583333
max               5101176.000000

###### ver1 (법정동 단위)

In [31]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.6f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# pnu별 상업용 부동산 수
sql = '''
select sigungu_cd||bjdong_cd as pnu, count(mgm_bldrgst_pk) as total_count
  from m1.bld_rgst
 where main_purps_cd_nm not in 
    (
    select distinct main_purps_cd_nm
    from m1.bld_rgst
    where main_purps_cd_nm like '%주택%'
    )
group by sigungu_cd||bjdong_cd
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_rgst = pd.DataFrame(rows)
df_bld_rgst.columns = ['emd_cd','total_count']

# 법정동별 유동인구 
sql = '''
    select substring (pnu, 0, 11), sum(f_tot)
      from m2.cremao_land_floating_population
     group by substring (pnu, 0, 11)
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_f_tot = pd.DataFrame(rows)
df_f_tot.columns = ['emd_cd','f_tot']
df_f_tot = df_f_tot[~df_f_tot['f_tot'].isnull()].reset_index(drop=True)

# 데이터 프레임 병합
df = pd.merge(df_f_tot, df_bld_rgst, on='emd_cd', how='left')

# 인구가 0명, null인 지역 제외
df = df[~df['total_count'].isnull()]

# 상가면적 / 거주인구
df['population_per_commercial'] = (df['f_tot'] / df['total_count'])
df = df[['emd_cd','population_per_commercial']]
df['base_ym'] = datetime.today().strftime("%Y%m")


### 2. DB INSERT
import datetime

table = 'm2.datadam_population_per_commercial'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
     # drop & create
    cursor.execute(
    """
    drop table if exists m2.datadam_population_per_commercial;
    create table m2.datadam_population_per_commercial (    
    emd_cd varchar(10)
    , population_per_commercial double precision
    , base_ym varchar(6)
    )
    distkey(emd_cd)
    compound sortkey(base_ym);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-10-30 19:26:35.944487  :  0
2022-10-30 19:26:38.039882  :  10000
17296

In [30]:
df

           emd_cd  population_per_commercial base_ym
0      1111010100               71464.562500  202210
1      1111010200              132057.057143  202210
2      1111010300               25740.906977  202210
3      1111010600              362829.345455  202210
4      1111011000              664140.230769  202210
...           ...                        ...     ...
18597  4889039030                   4.606061  202210
18598  4889041026                  41.153846  202210
18599  4889041030                  11.597015  202210
18600  4889042022                   2.032258  202210
18601  4889043032                  20.437500  202210

[17296 rows x 3 columns]

In [32]:
df.describe()

       population_per_commercial
count               17296.000000
mean                45176.698724
std                153540.963842
min                     0.058480
25%                    49.351316
50%                   321.275980
75%                  3864.073727
max               3469255.572881

In [27]:
from sklearn.preprocessing import RobustScaler

# 변형 객체 생성
robust_scaler = RobustScaler()

# 훈련데이터의 모수 분포 저장
robust_scaler.fit(df)

# 훈련 데이터 스케일링
df_scaled = robust_scaler.transform(df)

In [28]:
df_scaled

array([[-7.65643687, 18.64966277,  0.        ],
       [-7.65643665, 34.53351698,  0.        ],
       [-7.65643642,  6.66355982,  0.        ],
       ...,
       [ 0.83376818, -0.08117995,  0.        ],
       [ 0.83377041, -0.08368727,  0.        ],
       [ 0.83377268, -0.07886248,  0.        ]])