In [27]:
### 0. import
import psycopg2
import numpy  as np
import pandas as pd
from datetime import datetime

# display option (float 자리수)
pd.options.display.float_format = lambda x: f'{x:.4f}'


### 1. 데이터 가져오기
# AWS DW Connect
aws_conn = psycopg2.connect(
    host = 'redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
    port = 5439,
    dbname = 'dev',
    user = 'awsuser',
    password = 'cremaoAdmin1234qwer!!'
)
aws_cursor = aws_conn.cursor()

# 상가 면적 (pnu단위_19자리)
sql = 'select pnu, (min_price_1 + max_price_1)/2 as price_avg, base_ym from m2.cremao_price'
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df = pd.DataFrame(rows)
df.columns = ['pnu','price','base_ym']

# pnu별 주용도명
sql = '''
select main_purps_cd_nm, sigungu_cd||bjdong_cd||case when plat_gb_cd = '1' then '2' else '1' end||bun||ji as pnu
  from m1.bld_rgst
'''
aws_cursor.execute(sql)
aws_conn.commit()
rows = aws_cursor.fetchall()

df_bld_principal_use = pd.DataFrame(rows)
df_bld_principal_use.columns = ['principal_use','pnu']

# 주용도코드 붙이기
df = pd.merge(df, df_bld_principal_use, on='pnu', how='left')
df = df.drop_duplicates('pnu')
df = df[~df['principal_use'].isnull()].reset_index(drop=True)
df = df[['pnu', 'principal_use', 'price', 'base_ym']]


### 2. DB INSERT
import datetime

table = 'm2.datadam_price'

# execute_mogrify
def execute_mogrify(conn, df, table, val):
    # Create a list of tuples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    cursor = conn.cursor()
     # drop & create
    cursor.execute(
    """
    drop table if exists m2.datadam_price;
    create table m2.datadam_price (    
    pnu varchar(19)
    , principal_use varchar(200)
    , price double precision
    , base_ym varchar(6)
    )
    distkey(pnu)
    compound sortkey(base_ym);
    commit;
    """
    )
    values = [cursor.mogrify(val, tup).decode('utf8') for tup in
              tuples]
    query = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)

    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    cursor.close()

# values 설정
val = '(' + ('%s,' * len(df.columns))[:-1] + ')'

# insert
for j in range(0, len(df), 10000):

    # DB Connect
    conn = psycopg2.connect(
        host='redshift-cluster-1.ctvbwnnvbdkl.ap-northeast-2.redshift.amazonaws.com',
        port=5439,
        dbname='dev',
        user='awsuser',
        password='cremaoAdmin1234qwer!!'
    )

    # 10000개 단위로 나누기
    tmp = df[j:j + 10000]

    # insert
    execute_mogrify(conn, tmp, table, val)
    print(datetime.datetime.now(), ' : ', j)
    tmp = pd.DataFrame()

# row count
print(len(df))

2022-11-01 19:30:25.359583  :  0
2022-11-01 19:30:31.369312  :  10000
2022-11-01 19:30:33.804359  :  20000
2022-11-01 19:30:36.938100  :  30000
2022-11-01 19:30:41.621836  :  40000
2022-11-01 19:30:45.608987  :  50000
2022-11-01 19:30:48.520950  :  60000
2022-11-01 19:30:52.136512  :  70000
2022-11-01 19:30:58.102954  :  80000
2022-11-01 19:31:01.203289  :  90000
2022-11-01 19:31:03.610693  :  100000
2022-11-01 19:31:06.076874  :  110000
2022-11-01 19:31:08.545804  :  120000
2022-11-01 19:31:11.051346  :  130000
2022-11-01 19:31:13.732930  :  140000
2022-11-01 19:31:16.755485  :  150000
2022-11-01 19:31:20.793004  :  160000
2022-11-01 19:31:23.447387  :  170000
2022-11-01 19:31:25.999073  :  180000
2022-11-01 19:31:29.843626  :  190000
2022-11-01 19:31:32.477453  :  200000
2022-11-01 19:31:35.313335  :  210000
2022-11-01 19:31:38.349760  :  220000
2022-11-01 19:31:41.062521  :  230000
2022-11-01 19:31:44.181496  :  240000
2022-11-01 19:31:52.829691  :  250000
2022-11-01 19:31:56.627501  :  260000
2022-11-01 19:31:59.499557  :  270000
2022-11-01 19:32:05.655848  :  280000
2022-11-01 19:32:09.063999  :  290000
2022-11-01 19:32:12.023996  :  300000
2022-11-01 19:32:15.631160  :  310000
2022-11-01 19:32:18.489407  :  320000
2022-11-01 19:32:21.730631  :  330000
2022-11-01 19:32:24.853433  :  340000
2022-11-01 19:32:27.710003  :  350000
2022-11-01 19:32:30.658650  :  360000
2022-11-01 19:32:33.841613  :  370000
2022-11-01 19:32:37.486079  :  380000
2022-11-01 19:32:41.596790  :  390000
2022-11-01 19:32:44.666232  :  400000
2022-11-01 19:32:48.094983  :  410000
2022-11-01 19:32:51.591675  :  420000
2022-11-01 19:32:54.741776  :  430000
2022-11-01 19:32:58.036614  :  440000
2022-11-01 19:33:03.473334  :  450000
2022-11-01 19:33:06.969650  :  460000
2022-11-01 19:33:10.143809  :  470000
2022-11-01 19:33:15.699520  :  480000
2022-11-01 19:33:18.698927  :  490000
2022-11-01 19:33:21.646919  :  500000
2022-11-01 19:33:24.812909  :  510000
2022-11-01 19:33:31.003953  :  520000
2022-11-01 19:33:34.406037  :  530000
2022-11-01 19:33:37.351898  :  540000
2022-11-01 19:33:40.274354  :  550000
2022-11-01 19:33:44.623482  :  560000
2022-11-01 19:33:48.348645  :  570000
2022-11-01 19:33:51.750090  :  580000
2022-11-01 19:33:55.332473  :  590000
2022-11-01 19:34:00.621955  :  600000
2022-11-01 19:34:04.187298  :  610000
2022-11-01 19:34:10.904266  :  620000
2022-11-01 19:34:14.558980  :  630000
2022-11-01 19:34:18.004844  :  640000
2022-11-01 19:34:23.017612  :  650000
2022-11-01 19:34:26.734932  :  660000
2022-11-01 19:34:33.432483  :  670000
2022-11-01 19:34:37.495196  :  680000
2022-11-01 19:34:40.907319  :  690000
2022-11-01 19:34:44.421873  :  700000
2022-11-01 19:34:47.923039  :  710000
2022-11-01 19:34:51.502632  :  720000
2022-11-01 19:34:55.679258  :  730000
2022-11-01 19:34:59.372559  :  740000
2022-11-01 19:35:05.456998  :  750000
2022-11-01 19:35:10.087922  :  760000
2022-11-01 19:35:13.422652  :  770000
2022-11-01 19:35:16.862758  :  780000
2022-11-01 19:35:20.489812  :  790000
2022-11-01 19:35:23.912582  :  800000
2022-11-01 19:35:27.543402  :  810000
2022-11-01 19:35:31.089612  :  820000
2022-11-01 19:35:34.400399  :  830000
2022-11-01 19:35:39.046766  :  840000
2022-11-01 19:35:45.936345  :  850000
2022-11-01 19:35:49.839989  :  860000
2022-11-01 19:35:53.254876  :  870000
2022-11-01 19:35:56.900960  :  880000
2022-11-01 19:36:00.653299  :  890000
2022-11-01 19:36:04.403696  :  900000
2022-11-01 19:36:07.826275  :  910000
2022-11-01 19:36:13.719431  :  920000
2022-11-01 19:36:17.818634  :  930000
2022-11-01 19:36:23.715831  :  940000
2022-11-01 19:36:29.530590  :  950000
2022-11-01 19:36:33.165331  :  960000
2022-11-01 19:36:36.996524  :  970000
2022-11-01 19:36:42.071000  :  980000
2022-11-01 19:36:45.711622  :  990000
2022-11-01 19:36:49.807831  :  1000000
1003160

In [26]:
df

                         pnu principal_use         price base_ym
0        4888036025108680000          단독주택 15499752.5331  202208
1        4790036042100320000     제2종근린생활시설 29780196.8047  202208
2        4790036042100700000          창고시설 41920298.3972  202208
3        4691025328105900006          창고시설 13576380.7126  202208
4        4691025328105950001          창고시설 15335610.9447  202208
...                      ...           ...           ...     ...
1003155  2729011300102950002     제2종근린생활시설 36175258.1301  202208
1003156  2729011300102960003          종교시설 36400815.5427  202208
1003157  2729011300102960012          단독주택 38145201.7993  202208
1003158  2729011300102960015          단독주택 37616695.9770  202208
1003159  2729011300102960018          단독주택 38219754.5118  202208

[1003160 rows x 4 columns]

In [23]:
df.describe()

               price
count   1003160.0000
mean   35009645.9412
std    21322518.8935
min     4386228.6780
25%    22188232.7370
50%    31121523.5063
75%    42355426.9159
max   408048715.2277