In [150]:
import numpy  as np
import pandas as pd
from tqdm import tqdm

# DB 연동
import time
import psycopg2

# 경고 처리
import warnings
warnings.filterwarnings('ignore')

In [160]:
# 수도권 지하철 위경도 데이터
df1 = pd.read_csv('c:/Users/duPar/Downloads/서울시 역사마스터 정보.csv', encoding='CP949')
df1 = df1.drop_duplicates('역사명').reset_index(drop=True)
df1.columns = ['station_cd','station_nm','line_nm','lat','lon']
df1.to_csv('c:/Users/duPar/Downloads/서울시 역사마스터 정보.csv',index=False,encoding='utf-8-sig')

In [164]:
df = pd.read_csv('c:/Users/duPar/Downloads/서울시 역사마스터 정보.csv')

In [165]:
df

     station_cd station_nm line_nm         lat        lon
0          9996         미사     5호선  127.193877  37.560927
1          9995         강일     5호선  127.175930  37.557490
2          4929       김포공항  김포골드라인  126.801868  37.562360
3          4928         고촌  김포골드라인  126.770345  37.601243
4          4927         풍무  김포골드라인  126.732387  37.612488
..          ...        ...     ...         ...        ...
633         202      을지로입구     2호선  126.982618  37.566014
634         201         시청     2호선  126.975411  37.563588
635         157        제기동     1호선  127.034893  37.578103
636         154       종로5가     1호선  127.001849  37.570926
637         152         종각     1호선  126.982923  37.570161

[638 rows x 5 columns]

### 참고

In [ ]:
cur_path = os.getcwd() # 경로 설정

subway_crd = pd.read_csv('지하철역_좌표.csv', encoding='cp949')
subway_line= pd.read_csv('서울교통공사 노선별 지하철역 정보.csv', encoding='cp949')

좌표 정보는 subway_crd로, 노선 별 정보는 subway_line

In [ ]:
line_ls = []
for i in range(len(subway_crd)): 
    cur_subway = subway_crd.iloc[i]['역이름']
    matched_line = subway_line.loc[subway_line['전철역명'] == cur_subway]
    
    if len(matched_line) > 0 : 
        line_ls.append(list(matched_line['호선']))
        
    else: 
        line_ls.append(None)

subway_crd['호선'] = line_ls # 호선 정보 부여
subway_crd.dropna(subset=['호선'], inplace=True, axis=0) # 수도권 지하철역 좌표는 노선 정보가 안들어갔으므로 제거 

subway_crd['geometry'] = subway_crd.apply(lambda x: Point(x['x'], x['y']), axis=1) # 좌표 정보를 합쳐서 geometry 정보 부여  
subway_crd_gdf = GeoDataFrame(subway_crd, crs='EPSG:4326', geometry='geometry') # 좌표계 지정

In [ ]:
def write_data(data, name):
    with open(name + '.bin', 'wb') as f:
        pickle.dump(data, f)
        
        
def load_data(name):
    with open(name + '.bin', 'rb') as f:
        data = pickle.load(f)
    return data

In [ ]:
# bin 데이터 -- 파이썬 활용 용도 (ArcGIS/QGIS 시각화 용도 x)
write_data(subway_crd_gdf, 'subway_crd_4326')
subway_crd_5179 = subway_crd_gdf.to_crs(epsg=5179) # 거리 계산을 위한 좌표계로 변환 후 저장
write_data(subway_crd_5179, 'subway_crd_5179')


# 나중에 bin 데이터 다시 불러올 때 
subway_crd_4326 = load_data('subway_crd_4326')
subway_crd_5179 = load_data('subway_crd_5179')


# 노선 정보를 빼고 좌표 데이터 
subway_crd_5179 = subway_crd_5179.drop(['호선'], axis=1)
subway_crd_5179.to_file('subway_crd_5179.geojson', driver='GeoJSON')

### 역정보, 좌표 조인

In [155]:
# 수도권 지하철 역정보
df = pd.read_csv('c:/Users/duPar/Downloads/서울교통공사 노선별 지하철역 정보_(역명,역코드)_2022.10.11.csv', encoding='CP949')
df = df.drop_duplicates('전철역명').reset_index(drop=True)
df = df[['전철역명']]
df.columns = ['지하철역명']

In [156]:
df

     지하철역명
0       신답
1      학여울
2      청량리
3       원덕
4     홍대입구
..     ...
633     시청
634     종각
635   종로5가
636    제기동
637  을지로입구

[638 rows x 1 columns]

In [66]:
# 수도권 지하철 수 : 638개
len(df)

638

In [111]:
# 수도권 지하철 좌표
df2 = pd.read_csv('c:/Users/duPar/Downloads/서울시 지하철역 엘리베이터 위치정보_(좌표,역명,역코드)_2022.10.11.csv', encoding='CP949')
df2 = df2.drop_duplicates('지하철역명').reset_index(drop=True)
df2 = df2[['노드 WKT','읍면동코드','지하철역명']]

In [112]:
len(df2)

272

In [128]:
# 수도권 지하철 비상콜폰 좌표
df1 = pd.read_excel('c:/Users/duPar/Downloads/인천교통공사1호선 비상콜폰.xlsx')
df1 = df1.drop_duplicates('역명').reset_index(drop=True)
df1 = df1[['선명','역명','상세위치']]

In [131]:
df1.to_excel('c:/Users/duPar/Downloads/인천교통공사1호선 비상콜폰(1).xlsx',index=False)

In [130]:
len(df1)

29

In [146]:
# 역위치 원본 데이터 병합
df1 = pd.read_csv('c:/Users/duPar/Downloads/국가철도공단_수도권1호선_역위치_20211118.csv', encoding='utf-8') # CP949
df1 = df1.drop_duplicates('역명').reset_index(drop=True)
# df1 = df1[['역명','도로명주소','지번주소']]

In [149]:
from glob import glob

In [ ]:
glob.glob('')

In [143]:
# 
df1 = pd.read_csv('c:/Users/duPar/Downloads/국가철도공단_경의중앙선_주소데이터_20211123.csv', encoding='CP949')
df1 = df1.drop_duplicates('역명').reset_index(drop=True)
# df1 = df1[['역명','도로명주소','지번주소']]

In [144]:
df1

,철도운영기관명,선명,역명,지번주소,도로명주소
0,코레일,경의중앙,임진강,경기도 파주시 문산읍 마정리 1253-3,경기도 파주시 문산읍 임진각로 115
1,코레일,경의중앙,문산,경기도 파주시 문산읍 문산리 17-14,경기도 파주시 문산읍 문산역로 94
2,코레일,경의중앙,파주(두원대학),경기도 파주시 파주읍 봉암리 487-4,경기도 파주시 파주읍 주라위길 38
3,코레일,경의중앙,월롱(서영대학교),경기도 파주시 월롱면 위전리 168-3,경기도 파주시 월롱면 통일로 980
4,코레일,경의중앙,금촌,경기도 파주시 금촌동 329-355,경기도 파주시 새꽃로 193
5,코레일,경의중앙,금릉,경기도 파주시 금촌동 605-1,경기도 파주시 금릉역로 85
6,코레일,경의중앙,운정,경기도 파주시 교하읍 야당리 295번지,경기도 파주시 운정역길 368
7,코레일,경의중앙,야당,경기도 파주시 야당동 1088,경기도 파주시 소리천로 10
8,코레일,경의중앙,탄현,경기도 고양시 일산서구 덕이동 238번지,경기도 고양시 일산서구 경의로 856
9,코레일,경의중앙,일산,경기도 고양시 일산서구 일산동 655-691,경기도 고양시 일산서구 경의로 672
10,코레일,경의중앙,풍산,경기도 고양시 일산동구 풍동 1042,경기도 고양시 일산동구 경의로 486
11,코레일,경의중앙,백마,경기도 고양시 일산동구 백석동 92,경기도 고양시 일산동구 경의로 318
12,코레일,경의중앙,곡산,경기도 고양시 일산동구 백석동 1185-1,경기도 고양시 일산동구 경의로 160
13,코레일,경의중앙,대곡,경기도 고양시 덕양구 대장동 420-1,경기도 고양시 덕양구 대주로 107번길 71-81
14,코레일,경의중앙,능곡,경기도 고양시 덕양구 토당동 454-3,경기도 고양시 덕양구 토당로 35
15,코레일,경의중앙,행신,경기도 고양시 덕양구 행신2동 812,경기도 고양시 덕양구 소원로 102
16,코레일,경의중앙,강매,경기도 고양시 덕양구 행신동 1115-1,경기도 고양시 덕양구 소원로 202
17,코레일,경의중앙,화전(한국항공대),경기도 고양시 덕양구 화전동 183-10,경기도 고양시 덕양구 화랑로 53
18,코레일,경의중앙,수색,서울특별시 은평구 수색동 81,서울특별시 은평구 수색로 261-1
19,코레일,경의중앙,디지털미디어시티,서울특별시 은평구 수색동 37-7,서울특별시 은평구 수색로 193
20,코레일,경의중앙,가좌,서울특별시 서대문구 남가좌동 296-12,서울특별시 서대문구 수색로 27
21,코레일,경의중앙,홍대입구,서울특별시 마포구 동교동 190-1,서울특별시 마포구 양화로 188
22,코레일,경의중앙,서강대,서울특별시 마포구 노고산동 112-5,서울특별시 마포구 서강로 118
23,코레일,경의중앙,공덕,서울특별시 마포구 도화동 25-13,서울특별시 마포구 마포대로 92
24,코레일,경의중앙,효창공원앞,서울특별시 용산구 효창동 80,서울특별시 용산구 백범로 지하287 (효창동)
25,코레일,경의중앙,용산,서울특별시 용산구 한강로3가 40-999,서울특별시 용산구 한강대로 23길 55
26,코레일,경의중앙,이촌,서울특별시 용산구 이촌동 17-69,서울특별시 용산구 이촌로 71길 42
27,코레일,경의중앙,서빙고,서울특별시 용산구 서빙고동 241-98,서울특별시 용산구 서빙고로 238
28,코레일,경의중앙,한남,서울특별시 용산구 한남동 399-7,서울특별시 용산구 독서당로 6길 12-13
29,코레일,경의중앙,옥수,서울특별시 성동구 옥수동 168-1,서울특별시 성동구 동호로 21
30,코레일,경의중앙,응봉,서울특별시 성동구 응봉동 246,서울특별시 성동구 고산자로 123
31,코레일,경의중앙,왕십리,서울특별시 성동구 행당동 168-151,서울특별시 성동구 왕십리광장로 17
32,코레일,경의중앙,청량리,서울특별시 동대문구 전농동 588-1,서울특별시 동대문구 왕산로 214
33,코레일,경의중앙,회기,서울특별시 동대문구 휘경동 317-101,서울특별시 동대문구 회기로 196
34,코레일,경의중앙,중랑,서울특별시 중랑구 중화동 73-7,서울특별시 중랑구 중랑역로 9
35,코레일,경의중앙,상봉,서울특별시 중랑구 상봉동 100-46,서울특별시 중랑구 망우로 297
36,코레일,경의중앙,망우,서울특별시 중랑구 상봉동 172,서울특별시 중랑구 망우로 55길 11-10
37,코레일,경의중앙,양원(서울시북부병원),서울특별시 중랑구 망우동 269-5,서울특별시 중랑구 송림길 147
38,코레일,경의중앙,구리,경기도 구리시 인창동 244-2,경기도 구리시 건원대로 34번길 32-29
39,코레일,경의중앙,도농,경기도 남양주시 도농동 56-1,경기도 남양주시 경춘로 433
40,코레일,경의중앙,양정,경기도 남양주시 이패동 387,경기도 남양주시 경강로 237
41,코레일,경의중앙,덕소,경기도 남양주시 와부읍 덕소리 590-17,경기도 남양주시 와부읍 덕소로 56
42,코레일,경의중앙,도심,경기도 남양주시 와부읍 도곡리 1024-2,경기도 남양주시 와부읍 덕소로 237
43,코레일,경의중앙,팔당,경기도 남양주시 와부읍 팔당리 360,경기도 남양주시 와부읍 팔당로 107
44,코레일,경의중앙,운길산,경기도 남양주시 조안면 진중리 229-1,경기도 남양주시 조안면 운길산로 20
45,코레일,경의중앙,양수,경기도 양평군 양서면 용담리 255-2,경기도 양평군 양서면 목왕로 55-10
46,코레일,경의중앙,신원,경기도 양평군 양서면 신원리 480-29,경기도 양평군 양서면 신원역길 7
47,코레일,경의중앙,국수,경기도 양평군 양서면 국수리 258-25,경기도 양평군 양서면 국수역길 45
48,코레일,경의중앙,아신(아세아연합신학대),경기도 양평군 옥천면 아신리 산 112-2,경기도 양평군 옥천면 아신역1길 23
49,코레일,경의중앙,오빈,경기도 양평군 양평읍 오빈리 238-41,경기도 양평군 양평읍 덕바위길 58
50,코레일,경의중앙,양평,경기도 양평군 양평읍 양근리 130-37,경기도 양평군 양평읍 역전길 30
51,코레일,경의중앙,원덕(추읍산),경기도 양평군 양평읍 원덕리 306-4,경기도 양평군 양평읍 원덕흑천길 94-22
52,코레일,경의중앙,용문,경기도 양평군 용문면 다문리 736-13,경기도 양평군 용문면 용문역길 21
53,코레일,경의중앙,지평,경기도 양평군 지평면 지평리 1120-10,경기도 양평군 지평면 지평역길 32
54,코레일,경의중앙,서울역,서울특별시 중구 봉래동 2가 122-28,서울특별시 중구 통일로 1
55,코레일,경의중앙,신촌,서울특별시 서대문구 신촌동 74-12,서울특별시 서대문구 신촌역로 30

In [113]:
# 좌표 데이터 병합
DF = pd.merge(df1,df2,how='right',on='지하철역명')
DF = DF[['노드 WKT_y','읍면동코드_y','지하철역명']]
DF['읍면동코드_y'] = DF['읍면동코드_y'].astype(str)

In [114]:
len(DF)

272

In [116]:
# 일치하는 역명 매칭
# 컬럼 생성
df['좌표'] = np.nan
df['법정동코드'] = np.nan

# 역명 일치하는 인덱스 칮기
for i in DF.index:
    index = df[df['지하철역명']==DF['지하철역명'][i]].index
    
    # 좌표, 법정동코드 데이터 추가
    df['좌표'][index] = DF.loc[i]['노드 WKT_y']
    df['법정동코드'][index] = DF.loc[i]['읍면동코드_y']

C:\Users\duPar\AppData\Local\Temp\ipykernel_19868\2636624923.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['좌표'][index] = DF.loc[i]['노드 WKT_y']
C:\Users\duPar\AppData\Local\Temp\ipykernel_19868\2636624923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['법정동코드'][index] = DF.loc[i]['읍면동코드_y']

In [117]:
# 데이터 기준년월 컬럼 추가
from datetime import datetime
df['base_ym'] = datetime.today().strftime("%Y-%m-%d")

In [120]:
df

,지하철역명,좌표,법정동코드,base_ym
0,신답,NaN,NaN,2022-10-11
1,학여울,POINT(127.07085555801159 37.49648060445571),1168010600,2022-10-11
2,청량리,NaN,NaN,2022-10-11
3,원덕,NaN,NaN,2022-10-11
4,홍대입구,POINT(126.9241862213677 37.556915907782646),1144012100,2022-10-11
...,...,...,...,...
633,시청,POINT(126.97740035863328 37.566138192623036),1114010300,2022-10-11
634,종각,POINT(126.98404302021133 37.570384160886874),1111013800,2022-10-11
635,종로5가,NaN,NaN,2022-10-11
636,제기동,POINT(127.03376046869968 37.57837228457723),1123010300,2022-10-11
637,을지로입구,POINT(126.98219381052644 37.56633905557097),1114010400,2022-10-11