In [103]:
import os
import numpy  as np
import pandas as pd
from tqdm import tqdm
from datetime import datetime

# 경고 처리
import warnings
warnings.filterwarnings('ignore')

In [41]:
file_name = "C:\\Users\duPar\Downloads\국토교통부_건축물대장_표제부+(2022년+08월)\mart_djy_03.txt"

In [ ]:
file_name = "C:\\Users\duPar\Downloads\국토교통부_건축물대장_부속지번+(2022년+08월)\mart_djy_05.txt"
DF = pd.DataFrame()

with open(file_name, encoding='CP949') as f:
    # 파일 열기
    lines = f.readlines()
    df = pd.DataFrame(lines, columns=['부속지번'])
    
    # 데이터프레임화
    for i in tqdm(df.index):
        df_sub = pd.DataFrame(df.loc[i]['부속지번'].split('|')).T
        DF = DF.append(df_sub)

  2%|█▊                                                                                                 | 95460/5153974 [32:59<68:58:02, 20.37it/s]

In [ ]:
DF

In [76]:
# 0, 337415, 3084786
df[df['부속지번'].str.contains('남대문로 78')]

                                                      부속지번
3459273  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459274  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459275  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459276  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459277  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459278  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459279  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...
3459280  11140-5109|2|집합|3|표제부|서울특별시 중구 명동1가 59-5번지| 서울...