In [1]:
import pandas as pd
import numpy as np

import time
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_kt = pd.read_csv('./data/dp_frc_bldg_ftc_pred_slng_m_sum_202205.csv',sep='|')

In [3]:
df_open = pd.read_excel('./data/4_6월 오픈점리스트.xlsx')

### 도로명 주소 추출

In [146]:
# 도로명 주소 추출
df_open['도로명주소'] = 0

for i in df_open.index:
    df_open['도로명주소'][i] = df_open['주소전체'][i].split('(')[-1][:-1]

### 시군구 포맷 변경

In [147]:
# 시군구 풀네임 추출
sido = df_kt.drop_duplicates('sido_nm')[['sido_nm']]
sido = sido.reset_index()
sido = sido.drop(columns=['index'])

In [148]:
# 세종시 주소가 충남으로 되어있음 -> 주소 수정 후 sido 담기
df_open['sido'] = 0
idx_sj = df_open[df_open['주소전체'].str.contains('세종시')].index
df_open['sido'][idx_sj] = df_open['주소전체'][idx_sj].str.split(' ').str[1]

In [149]:
# 나머지 지역 sido 담기
idx = df_open[~df_open['주소전체'].str.contains('세종시')].index
df_open['sido'][idx] = df_open['주소전체'][idx].str.split(' ').str[0]

In [150]:
# 시도 이름 포맷 변경 (앞자리만 딴 지역)
for sido_idx in sido['sido_nm'][:10].index:
    idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][:2], na=False)].index
    df_open['sido'][idx] = sido['sido_nm'][sido_idx]
    
# 시도 이름 포맷 변경 (세종)
for sido_idx in sido['sido_nm'][-1:].index:
    idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][:2], na=False)].index
    df_open['sido'][idx] = sido['sido_nm'][sido_idx]
    
# 시도 이름 포맷 변경 (나머지 지역)
for sido_idx in sido['sido_nm'][10:16].index:
    idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][0] + sido['sido_nm'][sido_idx][2], na=False)].index
    df_open['sido'][idx] = sido['sido_nm'][sido_idx]

###### 테스트 -> 오류남

In [151]:
# 시도 이름 포맷 변경 (한 번에 변경)
for sido_idx in sido['sido_nm'].index:
    if sido_idx == sido['sido_nm'][:10].index or sido_idx == sido['sido_nm'][-1:].index:
        idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][:2], na=False)].index
        df_open['sido'][idx] = sido['sido_nm'][sido_idx]
    else :
        idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][0] + sido['sido_nm'][sido_idx][2], na=False)].index
        df_open['sido'][idx] = sido['sido_nm'][sido_idx]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
# 시도 이름 포맷 변경
def sido_f(a,*b):
    for sido_idx in sido['sido_nm'][a:b].index:
        idx = df_open[df_open['sido'].str.contains(sido['sido_nm'][sido_idx][:2], na=False)].index
        df_open['sido'][idx] = sido['sido_nm'][sido_idx]
    
# sido(0,10)

### 전체 주소 병합

In [152]:
# 전체 주소 병합
idx    = df_open[~df_open['주소전체'].str.contains('제주시')].index
idx_jj = df_open[df_open['주소전체'].str.contains('제주시')].index
df_open['도로명주소'][idx]    = df_open['sido'][idx] + ' ' + df_open['주소전체'][idx].str.split(' ').str[1] + ' ' + df_open['도로명주소'][idx]
df_open['도로명주소'][idx_jj] = df_open['sido'][idx_jj] + ' ' + df_open['주소전체'][idx_jj].str.split(' ').str[1]+ ' ' + df_open['주소전체'][idx_jj].str.split(' ').str[2] + ' ' + df_open['도로명주소'][idx_jj]

In [471]:
df_open

,NO.,점포명,주소전체,도로명주소,sido,bd_mgt_sn
0,1,오산원동대림점,경기 오산시 원동 900(오산로132번길 8),경기도 오산시 오산로132번길 8,경기도,148535 4137010300109000000000003 Name: bd_m...
1,2,병점스테이점,"경기 화성시 병점동 374-5, 101호(떡전골로 72-6)",경기도 화성시 떡전골로 72-6,경기도,4420025325115710000000001
2,3,정남만년로점,경기 화성시 정남면 괘랑리 305-11(괘랑리 305-11),경기도 화성시 괘랑리 305-11,경기도,"Series([], Name: bd_mgt_sn, dtype: object)"
3,4,화성남양양우점,"경기 화성 남양읍 남양리 2294-9 103,104호(시청로 66)",경기도 화성 시청로 66,경기도,762891 4715010800103940004003428 887818 ...
4,5,안양미도점,경기 안양시 만안구 안양동 371-6(안양로 29),경기도 안양시 안양로 29,경기도,21155 4117110100106760215007997 221988 ...
...,...,...,...,...,...,...
424,425,부안하이스트점,"전북 부안군 부안읍 서외리 446-3, 상가동 114호, 115호(번영로 63-10)",전라북도 부안군 번영로 63-10,전라북도,"Series([], Name: bd_mgt_sn, dtype: object)"
425,426,제주외도부영점,제주 제주시 외도일동 550-10(우정로11길 12),제주특별자치도 제주시 외도일동 우정로11길 12,제주특별자치도,603022 5011012300105500010000001 Name: bd_m...
426,427,서귀포신천리점,제주 서귀포시 성산읍 신천리 220-10(신천로49번길 32),제주특별자치도 서귀포시 신천로49번길 32,제주특별자치도,"Series([], Name: bd_mgt_sn, dtype: object)"
427,428,서귀포신산리점,제주 서귀포시 성산읍 신산리 607-2(일주동로 5065),제주특별자치도 서귀포시 일주동로 5065,제주특별자치도,945236 5013025927106070002000003 Name: bd_m...
428,429,제주시민회관점,제주 제주시 이도일동 1527-3(중앙로19길 2),제주특별자치도 제주시 이도일동 중앙로19길 2,제주특별자치도,217842 4719010100102200004016924 244345 ...

### KT 병합

In [153]:
# 건물 기준 중복 제거
df_kt = df_kt.drop_duplicates('bd_mgt_sn')
df_kt = df_kt.reset_index(drop=True)

In [466]:
# 도로명 주소 포맷 맞추기
df_kt[['buld_mnnm','buld_slno']] = df_kt[['buld_mnnm','buld_slno']].astype(str)
df_kt['도로명주소'] = df_kt['sido_nm'] + ' ' + df_kt['sig_nm'] + ' ' + df_kt['rn'] + ' ' + df_kt['buld_mnnm'] + '-' + df_kt['buld_slno']

In [362]:
# 주소 매칭
df_open['bd_mgt_sn'] = 0
idx_co = df_open[df_open['도로명주소'].isin(df_kt['도로명주소'])].index
idx_in = df_open[~df_open['도로명주소'].isin(df_kt['도로명주소'])].index # df_kt에 없는 주소 인덱스 담음

In [376]:
# 주소 일치하는 경우
idx = df_kt[df_kt['도로명주소'].isin(df_open['도로명주소'][idx_co])].index
df_open['bd_mgt_sn'][idx_co] = df_kt['bd_mgt_sn'][idx].astype(str)

In [491]:
a = []

In [493]:
# 주소가 일치하지 않는 경우
for i in idx_in:
    name_ = df_open.loc[i,'도로명주소'].split(' ')[-2] + ' ' + df_open.loc[i,'도로명주소'].split(' ')[-1] # 도로명 주소(00번길 0-0)만 추출
    try:
        idx = df_kt[df_kt['도로명주소'].str.contains(name_, na=False)].index # df_kt에 일치하는 주소가 있는 지 확인
        df_open['bd_mgt_sn'][i] = list(df_kt['bd_mgt_sn'])[idx[0]] # 해당 인덱스에 건물번호값 대입
    except:
        a.append(i)
        pass

In [472]:
df_kt['bd_mgt_sn'][2]

'1156013200102040006011908'

In [487]:
list(df_kt['bd_mgt_sn'])[148535]

'4137010300109000000000003'

In [481]:
idx = df_kt[df_kt['도로명주소'].str.contains('경기도 오산시 오산로132번길 8', na=False)].index

In [500]:
df_open[df_open['bd_mgt_sn'].str.contains('Series', na=False)]

Empty DataFrame
Columns: [NO., 점포명, 주소전체, 도로명주소, sido, bd_mgt_sn]
Index: []

In [513]:
df_open[df_open['bd_mgt_sn'].astype(str).str.contains('Series')]

,NO.,점포명,주소전체,도로명주소,sido,bd_mgt_sn
2,3,정남만년로점,경기 화성시 정남면 괘랑리 305-11(괘랑리 305-11),경기도 화성시 괘랑리 305-11,경기도,"Series([], Name: bd_mgt_sn, dtype: object)"
6,7,봉천샛별점,서울 관악구 봉천동 968-3(봉천로 295-1),서울특별시 관악구 봉천로 295-1,서울특별시,"Series([], Name: bd_mgt_sn, dtype: object)"
8,9,상도아람점,서울 동작구 상도동 301-40(국사봉8길77),서울특별시 동작구 국사봉8길77,서울특별시,"Series([], Name: bd_mgt_sn, dtype: object)"
9,10,경기드림타워점,경기 수원시 이의동 934-11 경기드림타워1층(광교산로 154-42),경기도 수원시 광교산로 154-42,경기도,"Series([], Name: bd_mgt_sn, dtype: object)"
10,11,산본한라2차점,경기 군포시 산본동 1156-25(번영로330),경기도 군포시 번영로330,경기도,"Series([], Name: bd_mgt_sn, dtype: object)"
...,...,...,...,...,...,...
411,412,창녕남지유채점,경남 창녕군 남지읍 남지리 979-1(남지중앙1긹 56),경상남도 창녕군 남지중앙1긹 56,경상남도,"Series([], Name: bd_mgt_sn, dtype: object)"
412,413,진도조도점,전남 진도군 조도면 창유리 2876(어류포길1-4),전라남도 진도군 어류포길1-4,전라남도,"Series([], Name: bd_mgt_sn, dtype: object)"
421,422,전주빌리언점,전북 전주시 완산구 서서학동 서서학동117-2(공수내로19),전라북도 전주시 공수내로19,전라북도,"Series([], Name: bd_mgt_sn, dtype: object)"
424,425,부안하이스트점,"전북 부안군 부안읍 서외리 446-3, 상가동 114호, 115호(번영로 63-10)",전라북도 부안군 번영로 63-10,전라북도,"Series([], Name: bd_mgt_sn, dtype: object)"
426,427,서귀포신천리점,제주 서귀포시 성산읍 신천리 220-10(신천로49번길 32),제주특별자치도 서귀포시 신천로49번길 32,제주특별자치도,"Series([], Name: bd_mgt_sn, dtype: object)"

In [514]:
df_open.to_excel('./4_6월 오픈점리스트_건물번호(120개 남음).xlsx', index=False)

In [515]:
DF = pd.read_excel('./4_6월 오픈점리스트_건물번호(120개 남음).xlsx')

###### test

In [516]:
# 부번이 -0으로 들어간 경우
df_sub = df_open[~df_open['도로명주소'].isin(df_kt['도로명주소'])]
df_sub = df_sub.reset_index(drop=True)
idx_0  = []
nm_list= []

In [338]:
for i in df_sub.index:
    idx_0.append(df_kt[[df_kt['도로명주소'].str.contains(df_sub['도로명주소'][i], na=False)]].index)
    nm_list.append(i)

In [342]:
df_sub['bd_mgt_sn'] = 0
df_sub['bd_mgt_sn'][i] = df_kt.loc[idx_0,'bd_mgt_sn']

TypeError: unhashable type: 'Int64Index'

In [517]:
# 주소 수정 후 다시 돌림
df_open['도로명주소'][i] = df_open['도로명주소'][idx_sub].str.split(')').str[0]

###### test

### 세부주소 포맷
(([가-힣]+(d|)+(읍|면|동|가|리)) # 읍면동 찾기
( |)((d(~|-)d|d)(가|리|)|)) # 리
([ ](산(d(~|-)d|d))|)|(([가-R]|(d(~|-)d)|d)+(로|길)) #로길
+[ ,]+
(((d)|(d번지)|(d(~|-)d)|(d(~|-)d번지))|(((지하)d)|((지하)d번지)|((지하)d(~|-)d)|((지하)d(~|-)d번지)))

In [ ]:
import re

In [10]:
df_open

     NO.      점포명                                             주소전체
0      1  오산원동대림점                        경기 오산시 원동 900(오산로132번길 8)
1      2   병점스테이점                경기 화성시 병점동 374-5, 101호(떡전골로 72-6)
2      3   정남만년로점                경기 화성시 정남면 괘랑리 305-11(괘랑리 305-11)
3      4  화성남양양우점            경기 화성 남양읍 남양리 2294-9 103,104호(시청로 66)
4      5    안양미도점                     경기 안양시 만안구 안양동 371-6(안양로 29)
..   ...      ...                                              ...
424  425  부안하이스트점  전북 부안군 부안읍 서외리 446-3, 상가동 114호, 115호(번영로 63-10)
425  426  제주외도부영점                    제주 제주시 외도일동 550-10(우정로11길 12)
426  427  서귀포신천리점              제주 서귀포시  성산읍 신천리 220-10(신천로49번길 32)
427  428  서귀포신산리점                제주 서귀포시  성산읍 신산리 607-2(일주동로 5065)
428  429  제주시민회관점                     제주 제주시 이도일동 1527-3(중앙로19길 2)

[429 rows x 3 columns]

In [551]:
# 시도 검색
regex = r'(([가-힣]+(시|도))( |)[가-힣]+(시|군|구))'
test  = '제주특별자치도 서귀포시 일주동로 5065'
x = re.search(regex, test)
x.group()

'제주특별자치도 서귀포시'

In [558]:
# 시도 검색 ver2
regex = r'(([가-힣]+(시|도)|[서울]|[인천]|[대구]|[광주]|[부산]|[울산])( |)[가-힣]+(시|군|구))|'
test  = '제주특별자치도 서귀포시 일주동로 5065'
x = re.search(regex, test)
x.group()

'제주특별자치도 서귀포시'

In [560]:
# 읍면동 검색
regex = r'([가-힣]+(d|d(,|.)d|)+(읍|면|동|가|리))(^구|)'
test  = '제주특별자치도 서귀포시 일주동로 5065'
x = re.search(regex, test)
x.group()

'일주동'

In [566]:
# 읍면동 검색
regex = r'((d(~|-)d|d)(가|리|)|)|(([가-힣]|(d(~|-)d)|d)+(로|길))'
test  = '제주특별자치도 서귀포시 일주리 일주동로 5065'
x = re.search(regex, test)
x.group()

''

In [528]:
# regex = r'(\w+[시,도]\s*)?(\w+[구,시,군]\s*)?(\w+[구,시,로]\s*)?(\w+[면,읍]\s*)?(\w+\d*\w*[동,리,로,길]\s*)?(\w*\d+-?\d*)?' # 법정동 포맷
# regex = r'(\w+[시,도]\s*)?(\w+[구,시,군]\s*)?(\w+[구,시,로]\s*)?(\w+\d*\w*[리,로,길]\s*)?(\w+\d*\w*[길]\s*)?(\w*\d+-?\d*)?' # 도로명 포맷
regex = r'(\w+\d*\w*[길]\s*)?(\w*\d+-?\d*)?' # 도로명(00길 0-0) 포맷
test  = '제주특별자치도 서귀포시 일주동로 5065'
x = re.search(regex, test)
x.group()

''

In [99]:
# regex = r'(\w+\d*\w*[로]\s*)?(\w*\d+-?\d*)?'

In [104]:
all_ = []

In [105]:
all_values = df_open[~df_open['도로명주소'].isin(df_kt['도로명주소'])]['도로명주소']
for s in all_values:
    x = re.search(regex, s)
    all_.append(x.group())

In [107]:
df_open[~df_open['도로명주소'].isin(df_kt['도로명주소'])]['도로명주소']

0              경기도 오산시 오산로132번길 8
2              경기도 화성시 괘랑리 305-11
3                   경기도 화성 시청로 66
4                  경기도 안양시 안양로 29
5                경기도 수원시 서수원로 607
                  ...
424            전라북도 부안군 번영로 63-10
425    제주특별자치도 제주시 외도일동 우정로11길 12
426       제주특별자치도 서귀포시 신천로49번길 32
427        제주특별자치도 서귀포시 일주동로 5065
428     제주특별자치도 제주시 이도일동 중앙로19길 2
Name: 도로명주소, Length: 410, dtype: object

In [106]:
all_

['경기도 오산시 오산로132번길 8',
 '경기도 화성시 괘랑리 305-11',
 '경기도 ',
 '경기도 안양시 안양로 29',
 '경기도 수원시 서수원로 607',
 '서울특별시 관악구 봉천로 295-1',
 '서울특별시 관악구 ',
 '서울특별시 동작구 국사봉8길77',
 '경기도 수원시 광교산로 154-42',
 '경기도 군포시 번영로330',
 '경기도 군포시 용호1로5번길11',
 '경기도 군포시 당동로 32번길 25',
 '인천광역시 부평구 새갈로 10',
 '인천광역시 부평구 주부토로 236',
 '인천광역시 부평구 주부토로 236',
 '인천광역시 중구 운중로175',
 '인천광역시 남동구 문화서로17번길6',
 '인천광역시 중구 하늘달빛로 95',
 '인천광역시 부평구 주부토로 69',
 '인천광역시 계양구 경명대로 ',
 '인천광역시 계양구 계양대로 ',
 '인천광역시 서구 ',
 '인천광역시 서구 대곡로123번길 4',
 '인천광역시 미추홀구 경원대로864번길12',
 '인천광역시 동구 연송로 4',
 '경기도 남양주시 남가로 1817',
 '경기도 포천시 금강로 3137',
 '경기도 남양주시 진건오남로884번길23',
 '경기도 의정부시 세석로20',
 '경기도 남양주시 수레로 587',
 '경기도 가평군 비룡로 1972',
 '서울특별시 도봉구 시루봉로 205',
 '서울특별시 성북구 장위로 38',
 '서울특별시 강북구 노해로 56',
 '서울특별시 서대문구 응암로 126',
 '서울특별시 중구 무교로13',
 '서울특별시 성북구 서경로28',
 '경기도 동두천시 동두천로175',
 '경기도 파주시 자유로 2210',
 '경기도 양주시 그루고개로210',
 '경기도 양주시 부흥로 2162',
 '경기도 고양시 통일로 1282',
 '경기도 양주시 평화로 1261번길 82',
 '경기도 고양시 호수로 856번길 56-1',
 '경기도 김포시 봉화로182번길 33',
 '경기도 광주시 봉골길 86-1',
 '서울특별시 송파구 백제고분로 24길 3',
 '경기도 광주시 담안길 24',
 '경기도 이천시 향교로49',
 '경기도 광주시 광여로489',
 '경기도 이천시 진상미로2158',
 '경기도 용인시 고기로45번길 40',
 '경기도 용인시 동백죽전대로527번길 100-20',
 '경기도 성남시 순환로198번길 12',
 '경기도 용인시 용구대로 2771번길 66',
 '경기도 성남시 공원로 360',
 '강원도 삼척시 ',
 '강원도 원주시 남원로 252',
 '강원도 화천군 봉오새싹길2',
 '강원도 춘천시 ',
 '강원도 춘천시 김유정로 1864',
 '대전광역시 중구 ',
 '대전광역시 중구 1',
 '대전광역시 중구 3',
 '대전광역시 유성구 성대로1689번길 28',
 '대전광역시 유성구 안북로 62',
 '대전광역시 유성구 전민로70번길 13',
 '경기도 안성시 안성맞춤대로 792',
 '경기도 안성시 비룡1길 31',
 '경기도 안성시 미륵로 307',
 '충청북도 옥천군 지전리 75-13',
 '충청북도 청주시 무농정로 116-6',
 '충청남도 논산시 관촉로 289',
 '충청북도 청주시 관정길 185-41',
 '충청남도 천안시 천흥4길 88',
 '충청남도 천안시 중앙로 225',
 '경기도 평택시 경기대로 1188',
 '경기도 평택시 이충로35번길 51',
 '충청남도 아산시 스마트산단1로 23',
 '경기도 평택시 평택4로 56',
 '충청남도 홍성군 내포로 239',
 '충청남도 서산시 한티로 297',
 '대구광역시 달서구 월배로75길 27',
 '대구광역시 서구 채보상로43길 15',
 '대구광역시 달성군 테크노대로5길 57',
 '대구광역시 달서구 조암남로 43',
 '대구광역시 서구 염색공단천로 2',
 '대구광역시 달성군 세천로7길 15',
 '경상북도 구미시 봉곡로 6길 24',
 '경상북도 봉화군 봉화로 1090',
 '대구광역시 북구 대구 ',
 '대구광역시 수성구 동대구로 336',
 '경상북도 안동시 퇴계로 2125',
 '경상북도 경산시 경안길43길26',
 '경상북도 포항시 문덕로53번길 11',
 '경상북도 ',
 '경상북도 경산시 공단로 505',
 '부산광역시 남구 유엔평화로 8',
 '부산광역시 수영구 연수로357번길 8',
 '부산광역시 부산진구 성지로 123',
 '부산광역시 사하구 사리로106',
 '부산광역시 사하구 낙동대로372번길 10',
 '경상남도 양산시 양주2길 48',
 '울산광역시 남구 문수로483번길 5',
 '울산광역시 북구 신천로 103',
 '경상남도 거제시 아주2로 137',
 '경상남도 남해군 남해대로 3623',
 '광주광역시 동구 ',
 '광주광역시 북구 설죽로 620',
 '전라남도 영암군 ',
 '전라남도 무안군 공원길34',
 '전라남도 광양시 가야로 345',
 '광주광역시 광산구 왕버들로 265',
 '전라북도 임실군 춘향로 2036',
 '전라북도 장수군 장수로 476',
 '전라북도 군산시 동메3길 31',
 '전라북도 군산시 미장남로 100',
 '전라북도 남원시 왕정동122-1',
 '전라북도 전주시 봉곡2길23',
 '전라북도 전주시 송천로 24',
 '전라북도 김제시 원평9길7',
 '제주특별자치도 제주시 조천읍 신북로 66',
 '제주특별자치도 제주시 애월읍 일주서로 6288',
 '서울특별시 금천구 독산로 364',
 '경기도 의왕시 내손공원길 65',
 '서울특별시 강남구 테헤란로7길22',
 '경기도 화성시 궁평항로 104',
 '경기도 화성시 수촌큰말길 1',
 '경기도 화성시 장안로 894',
 '경기도 화성시 만년로 471',
 '경기도 화성시 버들로 1063',
 '경기도 화성시 조암동로 10',
 '경기도 화성시 경기동로 489',
 '경기도 수원시 서둔로200번길 23',
 '경기도 수원시 월드컵로453번길 32',
 '경기도 화성시 동탄문화센터로 39',
 '경기도 안양시 비산로 17',
 '경기도 부천시 소사로 300번길 62',
 '경기도 안양시 덕천로 152번길 25',
 '경기도 안양시 덕천로 152번길 25',
 '경기도 부천시 신흥로 61',
 '경기도 안산시 성포로30',
 '경기도 시흥시 수인로3312번길 16',
 '경기도 시흥시 은계번영길 1',
 '인천광역시 연수구 ',
 '인천광역시 연수구 컨벤시아대로230번길 54',
 '인천광역시 부평구 광장로 지하15',
 '인천광역시 미추홀구 수봉로 33번길 28-26',
 '인천광역시 남동구 용천로153번길11',
 '인천광역시 연수구 새말로107번길 6',
 '인천광역시 미추홀구 주안동로 12번길 2',
 '인천광역시 부평구 부평문화로16번길 19',
 '인천광역시 부평구 경인로 1103',
 '인천광역시 동구 솔빛로 17',
 '경기도 구리시 동구릉로136번길 90',
 '경기도 포천시 봉솔로 20-1',
 '경기도 남양주시 소래비로 450',
 '경기도 구리시 안골로63번길 14',
 '경기도 포천시 청군로 3133',
 '경기도 남양주시 별내3로 26',
 '서울특별시 광진구 아차산로70길 75',
 '서울특별시 용산구 원효로97길 15',
 '서울특별시 종로구 종로6',
 '서울특별시 강북구 오현로 156',
 '서울특별시 노원구 중계로8길 40',
 '서울특별시 마포구 월드컵북로20안길 1',
 '서울특별시 도봉구 방학로3길 108',
 '경기도 파주시 운정4길 190',
 '경기도 파주시 산남로 97',
 '경기도 고양시 킨텍스로 255-3',
 '경기도 파주시 안능안길 6',
 '경기도 파주시 부흥로 30',
 '경기도 파주시 엘지로 220',
 '경기도 고양시 ',
 '서울특별시 양천구 중앙로48길 34',
 '서울특별시 양천구 곰달래로5길 59',
 '서울특별시 구로구 동로11길 26',
 '경기도 김포시 담터로 2',
 '경기도 광주시 도곡길 26',
 '서울특별시 송파구 백제고분로 50길 19-28',
 '경기도 하남시 천현로 73',
 '서울특별시 강동구 천호대로 1172',
 '경기도 용인시 백옥대로 737',
 '경기도 성남시 판교대장로3길 30',
 '경기도 성남시 복정로 158길 5',
 '경기도 성남시 태평로 74번길 21-1',
 '경기도 성남시 서현로210번길 2',
 '충청북도 충주시 동수11길 27',
 '충청북도 충주시 지곡10길 16',
 '강원도 원주시 반산1로 22',
 '강원도 춘천시 방송길 77',
 '강원도 원주시 ',
 '강원도 강릉시 범일로 597',
 '강원도 원주시 양지로 80',
 '강원도 원주시 북원로2485번길 26',
 '강원도 속초시 청초호반로 54',
 '강원도 고성군 백도해변길78',
 '대전광역시 동구 계족로512번길 88',
 '대전광역시 서구 저동로90번길 47',
 '대전광역시 동구 동대전로 131번길 40-2',
 '충청북도 음성군 북부로 547',
 '충청북도 음성군 음성로 383',
 '충청북도 음성군 덕금로 15',
 '충청북도 청주시 호미로201번길 37',
 '충청북도 청주시 산성로55번길 15',
 '충청남도 논산시 안심로 9',
 '충청북도 영동군  영산로 42',
 '충청남도 계룡시 금암로 135',
 '충청북도 청주시 오송생명11로 121',
 '충청북도 청주시 오산가좌로 388',
 '충청남도 천안시 성환9길 3-2',
 '세종특별자치시 세종시 국세청로 46',
 '세종특별자치시 세종시 나성북로 47',
 '충청남도 아산시 서부북로 582',
 '충청남도 아산시 월천4길 89',
 '경기도 평택시 지산1로 67',
 '경기도 평택시 포승공단로 239',
 '경기도 평택시 청북로 413',
 '충청남도 서산시 안견로 294',
 '충청남도 공주시 웅진로 131',
 '충청남도 서산시 예천4로 21',
 '대구광역시 달서구 월배로23길 13',
 '대구광역시 달성군 달구벌대로 844',
 '대구광역시 달서구 달구벌대로 1834',
 '대구광역시 달성군 서재로 56',
 '경상북도 칠곡군 구상길 157',
 '경상북도 구미시 공원로 370',
 '경상북도 안동시 경서로 4191',
 '경상북도 구미시 구미중앙로 72',
 '경상북도 구미시 봉곡북로15길 11',
 '대구광역시 수성구 대구 ',
 '대구광역시 중구 명덕로 33',
 '대구광역시 중구 달구벌대로 ',
 '대구광역시 동구 대구 ',
 '대구광역시 수성구 청수로24길 90',
 '경상북도 청도군 연지로 240',
 '경상북도 포항시 중앙로 419번길 22',
 '경상북도 경주시 대안길35번길10-1',
 '경상북도 포항시 청하로243번길 3',
 '부산광역시 북구 낙동대로 1684',
 '부산광역시 금정구 금강로279번길 67',
 '부산광역시 동구 수정공원로 113',
 '부산광역시 사하구 다대로 328',
 '부산광역시 부산진구 새싹로 127',
 '경상남도 양산시 계석로 14',
 '울산광역시 울주군 울산역로 373',
 '울산광역시 남구 월평로 70',
 '부산광역시 기장군 반송로 1407',
 '경상남도 양산시 삼호로 142',
 '경상남도 김해시 구산로 42번길 16',
 '경상남도 창원시 3',
 '경상남도 창원시 월영동13길 9',
 '경상남도 창원시 석동로 73번길 9',
 '경상남도 진주시 충의로282-5',
 '광주광역시 남구 화정로260번길 35',
 '전라남도 영암군 마한로 1261',
 '전라남도 영암군 예향로 1796',
 '광주광역시 광산구 소촌로 149번길 36-1',
 '전라남도 여수시 웅천로 371',
 '전라남도 여수시 돌산로 881',
 '전라북도 전주시 문학로8',
 '전라북도 남원시 244-1',
 '전라북도 익산시 동천로1길 9',
 '전라북도 군산시 가도로207',
 '전라북도 전주시 떡전3길 15-1',
 '전라북도 전주시 만성중앙로17-59',
 '제주특별자치도 서귀포시 평화로 618',
 '제주특별자치도 제주시 건입동 산지로23-2',
 '제주특별자치도 제주시 화북일동 진남로33',
 '제주특별자치도 제주시 연동 ',
 '경기도 군포시 오금로 71',
 '서울특별시 관악구 남부순환로161가길 6',
 '경기도 군포시 273번길 3-11',
 '서울특별시 동작구 대림로2',
 '서울특별시 관악구 조원로 15-2',
 '서울특별시 금천구 가산디지털2로 35',
 '경기도 화성시 송산산단3길 32',
 '경기도 화성시 삼천병마로 894-4',
 '경기도 화성시 서해로 434',
 '경기도 화성시 병점중앙로 83',
 '경기도 ',
 '경기도 수원시 덕영대로803번길 11',
 '경기도 화성시 동탄순환대로 14길 10',
 '경기도 수원시 정조로482번길 20',
 '경기도 부천시 경인로134번길 89',
 '경기도 부천시 경인로 463번가길 1',
 '경기도 시흥시 함송로 24',
 '경기도 안산시 화정로1길 23',
 '인천광역시 남동구 만수서로 53',
 '경기도 안산시 시화호수로 835',
 '인천광역시 남동구 석산로 166',
 '인천광역시 계양구 효서로363번길 4',
 '인천광역시 중구 백운로4',
 '인천광역시 미추홀구 석정로 10번길 25',
 '인천광역시 동구 방축로 191',
 '인천광역시 미추홀구 참외전로260',
 '인천광역시 미추홀구 참외전로 268',
 '인천광역시 서구 청라한내로 132',
 '인천광역시 서구 검암로 40번길 5-1',
 '경기도 의정부시 동일로711번길 11',
 '경기도 남양주시 ',
 '경기도 포천시 영일로989',
 '경기도 구리시 동구릉로460번길 9',
 '경기도 양평군 ',
 '경기도 포천시 호국로3586',
 '경기도 남양주시 경춘로 1718',
 '경기도 남양주시 비룡로 318',
 '서울특별시 성북구 화랑로48길 16',
 '서울특별시 동대문구 한빛로39',
 '서울특별시 마포구 성암로 179',
 '서울특별시 강북구 삼양로77가길 9',
 '서울특별시 노원구 동일로231길 86',
 '서울특별시 성북구 장월로 136',
 '경기도 양주시 칠봉산로 224',
 '경기도 양주시 고읍남로191번길 79',
 '경기도 양주시 ',
 '경기도 고양시 탄중로 233번길 2',
 '경기도 양주시 고암2나길 35',
 '경기도 김포시 김포한강11로 38',
 '인천광역시 강화군 강화남로 498',
 '서울특별시 강서구 우장산로15길 53',
 '서울특별시 강서구 ',
 '서울특별시 영등포구 도림로 144',
 '경기도 이천시 충대로2936번길 55',
 '경기도 광주시 모개미길 28',
 '서울특별시 강동구 천중로 17길 30',
 '서울특별시 송파구 석촌호수로 82',
 '서울특별시 강동구 구천면로 361',
 '경기도 광주시 양촌안길 35-62',
 '서울특별시 송파구 올림픽로 35길 112',
 '경기도 용인시 원양로475',
 '경기도 성님시 구미로100',
 '경기도 성남시 산성대로 468-1',
 '경기도 용인시 서그내로53번길 27-4',
 '경기도 여주시 이여로 1221',
 '강원도 영월군 단종로 179',
 '강원도 원주시 치악로 1615',
 '강원도 강릉시  해안로 904-4',
 '강원도 원주시 림황둔로 187',
 '강원도 고성군 천학정길 21',
 '강원도 양양군 동해대로 3347',
 '강원도 속초시 영랑행안8길 11',
 '대전광역시 중구 보문로67번길 20',
 '대전광역시 중구 동서대로1321번길 95',
 '대전광역시 서구 갈마로 181',
 '대전광역시 유성구 월드컵대로253번길 37',
 '대전광역시 서구 신갈마로181번길 20',
 '대전광역시 동구 동서대로 1679',
 '충청북도 음성군 덕정로 51',
 '충청북도 음성군 교연로 880',
 '충청북도 청주시 중흥로 175',
 '충청북도 청주시 단재로 1629',
 '충청북도 청주시 두릉유리로 339',
 '충청남도 천안시 삼방로 221',
 '충청남도 동남구 신계5길 47',
 '충청남도 천안시 향교1길 120',
 '충청남도 천안시 대흥1길 173-57',
 '경기도 평택시 서동대로 1239',
 '충청남도 아산시 월천2길 8-26',
 '경기도 평택시 고덕로 270',
 '충청남도 아산시 북수로 31',
 '충청남도 부여군 북토로 36',
 '충청남도 서산시 벌말1길 40',
 '경상북도 성주군 선노로 109',
 '경상북도 고령군 상곡길28',
 '대구광역시 달성군 대실역북로2길185',
 '대구광역시 달성군 비슬로539길 17',
 '경상북도 구미시 남문로21',
 '경상북도 구미시 인동중앙로5길 18',
 '경상북도 청도군 송서11길 4',
 '경상북도 구미시 산호대로27길 46',
 '대구광역시 동구 동부로 30길 69',
 '대구광역시 수성구 들안로78길 45',
 '대구광역시 동구 혁신대로 82',
 '경상북도 경산시 경산로 280',
 '경상북도 경산시 봉황길 70',
 '경상북도 영천시 칠백로 841-1',
 '경상북도 포항시 연일중앙로67',
 '부산광역시 수영구 수영로652번길 26',
 '부산광역시 동구 초량상로79번길 24',
 '울산광역시 북구 매산로 92',
 '울산광역시 울주군 방천5길 23',
 '부산광역시 기장군 ',
 '울산광역시 북구 무룡로 68',
 '부산광역시 동래구 사직로14번길 15',
 '경상남도 양산시 양산역6길 17',
 '경상남도 김해시 장유로171',
 '경상남도 양산시 청운로 343',
 '경상남도 밀양시 산외로 14',
 '경상남도 창원시 이동로28번길 3',
 '경상남도 밀양시 미리벌중앙로 83',
 '경상남도 남해군 남서대로1179번길 59',
 '경상남도 진주시 큰들로66',
 '경상남도 창원시 도계로 66',
 '경상남도 창녕군 남지중앙1',
 '전라남도 진도군 어류포길1-4',
 '전라남도 목포시 통일대로 11',
 '전라남도 목포시 해안로 148번길 14',
 '전라남도 여수시 오동도로 66',
 '전라남도 영광군 신남로 270',
 '전라남도 여수시 신월로 801',
 '전라남도 여수시 서부로 1891',
 '전라북도 전주시 공수내로19',
 '전라북도 전주시 태평4길 11',
 '전라북도 익산시 궁동로 109',
 '전라북도 부안군 번영로 63-10',
 '제주특별자치도 제주시 외도일동 우정로11길 12',
 '제주특별자치도 서귀포시 신천로49번길 32',
 '제주특별자치도 서귀포시 일주동로 5065',
 '제주특별자치도 제주시 이도일동 중앙로19길 2']

In [21]:
df_kt[df_kt['도로명주소'].str.contains(test, na=False)]

Empty DataFrame
Columns: [base_ym, bd_mgt_sn, sido_cd, sido_nm, sig_cd, sig_nm, emd_cd, emd_nm, rn_cd, rn, buld_mnnm, buld_slno, ftc_cate2_cd, pred_slng_amt, 도로명주소]
Index: []

In [ ]:
# 주소 쪼개서 검색
idx = df_kt[df_kt['도로명주소'].str.contains('서울특별시 영등포구', na=False) & df_kt['도로명주소'].str.contains('도신로48길', na=False) & df_kt['도로명주소'].str.contains('11-2', na=False)].index

인덱스 추출 -> 값 추출

In [ ]:
# 부번이 -0으로 들어간 경우 -> 값으로 들어가지 않고 
idx_sub = []
for i in idx_in:
    try:
        idx_0 = df_kt[df_kt['도로명주소'].str.contains(df_open['도로명주소'][i], na=False)].index
        df_open['bd_mgt_sn'][i] = df_kt.loc[idx_0,'bd_mgt_sn'].values[0]
    except:
        print(i)
        idx_sub.append(i)
        pass

# 주소 수정 후 다시 돌림
df_open['도로명주소'][idx_sub] = df_open['도로명주소'][idx_sub].str.split(')').str[0]
for i in idx_sub:
    try:
        idx_0 = df_kt[df_kt['도로명주소'].str.contains(df_open['도로명주소'][i], na=False)].index
        df_open['bd_mgt_sn'][i] = df_kt.loc[idx_0,'bd_mgt_sn'].values[0]
    except:
        print(i)
        idx_sub.append(i)
        pass

### 법정동 변환/수집 (크레마오에서 크롤링)

In [15]:
import time
from tqdm import tqdm

import requests
import urllib
from urllib.request import urlopen
from html_table_parser import parser_functions

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.select import Select

DF명, XPath 수정 후 사용

In [184]:
# 법정동명, 법정동 코드 가져오기
def get_text():
    bcode.append(driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-bcode'))
    sido    = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-sido')    # 시도
    sigungu = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-sigungu') # 군구
    bname   = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li').get_attribute('data-bname2')  # 법정동
    lgdng_nm_list.append(sido + ' ' + sigungu + ' ' + bname)
    lgdng_full_nm_list.append(driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/ul/li/dl/dd[1]/span/button/span[1]').text)

In [185]:
# 주소 검색
def search():
    miss_index = []
    for i in tqdm(df_open.index):
        searchByName = driver.find_element_by_xpath('//*[@id="region_name"]')                        # 검색창 선택
        searchByName.clear()                                                                         # 기존 입력 삭제
        
        time.sleep(1)
        
        searchByName.send_keys(df_open['주소전체'][i])                                               # 검색어 입력
        click = driver.find_element_by_xpath('//*[@id="searchForm"]/fieldset/div/button[2]').click() # 검색 버튼 클릭
        
        time.sleep(1)
        
        try:
            get_text()                                                                                # 주소 가져오기
            corp_nm.append(df_open['점포명'][i])
        except:
            miss_index.append(i)
            pass

In [186]:
# 기본 틀
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://postcode.map.daum.net/search?origin=https%3A%2F%2Fdev.cremao.co.kr&indaum=off&banner=on&ubl=on&mode=transmit&vt=layer&amr=on&amj=on&ani=off&sd=off&fi=on&fc=on&plrg=&plrgt=1.5&hmb=off&heb=off&asea=off&smh=off&zo=on&us=on&msi=10&ahs=off&whas=500&sm=on&a51=off&theme=BODY.bg_FFFFFF-SEARCH.bg_FFFFFF.placeHolder_bbbbbb.bottomLine_858585-LOGO.text_888888.logoTextDividingLine_cccccc&bit=0&sit=0&sgit=0&sbit=0&pit=0&mit=0&lcit=0&zn=Y&fullpath=%2Fmain')

# 주소 수집
bcode = []              # 법정동 코드
corp_nm = []            # 매장명
lgdng_nm_list = []      # 법정동 명
lgdng_full_nm_list = [] # 법정동 전체 주소
search()

driver.close()

# 저장
df = pd.DataFrame({'corp_nm':corp_nm, 'lgdng_nm_list':lgdng_nm_list,'lgdng_full_nm_list':lgdng_full_nm_list,'bcode':bcode})
df.to_excel('./법정동주소.xlsx', index=False)

100%|████████████████████████████████████████████████████████████████████████████████| 429/429 [15:56<00:00,  2.23s/it]

###### 제대로 안 담겼을 때

In [151]:
df = pd.DataFrame({'lgdng_nm_list':lgdng_nm_list,'lgdng_full_nm_list':lgdng_full_nm_list})

In [153]:
corp_nm = pd.DataFrame({'bcode':bcode})

In [132]:
corp_nm = pd.DataFrame({'corp_nm':corp_nm})

In [101]:
lgdng_nm.to_excel('./test.xlsx', index= False)

###### test

In [134]:
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get('https://postcode.map.daum.net/search?origin=https%3A%2F%2Fdev.cremao.co.kr&indaum=off&banner=on&ubl=on&mode=transmit&vt=layer&amr=on&amj=on&ani=off&sd=off&fi=on&fc=on&plrg=&plrgt=1.5&hmb=off&heb=off&asea=off&smh=off&zo=on&us=on&msi=10&ahs=off&whas=500&sm=on&a51=off&theme=BODY.bg_FFFFFF-SEARCH.bg_FFFFFF.placeHolder_bbbbbb.bottomLine_858585-LOGO.text_888888.logoTextDividingLine_cccccc&bit=0&sit=0&sgit=0&sbit=0&pit=0&mit=0&lcit=0&zn=Y&fullpath=%2Fmain')